section.aviso-terminos
	.container
		.column-izquierda
			h2 Aviso de privacidad
			p El presente aviso de privacidad se emite con el objeto de informarle sobre los lineamientos, políticas y procedimientos que se han implementado al interior de esta institución para proteger sus datos personales y en cumplimiento con lo establecido en el artículo 15 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el día 5 de julio de 2010.

			h3 Responsable de la protección de sus datos personales

			p El responsable del tratamiento de sus datos personales será MUSEO INTERACTIVO INFANTIL, A.C./ PAPALOTE MUSEO DEL NIÑO. Para efectos del presente aviso de privacidad, PAPALOTE MUSEO DEL NIÑO señala como su domicilio el ubicado en Av. Constituyentes No. 268, Colonia Daniel Garza, Delegación Miguel Hidalgo, México, D.F., C.P. 11830.

			h3 Finalidades para las que se recaban sus datos personales

			p Los datos personales que PAPALOTE MUSEO DEL NIÑO recabe serán utilizados para registrar, operar, dar seguimiento, actualizar y confirmar los productos o servicios que usted hubiese contratado.

			p Asimismo, PAPALOTE MUSEO DEL NIÑO podrá utilizar sus datos personales con fines promocionales, estadísticos y de mercadotecnia; para evaluar la calidad del servicio, para atender y dar seguimiento a quejas relativas a nuestros servicios y para realizar estudios sobre hábitos de consumo y preferencias; y serán resguardados bajo las más estrictas medidas de seguridad, ya sean físicas, técnicas o electrónicas, con la finalidad de limitar el uso o divulgación de los mismos.

			h3 Datos personales que pueden recabarse

			p Para las finalidades señaladas en el presente aviso de privacidad, PAPALOTE MUSEO DEL NIÑO recabará sus datos personales de la siguiente manera: a) solicitándole los proporcione de manera directa, a través de taquillas, módulos de información, áreas de atención a clientes, quejas y/o sugerencias o durante su acceso a nuestras instalaciones; b) durante su visita a nuestro sitio de Internet o cuando utiliza nuestros servicios en línea; c) telefónicamente a través de nuestros centros de servicio y d) a través de otras fuentes que están permitidas por la ley.

			p Los datos personales que PAPALOTE MUSEO DEL NIÑO recaba de forma directa, cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea, o por vía telefónica, son los datos necesarios para el cumplimiento de las finalidades señaladas en el presente aviso de privacidad, e incluyen algunos datos de identificación como su nombre y apellidos, género (masculino o femenino), fecha de nacimiento, edad, números telefónicos fijos o celulares, correos electrónicos, domicilio.

			p Asimismo, tratándose de boletos o comprobantes de pago, PAPALOTE MUSEO DEL NIÑO está obligado a requerirle datos adicionales que le permitan aplicar el pago, tales como número de tarjeta de crédito y fechas de expiración, los cuales serán encriptados y transferidos a la institución bancaria y no son considerados datos personales que requieran de su consentimiento expreso para ser utilizados conforme a lo establecido en los artículos 8°, 10° y 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

			p La Ley Federal de Protección de Datos Personales en Posesión de los Particulares permite que PAPALOTE MUSEO DEL NIÑO obtenga información suya de otras fuentes, tales como directorios telefónicos, de servicios o laborales. Los datos que obtenemos por estos medios son: nombres y apellidos, números telefónicos fijos y celulares y correos electrónicos.

			h3 Limitaciones para el uso o divulgación de sus datos personales

			p Usted puede cancelar su suscripción para recibir promociones, ofertas e información de PAPALOTE MUSEO DEL NIÑO por vía telefónica o por correo electrónico, para lo cual deberá elaborar una carta escrita en idioma español, en donde indique que desea dejar de recibir promociones, ofertas e información.

			p Dicha carta debe contener su nombre completo, así como su número telefónico o dirección de correo electrónico para ser localizado y deberá ser enviada a PAPALOTE MUSEO DEL NIÑO por correo electrónico a la dirección privacidad@papalote.org.mx , o ser entregada directamente en el domicilio de PAPALOTE MUSEO DEL NIÑO.

			h3 Derechos ARCO

			p Usted tiene derecho de acceder a sus datos personales en posesión de PAPALOTE MUSEO DEL NIÑO y a conocer los detalles sobre el tratamiento de los mismos; a rectificarlos en caso de que sean inexactos o incompletos; a cancelarlos cuando considere que no se requieren para alguna de las finalidades señaladas en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio; o a oponerse al tratamiento de los mismos para fines específicos.

			p Para el ejercicio de dichos derechos, deberá presentar por escrito y en idioma español, la solicitud respectiva en el domicilio de PAPALOTE MUSEO DEL NIÑO con atención a la Oficina de Privacidad; o hacerla llegar por correo postal, previo pago del porte correspondiente, a la antes mencionada dirección y con atención a la misma oficina; o enviarla a PAPALOTE MUSEO DEL NIÑO por correo electrónico a la dirección privacidad@papalote.org.mx

			p Su solicitud deberá contener la siguiente información: a) Nombre completo (incluyendo nombre o nombres y apellidos); b) indicación del domicilio o correo electrónico que designe para notificaciones y algún número telefónico de contacto; c) copia simple y legible del documento oficial a través del cual acredite su identidad o personalidad o, en medios electrónicos, versión digitalizada del mismo; d) descripción clara y precisa de los datos personales sobre los cuales desea ejercer el derecho.

			p En un plazo máximo de veinte días hábiles contados a partir de la fecha de recepción de su solicitud de acceso, rectificación, cancelación u oposición, le daremos respuesta a través de correo electrónico dirigido a su persona o mediante una carta enviada al domicilio que hubiera indicado para tales efectos (el plazo anterior se considerará cumplido al momento de entregar el documento al servicio postal).

			p Es importante mencionar que el ejercicio de cualquiera de dichos derechos no es requisito previo ni impide el ejercicio de otro derecho.

			p Asimismo, le informamos que usted tiene derecho a iniciar un Procedimiento de Protección de Datos Personales ante el Instituto Federal de Acceso a la Información y Protección de Datos (IFAI) dentro de los 15 días siguientes a la fecha en la que reciba la respuesta de PAPALOTE MUSEO DEL NIÑO o a partir de que concluya el plazo de 20 días hábiles contados a partir de la fecha de recepción de su solicitud de ejercicio de derechos por parte de PAPALOTE MUSEO DEL NIÑO, sin que se le hubiere emitido una respuesta.


			h3 Revocación del consentimiento para tratar sus datos personales

			p En todo momento, usted podrá revocar el consentimiento que ha otorgado a PAPALOTE MUSEO DEL NIÑO para el tratamiento de sus datos personales con el propósito de que se deje de hacer uso de los mismos. Para ello, es necesario que presente su solicitud por escrito y en idioma español, en el domicilio de PAPALOTE MUSEO DEL NIÑO con atención a la Oficina de Privacidad; o que la haga llegar por correo postal, previo pago del porte correspondiente, a la antes mencionada dirección y con atención a la misma oficina; o que la envíe a PAPALOTE MUSEO DEL NIÑO por correo electrónico a la dirección privacidad@papalote.org.mx

			p Su solicitud deberá contener la siguiente información: a) Nombre completo (incluyendo nombre o nombres y apellidos); b) indicación del domicilio o correo electrónico que designe para notificaciones y algún número telefónico de contacto; c) copia simple y legible del documento oficial a través del cual acredite su identidad o personalidad o, en medios electrónicos, versión digitalizada de la misma; d) descripción clara y precisa de los datos personales sobre los cuales desea ejercer el derecho.

			p En un plazo máximo de veinte días hábiles contados a partir de la fecha de recepción de su solicitud de revocación, le daremos respuesta sobre la procedencia de la misma, a través de correo electrónico dirigido a su persona o mediante una carta enviada al domicilio que hubiera designado para tales efectos (los veinte días se darán por cumplidos al momento de entregar el documento al servicio postal).

			h3 Transferencia de datos personales

			p Sus datos personales no serán transferidos a terceros sin su consentimiento, salvo en el caso de las sociedades subsidiarias, filiales, afiliadas, controladoras de Papalote Museo del Niño, o cuando dicha transferencia sea necesaria por virtud de un contrato celebrado o por celebrar entre Papalote Museo del Niño y un tercero, de conformidad con el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

			h3 Modificaciones al aviso de privacidad

			p Nos reservamos el derecho de efectuar, en cualquier tiempo, modificaciones o actualizaciones al presente aviso de privacidad, para adecuarlo a las modificaciones normativas, políticas internas o cualquier requerimiento para la prestación u ofrecimiento de nuestros servicios o productos.

			p Las modificaciones que se efectúen al presente aviso de privacidad le serán notificadas a través de cualquiera de los siguientes medios: un comunicado por escrito entregado en las instalaciones de PAPALOTE MUSEO DEL NIÑO, un mensaje enviado a su correo electrónico, o bien, a través de mensajes publicados en las instalaciones de PAPALOTE MUSEO DEL NIÑO. Asimismo, dichas modificaciones estarán disponibles a través de nuestra página de internet (sección aviso de privacidad).

			h3 Información en Internet

			p Le informamos que cuando accede a nuestro Portal en Internet, recibimos información referente a sus cookies y web beacons con el objeto de obtener información relativa a su tipo de navegador y sistema operativo, las páginas de Internet que ha visitado recientemente, los vínculos que recientemente ha seguido, la dirección IP de su computadora, el sitio que cerró antes de entrar a nuestro portal en Internet.

			p Proveedores de PAPALOTE MUSEO DEL NIÑO personas físicas:

			p En caso de que usted sea proveedor persona física de PAPALOTE MUSEO DEL NIÑO o sea apoderado de algún proveedor y sea persona física, le será igualmente aplicable el Aviso de Privacidad aquí contenido, siendo que el tratamiento de su información estará limitada de acuerdo a los fines que se establezcan en los documentos respectivos.
		.column-derecha
			a(href="") Aviso de privadidad
			a(href="") Términos y condiciones





