section.comer
	.container
		.row
			figure.restaurant
				img(src="images/comer/sushi_roll.png")
			figure.restaurant
				img(src="images/comer/dominos.png")
			figure.restaurant
				img(src="images/comer/tacoinn.png")
		.row
			figure.restaurant
				img(src="images/comer/dorsia.png")
			figure.restaurant
				img(src="images/comer/GmdgM1i2.png")
			figure.restaurant
				img(src="images/comer/globo.png")
		.row
			figure.restaurant
				img(src="images/comer/subway.png")
			figure.restaurant
				img(src="images/comer/Mcdonalds.png")
			figure.restaurant
				img(src="images/comer/nutrisa.png")
		