section.cover-renovado
	img(src="images/bucketpapaloterenovadohome.png" alt="cover renovado")
	.content-museo
		h3 EL MUSEO
		h2 PAPALOTE  #[br] RENOVADO
		p Bajo el emblemático lema “Toco, Juego y #[br] Aprendo”, 
			span PAPALOTE MUSEO DEL NIÑO #[br]
			span TOTALMENTE RENOVADO #[br] 
			| brinda a los visitantes un mejor servicio, instalaciones #[br] más cómodas y experiencias de #[br]aprendizaje más significativas y #[br] memorables. ¡En 
			span PAPALOTE 
			| #[br] nos tomamos el juego muy en serio!
		a.comprar-museo(href="papalote-renovado.html") Conoce más
	section.position
		section.zona
			.container
				.circulo
					h4 ZONA 1
					h3 El viaje inicia
					i.elviajeinicia
				.circulo
					h4 ZONA 2
					h3 Mi cuerpo
					i.micuerpo
				.circulo
					h4 ZONA 3
					h3 México vivo
					i.MexicoVivo 
				.circulo
					h4 ZONA 4
					h3 Mi hogar y mi #[br]familiar
					i.MiHogar
				.circulo
					h4 ZONA 5
					h3 Mi ciudad
					i.MiCiudad
				.circulo
					h4 ZONA 6
					h3 Laboratorio #[br]de ideas
					i.LabIdeas