section.cover
	img(src="images/tiburon.png")
	h2 ADO Megapantalla #[br]IMAX

section.cover-intro
	figure.imagen-cover
		img(src="images/image-ninos.png")
	article.leyenda-intro
		h2 ¡La ADO Megapantalla IMAX de PAPALOTE es una de las salas IMAX más grandes del mundo! 
		p A lo largo de 23 años, los visitantes han realizado increíbles viajes a los confines de nuestro planeta, como el Polo Norte, la sabana africana o las Islas Galápagos; han conocido otras culturas como la Maya, Árabe, Egipcia, Griega, entre otras; e incluso han recorrido el interior del cuerpo humano, y aprendido sobre la tecnología de los helicópteros y la estación espacial en más de 70 películas.

		p Gracias a su tecnología, que utiliza una pantalla curva de 17x24 metros, butacas colocadas estratégicamente frente a la pantalla, sonido envolvente y gran nitidez, la ADO Megapantalla IMAX es un espacio único "donde vives las imágenes".