section.nota-contenido
	figure.imagen-contenido
		img(src="images/image3.png")
	article.leyenda-contenido.z-depth-4
		h2 El viaje inicia
		p Busca el Muro de bienvenida y unete a nuestra divertida familia de monstruos para empezar tu viaje por PAPALOTE. 
		p Participa en el Show de Conexiones del vestíbulo del domodigital Banamex para descubrir el poder del agua, la energía,  la tierra y el aire en el origen de la vida.

section.nota-contenido-derecho
	article.leyenda-contenido-derecho.z-depth-4
		h2 Mi cuerpo
		p Sumérgete en tu cuerpo y conoce la increíble comunidad de criaturas microscópicas que habitan en ti. Ponte una bata de doctor y entra al quirófano de Examina al paciente para hacer 	un diagnóstico
		p Sorpréndete con el poder de tus sentidos y descubre con ellos el mundo que te rodea. Antes de salir, reconocerás por qué el ejercicio y una dieta adecuada mejoran tu salud.
	figure.imagen-contenido
		img(src="images/image4.png")
	