section.nota-contenido
	figure.imagen-contenido
		img(src="images/renovado/el_viaje_inicia.jpg")
	article.leyenda-contenido.z-depth-4
		h2 El viaje inicia
		p Busca el 
			span Muro de bienvenida 
			| y únete a nuestra divertida familia de monstruos para empezar tu viaje por 
			span PAPALOTE. 
		p Participa en el 
			span Show de Conexiones 
			| del vestíbulo del domodigital Citibanamex para descubrir el poder del agua, la energía, la tierra y el aire en el origen de la vida.

section.nota-contenido-derecho
	article.leyenda-contenido-derecho.z-depth-4
		h2 Mi cuerpo
		p Sumérgete en tu cuerpo y conoce la increíble comunidad de criaturas microscópicas que habitan en ti.
		p Ponte una bata de doctor y entra al quirófano de Examina al paciente para hacer un diagnóstico. 
		p Sorpréndete con el poder de tus sentidos y descubre con ellos el mundo que te rodea.
		p Y antes de salir, reconocerás por qué el ejercicio y una dieta adecuada mejoran tu salud.
	figure.imagen-contenido
		img(src="images/renovado/bucket_micuerpo.png")

section.nota-contenido
	figure.imagen-contenido
		img(src="images/renovado/mexico_vivo.jpg")
	article.leyenda-contenido.z-depth-4
		h2 México vivo
		p Adéntrate en esta zona para conocer a los sorprendentes ajolotes de  
			span Xochimilco. 
		p Después recorre el 
			span Árbol Ramón 
			| para saber por qué las selvas son fuente de vida
		p En el 
			span Arrecife mesoamericano 
			| respira hondo y dale las gracias a los océanos porque la mayor parte del oxígeno que respiramos viene de la fotosíntesis de las algas marinas.

		p Visita el increíble jardín de esta zona y busca 
			span La chinampa o 
			span La casa del jardinero 
			| ¡para reconectarte con la naturaleza!.

section.nota-contenido-derecho
	article.leyenda-contenido-derecho.z-depth-4
		h2 Mi hogar y mi familia
		p Ven y comparte con tu familia momentos inolvidables en esta zona. Aquí encontrarás experiencias que los invitarán a platicar, planear la casa de sus sueños y hasta ¡viajar en el tiempo.

		p También podrás darle al 
			span Monstruo come pesadillas 
			| los sueños que no te dejan dormir e ir a 
			span La receta de la abuela 
			| para compartir tus mejores recetas o cocinar alimentos deliciosos y saludables.
	figure.imagen-contenido
		img(src="images/renovado/renovado4.png")

section.nota-contenido
	figure.imagen-contenido
		img(src="images/renovado/mi_ciudad.jpg")
	article.leyenda-contenido.z-depth-4
		h2 Mi ciudad
		p ¡Conoce tu ciudad como nunca lo habías hecho! 
		p Vete de compras a 
			span El tianguis,
			| toca divertidos instrumentos en una 
			span Orquesta urbana
			| o recorre un enorme 
			span Laberinto. 
		p 
			span Reinventa tu ciudad 
			| con bloques para armar y conviértete en un mejor ciudadano en 
			span Aventura en la ciudad.

section.nota-contenido-derecho
	article.leyenda-contenido-derecho.z-depth-4
		h2 Laboratorio de ideas

		p Aquí encontrarás actividades para imaginar, diseñar, producir y compartir tus ideas.  En el taller 
			span ¡Dibuja, pinta y pega! 
			| podrás elegir materiales para expresarte artísticamente. 

		p En el 
			span Fab lab 
			| realizarás un diseño por computadora y observarás cómo se pueden materializar en una impresora 3D o en una cortadora láser. 

		p En 
			span Estudio robot 
			| darás vida a un robot con máquinas simples. Y antes de irte, podrás compartir tus logros en los muros que encontrarás por toda la zona. 

	figure.imagen-contenido
		img(src="images/renovado/laboratorio_ideas.jpg")

section.nota-contenido
	figure.imagen-contenido
		img(src="images/renovado/renovado5.png")
	article.leyenda-contenido.z-depth-4
		h2 Zona de pequeños
		p En nuestras áreas para pequeños de 3 a 5 años encontrarás experiencias diseñadas para despertar en las mentes más jóvenes la curiosidad, la creatividad y la imaginación para favorecer su desarrollo integral. 
		

	