footer
	.container
		aside.social.flex
			.container-newsletter
				input.newsletter(type="email", placeholder="Suscríbete a nuestro newsletter")
				i.fa.fa-envelope
			.social.flex
				h2 Síguenos en
				i
					a.fa.fa-facebook(href="")
				i
					a.fa.fa-twitter(href="")
				i
					a.fa.fa-youtube-play(href="")
				i
					a.fa(href="")
		section.contactanos
			.column
				h2 Papalote museo del niño
				ul
					li Dirección
						i.fa.icon-mariposa
						p 2da sección de Chapultepec
						p Av. Constituyentes 268
						p Col. Daniel Garza, CDMX.
					li Información
						i.fa.fa-phone
						p 5237 1781
					li Venta de boletos
						i.fa.fa-phone
						p 5237 1778 /5237 1779

			.column
				h2 Información
				ul.lista
					li
						a(href="preguntas-frecuentes.html") Preguntas frecuentes
					li
						a(href="bolsa-de-trabajo.html") Bolsa de trabajo
					li
						a(href="") Prensa
					li
						a(href="transparencia.html") Transparencia
			.column
				h2 Contáctanos
				form.enviar
					input.nombre(type="text" placeholder="Nombre(s)*")
					input.email(type="text" placeholder="Correo electronico*")
					select.comentario
						option(value=" ") ¿A qué departamento va dirigido tu comentario?*
						option(value=" ") México
					textarea(placeholder="Mensaje*")
					input#cbtest(type='checkbox')
					label.check-box(for='cbtest')
					span.leyenda-privacidad He leído el aviso de privacidad
					a.enviar(href="#") Enviar
		.nav-footer
			ul
				li
					a(href="#") Aviso de privacidad
					a(href="#") Términos y condiciones
					a(href="#") © Papalote Museo del Niño 2017
			figure.aprendo
				img(src='images/aprendo.png')




		