footer
	.container
		aside.social.flex
			input.newsletter(type="email", placeholder="Suscríbete a nuestro newsletter")
			.social.flex
				h2 Síguenos en
				i
					a.fa.fa-facebook(href="")
				i
					a.fa.fa-twitter(href="")
				i
					a.fa.fa-youtube-play(href="")
				i
					a.fa(href="")
		section.contactanos
			.column
				h2 Papalote museo del niño
				ul
					li Dirección
						p 2da sección de Chapultepec
						p Av. Constituyentes 268
						p Col. Daniel Garza, CDMX.
					li Información
						p 5237 1781
					li Venta de boletos
						p 5237 1778 /5237 1779

			.column
				h2 Información
				ul.lista
					li
						a(href="") Preguntas frecuentes
					li
						a(href="") Bolsa de trabajo
					li
						a(href="") Prensa
					li
						a(href="") Transparencia
			.column
				h2 Contáctanos
				form.enviar
					input.nombre(type="text" placeholder="Nombre(s)*")
					input.email(type="text" placeholder="Correo electronico*")
					select.comentario
						option(value=" ") PAÍS
						option(value=" ") México
					textarea(placeholder="Mensaje*")
					a.enviar(href="#") Enviar


		