header
	.container.flex
		figure.logo
			img(src="images/papalote-logo.png")
		nav
			ul
				li
					a(href="") Familias
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				li
					a(href="") Grupos y eventos
				li
					a(href="") ¿Cómo ayudar?
				li
					a(href="") Blog