header
	.container.flex
		figure.logo
			a(href="index.html")
				img(src="images/papalote-logo.png")
		nav
			ul
				li#image-nav
					a(href="familias.html") Familias
					.container-menu
						ul.image-menu
							li 
								a(href="papalote-renovado.html") Papalote renovado
							li 
								a(href="mega-pantalla.html") ADO Megapantalla IMAX
							li
								a(href="domodigital.html")  Domodigital Citibanamex
							li
								a(href="planea-visita.html") Planea tu visita
							li
								a(href="programas-interpretativos.html") actividades especiales
						figure.nav-images
							img(src="images/img1.jpg")
				li
					a(href="ninos.html") Niños
				//- li
				//- 	a(href="") ABC Papalote
				//- li
				//- 	a(href="") Grupos y eventos
				//- li
				//- 	a(href="") ¿Cómo ayudar?
				//- li
				//- 	a(href="") Blog

		#menu-mobile.efect
			.burger

		.mobile
			.container-box
				.box-line Comprar en línea
				.box Precios y promociones
				.box Horarios
			ul
				li
					a#sub-menu(href="#") Familias
					i.fa.fa-plus-circle
					ul.container-movile
						li
							a(href="papalote-renovado.html") Papalote renovado
						li
							a(href="mega-pantalla.html") ADO Megapantalla IMAX
						li
							a(href="domodigital.html") Domodigital Banamex
						li
							a(href="planea-visita.html") Planea tu visita
						li
							a(href="programas-interpretativos.html") actividades especiales
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				li
					a(href="") Grupos y eventos
				li
					a(href="") ¿Cómo ayudar?
				li
					a(href="") Blog
		