header
	.container.flex
		figure.logo
			a(href="index.html")
				img(src="images/papalote-logo.png" alt="papalote")
		figure.logo-movile
			a(href="index.html")
				img(src="images/mariposa.png" alt="papalote")
		.titulos-header
			h1 PAPALOTE  MUSEO DEL NIÑO
			p Chapultepec

		nav
			ul
				li#image-nav
					a(href="familias.html") Familias
					.container-menu
						ul.image-menu
							li
								a(href="papalote-renovado.html" data-url="images/menu/papalote_renovado.jpg" ) Papalote renovado
							li
								a(href="mega-pantalla.html" data-url="images/menu/megapantalla.jpg") ADO Megapantalla IMAX
							li
								a(href="domodigital.html" data-url="images/menu/domodigital_citi.jpg")  Domodigital Citibanamex
							li
								a(href="planea-visita.html" data-url="images/menu/planea_tu_visita.jpg") Planea tu visita
							li
								a(href="programas-interpretativos.html" data-url="images/menu/actividades_especiales.jpg") actividades especiales
						figure.nav-images
							img(src="images/img1.jpg" alt="familias")
							img.secciones(src="images/menu/papalote_renovado.jpg" alt="familias")
							img.secciones(src="images/menu/megapantalla.jpg" alt="familias")
							img.secciones(src="images/menu/domodigital_citi.jpg" alt="familias")
							img.secciones(src="images/menu/planea_tu_visita.jpg" alt="familias")
							img.secciones(src="images/menu/actividades_especiales.jpg" alt="familias")


				li
					a(href="ninos.html") Niños
				li
					a(href="abc-papalote.html") ABC Papalote
				li#image-nav
					a(href="grupos-y-eventos.html") Grupos y eventos
					.container-menu
						ul.image-menu
							li
								a(href="grupos-escolares.html" data-url="images/menu/grupos_escolares.jpg" ) Grupo escolares
							li
								a(href="grupos-para-empresas-y-gobierno.html" data-url="images/menu/grupos_para_empresas_gobierno.jpg") Grupos para empresas y Gobiernos
							li
								a(href="eventos-y-servicios.html" data-url="images/menu/eventos_servicios.jpg")  Eventos y Servicios
						figure.nav-images
							img(src="images/grupos-eventos.png" alt="grupos y eventos")
							img.secciones(src="images/menu/grupos_escolares.jpg" alt="familias")
							img.secciones(src="images/menu/grupos_para_empresas_gobierno.jpg" alt="familias")
							img.secciones(src="images/menu/eventos_servicios.jpg" alt="familias")
				li#image-nav
					a(href="como-ayudar.html") ¿Cómo ayudar?
					.container-menu
						ul.image-menu
							li
								a(href="papalote-para-todos.html" data-url="images/menu/papalote_todos.jpg" ) PAPALOTE para TODOS
							li
								a(href="servicio-social.html" data-url="images/menu/servicio-social.jpg") Servicio Social
							li
								a(href="transparencia.html" data-url="images/menu/")  Transpariencia
						figure.nav-images
							img(src="images/como-ayudar.jpg" alt="familias")
							img.secciones(src="images/menu/papalote_todos.jpg" alt="familias")
							img.secciones(src="images/menu/servicio-social.jpg" alt="familias")
				//- li
				//- 	a(href="") Blog

		#menu-mobile.efect
			.burger

		.mobile
			
			ul
				li
					a(href="familias.html") Familias
					i#sub-menu.fa.fa-plus-circle
				ul.container-movile
					li
						a(href="papalote-renovado.html") Papalote renovado
					li
						a(href="mega-pantalla.html") ADO Megapantalla IMAX
					li
						a(href="domodigital.html") Domodigital Banamex
					li
						a(href="planea-visita.html") Planea tu visita
					li
						a(href="programas-interpretativos.html") actividades especiales
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				li
					a(href="") Grupos y eventos
				li
					a(href="") ¿Cómo ayudar?
				//- li
				//- 	a(href="") Blog
			.container-box
				.box-line 
					a(href="") Comprar en línea
				.box 
					a(href="") Precios y promociones
				.box 
					a(href="") Horarios
		