header
	.container.flex
		figure.logo
			a(href="index.html")
				img(src="images/papalote-logo.png" alt="papalote")
		figure.logo-movile
			a(href="index.html")
				img(src="images/mariposa.png" alt="papalote")
		.titulos-header
			h1 PAPALOTE  MUSEO DEL NIÑO
			p Chapultepec

		nav
			ul
				li#image-nav
					a(href="familias.html") Familias
					.container-menu
						ul.image-menu
							li
								a(href="papalote-renovado.html") Papalote renovado
							li
								a(href="mega-pantalla.html") ADO Megapantalla IMAX
							li
								a(href="domodigital.html")  Domodigital Citibanamex
							li
								a(href="planea-visita.html") Planea tu visita
							li
								a(href="programas-interpretativos.html") actividades especiales
						figure.nav-images
							img(src="images/img1.jpg" alt="familias")


				li
					a(href="ninos.html") Niños
				li
					a(href="abc-papalote.html") ABC Papalote
				//- li
				//- 	a(href="") Grupos y eventos
				//- li
				//- 	a(href="") ¿Cómo ayudar?
				//- li
				//- 	a(href="") Blog

		#menu-mobile.efect
			.burger

		.mobile
			
			ul
				li
					a(href="familias.html") Familias
					i#sub-menu.fa.fa-plus-circle
					ul.container-movile
						li
							a(href="papalote-renovado.html") Papalote renovado
						li
							a(href="mega-pantalla.html") ADO Megapantalla IMAX
						li
							a(href="domodigital.html") Domodigital Banamex
						li
							a(href="planea-visita.html") Planea tu visita
						li
							a(href="programas-interpretativos.html") actividades especiales
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				//- li
				//- 	a(href="") Grupos y eventos
				//- li
				//- 	a(href="") ¿Cómo ayudar?
				//- li
				//- 	a(href="") Blog
			.container-box
				.box-line 
					a(href="") Comprar en línea
				.box 
					a(href="") Precios y promociones
				.box 
					a(href="") Horarios
		