header
	.container.flex
		figure.logo
			img(src="images/papalote-logo.png")
		nav
			ul
				li#image-nav
					a(href="") Familias
					ul.image-menu
						li Papalote renovado
						li ADO Megapantalla IMAX
						li Domodigital Banamex
						li Planea tu visita
						li Programas interpretativos
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				li
					a(href="") Grupos y eventos
				li
					a(href="") ¿Cómo ayudar?
				li
					a(href="") Blog

		#menu-mobile
			i.fa.fa-bars

		.mobile
			ul
				li
					a(href="") Familias
				li
					a(href="") Niños
				li
					a(href="") ABC Papalote
				li
					a(href="") Grupos y eventos
				li
					a(href="") ¿Cómo ayudar?
				li
					a(href="") Blog
		