section.horarios
	h2 Horarios
	.container-calendario
		.container-leyenda-horario
			h2 Horarios y funciones 17 Oct 2016
			.bloque
				h2 Museo
				p 9.00 - 18.00 hrs
			.bloque
				h2 ADO Megantalla IMAX
				a(href="#") Kenia 3d
				p 11:30, 13:30 y 15:30
				a(href="#") Kenia 3d
				p 10:30, 12:30, 14:30 y 16:30 hrs
			.bloque
				h2 Domodigital Banamex
				a(href="#") Pasaporte al universo
				p 9:50, 11:30, 13:10, 14:50 y 16:30 
				a(href="#") Exoplanetas
				p 10:40, 12:20, 14:00 y 15:40 hrs.


		.contenedor_aplicacion
			#atrasar_mes.flecha_mes
				p.fa.fa-sort-desc
			.contenedor_calendario
				h3(id='mes_año')
				#dias
					div
						.dias.semana
							p Lun
						.dias.semana
							p Mar
						.dias.semana
							p Mié
						.dias.semana
							p Jue
						.dias.semana
							p Vie
						.dias.semana
							p Sáb
						.dias.semana
							p(style='color:red;') Dom
					div
						.dias
							p#c00
						.dias
							p#c01
						.dias
							p#c02
						.dias
							p#c03
						.dias
							p#c04
						.dias
							p#c05
						.dias
							p#c06
					div
						.dias
							p#c10
						.dias
							p#c11
						.dias
							p#c12
						.dias
							p#c13
						.dias
							p#c14
						.dias
							p#c15
						.dias
							p#c16
					div
						.dias
							p#c20
						.dias
							p#c21
						.dias
							p#c22
						.dias
							p#c23
						.dias
							p#c24
						.dias
							p#c25
						.dias
							p#c26
					div
						.dias
							p#c30
						.dias
							p#c31
						.dias
							p#c32
						.dias
							p#c33
						.dias
							p#c34
						.dias
							p#c35
						.dias
							p#c36
					div
						.dias
							p#c40
						.dias
							p#c41
						.dias
							p#c42
						.dias
							p#c43
						.dias
							p#c44
						.dias
							p#c45
						.dias
							p#c46
					div
						.dias
							p#c50
						.dias
							p#c51
						.dias
							p#c52
						.dias
							p#c53
						.dias
							p#c54
						.dias
							p#c55
						.dias
							p#c56
			#adelantar_mes.flecha_mes
				p.fa.fa-sort-desc

		.container-boton-horario
			a(href="") Comprar en linea