.container
	section.mega-pantalla.z-depth-4
		article.nota-megapantalla
			h2 Kenia reino animal 3D
			p Adéntrate en el corazón de África y descubre el santuario más espectacular de la vida silvestre. En este épico viaje conocerás a Ntulesai y Ntukai, dos intrépidos guerreros masái que te guiarán por un safari antes de participar en una extraordinaria ceremonia. ¡Acércate como nunca antes a los emblemáticos habitantes de la selva!
			.container-horarios
				.horarios
					h3 horarios
					p Lunes a viernes: #[br]
						span 11:30, 13:30 y 15:30 hrs.
					p Jueves (función adicional): #[br] 
						span 20:30 hrs.
					p Sábado y domingo: #[br] 
						span 11:30, 13:30, 15:30 y 17:30 hrs.
				.horarios-boton
					a.mega-compra(href="") Comprar en linea

		figure.video-megapantalla
			img(src="images/MegapantallaKenia.png")

	section.mega-pantalla.z-depth-4
		figure.video-megapantalla
			img(src="images/rio.png")
		article.nota-megapantalla
			h2 Parques Nacionales: La Aventura en América Salvaje 3D
			p Vive una nueva experiencia en tercera dimensión para conocer los parques nacionales más famosos de Norteamérica. Recorrerás increíbles cañones, montañas cubiertas de nieve, lagos de agua cristalina y bosques de grandes árboles en parques nacionales como Yosemite, Yellowstone, el Gran Cañón, el Parque Nacional Redwood y el Parque Nacional Everglades. ¡Saca al aventurero que llevas dentro y disfruta esta increíble película!
			.container-horarios
				.horarios
					h3 horarios
					p Lunes a viernes: #[br]
						span 10:30, 12:30, 14:30 y 16:30 hrs.
					p Jueves (función adicional): #[br] 
						span 19:30 y 21:30 hrs.
					p Sábado y domingo: #[br] 
						span 10:30, 12:30, 14:30, 16:30 y 18:30 hrs
				.horarios-boton
					a.mega-compra(href="") Comprar en linea