.container
	section.mega-pantalla.z-depth-4
		article.nota-megapantalla
			span.cat DOMODIGITAL CITIBANAMEX
			h2 Pasaporte al Universo
			p ¿Sabes qué hay más allá de las estrellas que ves en el cielo nocturno? ¿Puedes imaginar cuántas constelaciones existen? Te invitamos a viajar por el maravilloso Universo, entendiendo qué planetas lo conforman, sus características, cómo están alineados frente al Sol y en dónde estamos localizados frente al espacio infinito. 
			.container-horarios
				.horarios
					h3 horarios
					p Lunes a viernes: #[br]
						span 9:50, 11:30, 13:10, 14:50 y 16:30 hrs.
					p Jueves (función adicionales): #[br] 
						span 19:00 y 20:40 hrs.
					p Sábado, domingo y días festivos: #[br] 
						span 1:30, 13:10, 14:50, 16:30 y 18:10 hrs.
				.horarios-boton
					a.mega-compra.sombra(href="") Comprar en línea

		figure.video-megapantalla
			img(src="images/pasaporte.png" alt="pasaporte")
			a#play-video.video-play-button(href='#')
				span
			#video-overlay.video-overlay
				a.video-overlay-close ×
	

	section.mega-pantalla.z-depth-4
		figure.video-megapantalla
			img(src="images/exoplanetas.png" alt="exoplanetas")
				
			a#play-video.video-play-button(href='#')
				span
			#video-overlay.video-overlay
				a.video-overlay-close ×




		article.nota-megapantalla
			h2 Exoplanetas
			p ¡La exploración fuera de nuestro Sistema Solar ha iniciado y tú serás parte de ella! Acompañado por dos divertidos y ocurrentes personajes, el explorador EXO 1 y SondaB, descubrirás las características de algunos exoplanetas y sus similitudes con la Tierra y nuestros planetas vecinos. ¡No te la puedes perder!

			.container-horarios
				.horarios
					h3 horarios
					p Lunes a viernes: #[br]
						span 10:40, 12:20, 14:00 y 15:40 hrs.
					p Jueves (función adicional): #[br] 
						span 19:50 hrs
					p Sábado, domingo y días festivos: #[br] 
						span 10:40, 12:20, 14:00, 15:40 y 17:20 hrs.
				.horarios-boton
					a.mega-compra(href="compra-linea.html") Comprar en línea