section.notas
	.container.flex
		article.nota.z-depth-4
			figure.imagen-nota
				img(src="images/imagen-nota.png" alt="abc papalote")
			h2 ABC PAPALOTE
			p ABC PAPALOTE es un programa educativo dirigido a profesores de preescolar y primaria 
				| en el que encontrarán herramientas y recursos educativos que enriquecerán su experiencia y la de sus alumnos antes, 
				| durante y después de su visita a 
				span PAPALOTE.
			a.boton.nota.sombra.btn-efect(href="") Conoce más
		article.nota.z-depth-4
				figure.imagen-nota
					img(src="images/imagen-nota2.png" alt="eventos")
				h2 Grupos y eventos
				p En 
					span PAPALOTE 
					|contamos con diferentes opciones para 
					| que niños, familias y maestros se diviertan y aprendan en grande: 
					| desde visitas escolares, visitas en familia o en grupo, eventos sociales, 
					| fiestas de cumpleaños… ¡todo es posible en 
					span PAPALOTE!

				p Para más información escríbenos #[br] a 
					span.email 
						a(href='mailto:grupos@papalote.org.mx') grupos@papalote.org.mx 
					| o comunícate al 5237 1783
				
