section.notas
	.container.flex
		article.nota.z-depth-4
			figure.imagen-nota
				img(src="images/imagen-nota.png")
			h3 DOMODIGITAL BANAMEX
			h2 ABC Papalote
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				|Praesent euismod libero et arcu tincidunt suscipit.
			a.boton.nota.sombra(href="") Conoce más
		article.nota.z-depth-4
				figure.imagen-nota
					img(src="images/imagen-nota2.png")
				h3 DOMODIGITAL BANAMEX
				h2 ABC Papalote
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					|Praesent euismod libero et arcu tincidunt suscipit.
				a.boton.nota.sombra(href="") Conoce más
