.container
	section.precio-paquete
		h2 Precios y paquetes
		section.paquetes
			h3 Paquetes
			article.paquete-items.z-depth-4
				figure.image-paquete
					img(src="images/paquete.png")
					span.circulo
						h2 Ahorras
						p 37%
				h4 Superpaquete
				p 1 Persona entra a:
				ul
					li Museo
					li ADO Megapantalla IMAX
					li Domodigital Citibanamex
					span.precio-paquete $249 MXN
						p Paquetes válidos únicamente en taquilla.

			article.paquete-items.z-depth-4
				figure.image-paquete
					img(src="images/paquete2.png")
					span.circulo
						h2 Ahorras
						p 46%
				h4 Paquete Familiar
				p 4 Personas entran a:
				ul
					li Museo
					li ADO Megapantalla IMAX
					li Domodigital Citibanamex
					span.precio-paquete $849 MXN
						p Paquetes válidos únicamente en taquilla.
			article.paquete-doble.z-depth-4
				figure.image-doble
					img(src="images/general-doble.png")
					span.circulo
						h2 Ahorras
						p 26%
				.content
					.content2
						h4 Paquete Doble
						p 1 Persona entra a:
						ul
							li Museo y #[br] ADO Megapantalla IMAX
							li o
							li Museo y #[br] Domodigital Citibanamex
						span.precio-paquete $219 MXN
							p Paquetes válidos únicamente en taquilla.

		section.leyenda-precio
			p Sujeto a disponibilidad. Niños pagan admisión a partir de 2 años. Precios sujetos a cambios sin previo aviso.

		section.paquetes-individuales.flex
			h2 Precios individuales
			p Precios vigentes para visitas a partir del 8 de agosto de 2016. Sujeto a disponibilidad. No aplica con otras promociones. 

			article.individual.z-depth-4
				figure.image-individual
					img(src="images/museo1.png")
				h2 Museo
				span.precio-paquete $199 MXN
				a.comprar-line.sombra(href="") Comprar en línea
			article.individual.z-depth-4
				figure.image-individual
					img(src="images/museo2.png")
				h2 ADO Megapantalla IMAX
				span.precio-paquete $99 MXN
				a.comprar-line.sombra(href="") Comprar en línea
			article.individual.z-depth-4
				figure.image-individual
					img(src="images/museo3.png")
				h2 domodigital Citibanamex
				span.precio-paquete $99 MXN

				a.comprar-line.sombra(href="") Comprar en línea

