.container
	section.precio-paquete
		h2 Precios y paquetes
		section.paquetes
			h3 Paquetes
			p Paquetes válidos únicamente en taquilla.
			article.paquete-items
				figure.image-paquete
					img(src="images/")
				h4 Superpaquete
				p 1 Persona entra a:
				ul
					li Museo
					li ADO Megapantalla IMAX
					li Domodigital Citibanamex
					span.precio-paquete $249 MXN
						p Paquetes válidos únicamente en taquilla.

			article.paquete-items
				figure.image-paquete
					img(src="images/")
				h4 Paquete Familiar
				p 4 Personas entran a:
				ul
					li Museo
					li ADO Megapantalla IMAX
					li Domodigital Citibanamex
					span.precio-paquete $849 MXN
						p Paquetes válidos únicamente en taquilla.
			article.paquete-doble
				figure.image-doble
					img(src="images/")
				.content
					h4 Paquete Doble
					p 1 Persona entra a:
					ul
						li Museo y #[br] ADO Megapantalla IMAX
						li Museo y #[br] Domodigital Citibanamex
					span.precio-paquete $849 MXN

		section.paquetes-individuales
			h2 Precios individuales
			p Precios vigentes para visitas a partir del 8 de agosto de 2016. Sujeto a disponibilidad. No aplica con otras promociones. 

			article.individual
				figure.image-individual
					img(src="images/")
				h2 Museo
				span.precio-paquete
					p Paquetes válidos únicamente en taquilla.

