section.renovado
			img.bg(src="images/papalote-renovado.png")
			.container
				.column
					h2 Papalote #[br] renovado
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit. Curabitur finibus eros quis nisi maximus hendrerit.
					a(href="" class="boton-general sombra") Conoce más