section.sedes-contactos.flex
			ul.sede
				li
					a(href="#") Chapultepec
				li
					a(href="#") Iztapalapa
				li
					a(href="#") Monterrey
				li
					a(href="#") Cuernavaca
			ul.promociones
				li
					a(href="#") Horarios
				li
					a(href="#") Precios y promociones
				li
					a(href="#") Compra en linea