section.servicio-espacios
	.container.flex
		h2 Servicios y espacios

		article.espacios
			i
				.fa.icon-Papalote-Renovado
			h2 Estacionamiento
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo

		article.espacios
			i
				.fa.icon-Group-2-Copy
			h2 Dulcería
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo
		article.espacios
			i
				.fa.icon-lapiz
			h2 Área de registro
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo
		article.espacios
			i
				.fa.icon-mochila
			h2 Paquetería
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo
		article.espacios
			i
				.fa.icon-tenedor
			h2 Área de alimentos
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo
		article.espacios
			i
				.fa.icon-nina
			h2 Baños
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo
		article.espacios
			i
				.fa.icon-discapacidad
			h2 Discapacidad
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo

		article.espacios
			i
				.fa.icon-bebe
			h2 Taquillas
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo

		article.espacios
			i
				.fa.icon-bebe
			h2 Carriolas
			p El circuito del Bosque de Chapultepec cuenta con estacionamientos públicos independientes del Museo

		h3 ¡Ven y descubre PAPALOTE #[br] totalmente renovado!
			
