section.padrinos.flex
	article.marcas
		#slider-1.slider
			.slider-wrapper
				.slide
					h2 Gracias a nuestros Padrinos
					.content-logo-marca
						h3 PAPALOTE vuela más alto
						figure.marca
							img(src="images/padrinos/logo_ado.png" alt="ado")
						figure.marca
							img(src="images/padrinos/logo_cdmx.png" alt="cdmx")
						figure.marca
							img(src="images/padrinos/logo_cocacola.png" alt="cocacola")
						figure.marca
							img(src="images/padrinos/logo_herdez.png" alt="herdez")
						figure.marca
							img(src="images/padrinos/logo_angeles.png" alt="hospital angeles")
						figure.marca
							img(src="images/padrinos/logo_rotoplas.png" alt=" rotoplas")
						figure.marca
							img(src="images/padrinos/logo_scribe.png" alt=" scribe")
						figure.marca
							img(src="images/padrinos/logo_televisa.png" alt=" televisa")
						figure.marca
							img(src="images/padrinos/logo_vinci.png" alt="vinci")
						
				.slide
					h2 Gracias a nuestros Padrinos
					.content-logo-marca
						h3 PAPALOTE  vuela más alto
						figure.marca
								img(src="images/padrinos/logo_alpura.png" alt="alpura")
						figure.marca
								img(src="images/padrinos/logo_bimbo.png" alt="bimbo")
						figure.marca
								img(src="images/padrinos/logo_camaradip.png" alt="camara diputados")
						figure.marca
								img(src="images/padrinos/logo_citibanamex.png" alt=" citibanamex")
						figure.marca
								img(src="images/padrinos/logo_conacyt.png" alt="conacyt")
						figure.marca
								img(src="images/padrinos/logo_gnp.png" alt=" gnp")
						figure.marca
								img(src="images/padrinos/logo_johnson.png" alt="johnson")
						figure.marca
								img(src="images/padrinos/logo_sedatu.png" alt="sedatu")
						figure.marca
								img(src="images/padrinos/logo_walmart.png" alt="walmart")
				
			//- a.slider-button--prev(href='#')
			//- 	i.material-icons left
			//- a.slider-button--next(href='#')
			//- 	i.material-icons right

	article.leyenda-content
		h2 ¿Deseas ayudar?
		p Gracias a tu contribución miles de niños, niñas y familias mexicanas vivirán una increíble experiencia de aprendizaje y diversión.
		p Si deseas apoyar a 
			span PAPALOTE
			|, comunícate al 5237 1715 o envía un correo a 
			span.email 
				a(href='mailto:desarrollo@papalote.org.mx') desarrollo@papalote.org.mx
		

