section.padrinos.flex
	article.marcas
		#slider-1.slider
			.slider-wrapper
				.slide
					h2 Gracias a nuestros Padrinos
					.content-logo-marca
						h3 PAPALOTE vuela más alto
						figure.marca
							img(src="images/padrinos/logo_ado.png")
						figure.marca
							img(src="images/padrinos/logo_angeles.png")
						figure.marca
							img(src="images/padrinos/logo_cocacola.png")
						figure.marca
							img(src="images/padrinos/logo_cdmx.png")
						figure.marca
							img(src="images/padrinos/logo_herdez.png")
						figure.marca
							img(src="images/padrinos/logo_rotoplas.png")
						figure.marca
							img(src="images/padrinos/logo_scribe.png")
						figure.marca
							img(src="images/padrinos/logo_televisa.png")
						figure.marca
							img(src="images/padrinos/logo_vinci.png")
						
				.slide
					h2 Gracias a nuestros Padrinos
					.content-logo-marca
						h3 PAPALOTE  vuela más alto
						figure.marca
								img(src="images/padrinos/logo_alpura.png")
						figure.marca
								img(src="images/padrinos/logo_bimbo.png")
						figure.marca
								img(src="images/padrinos/logo_camaradip.png")
						figure.marca
								img(src="images/padrinos/logo_citibanamex.png")
						figure.marca
								img(src="images/padrinos/logo_conacyt.png")
						figure.marca
								img(src="images/padrinos/logo_gnp.png")
						figure.marca
								img(src="images/padrinos/logo_johnson.png")
						figure.marca
								img(src="images/padrinos/logo_sedatu.png")
						figure.marca
								img(src="images/padrinos/logo_walmart.png")
				
			//- a.slider-button--prev(href='#')
			//- 	i.material-icons left
			//- a.slider-button--next(href='#')
			//- 	i.material-icons right

	article.leyenda-content
		h2 ¿Deseas ayudar?
		p Gracias a tu contribución miles de niños, niñas y familias mexicanas vivirán una increíble experiencia de aprendizaje y diversión.
		p Si deseas apoyar a PAPALOTE, comunícate al 5237 1715 o envía un correo a 
			span.email desarrollo@papalote.org.mx
		

