section.padrinos
	article.marcas
		ul.slides
			li
				img(src='images/jueves-de-aultos.png')
	article.leyenda-content
		h2 ¿Deseas ayudar?
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit. Curabitur finibus eros quis nisi maximus hendrerit.
		a.boton-patrocinador(href="") Conoce más 

