section.slider-reino
	ul.bxslider
		li
			.content.z-depth-4
				span.cat ADO MEGAPANTALLA IMAX
				h2 Kenia reino animal 3D
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit. Curabitur finibus eros quis nisi maximus hendrerit.
				a.comprar-slider(href="#") Comprar en linea
			figure.image-reino
				img(src="images/elefante.png")
				a#play-video.video-play-button(href='#')
					span
				#video-overlay.video-overlay
					a.video-overlay-close ×
		li
			.content.z-depth-4
				span.cat ADO MEGAPANTALLA IMAX
				h2 Kenia reino animal 3D
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit. Curabitur finibus eros quis nisi maximus hendrerit.
				a.comprar-slider(href="#") Comprar en linea
			figure.image-reino
				img(src="images/elefante.png")
				a#play-video.video-play-button(href='#')
					span
				#video-overlay.video-overlay
					a.video-overlay-close ×