section.slider-blog
	.container
		article.leyenda-blog
			h2 Conoce más de nuestro metódo
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit. Curabitur finibus eros quis nisi maximus hendrerit.
			span.link Ir al blog
		.container-items-blog#owl-demo
			article.item-blog.z-depth-4
				figure.image-blog
					img(src="images/image-blog.png" alt="blog")
				.content
					span.date Enero 2017
					span.cat  zona1
					h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit

			article.item-blog.z-depth-4
				figure.image-blog
					img(src="images/image-blog2.png" alt="blog")
				.content
					span.date Enero 2017
					span.cat  zona1
					h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod libero et arcu tincidunt suscipit