section.flexslider
	ul.slides
		li
			img(src='images/cover_aventurasilustradas.jpg' alt="aventuras ilustradas")
			.meta
				h2.desaparecer Aventuras Ilustradas
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_lego.jpg' alt="lego play")
			.meta
				h2.desaparecer Play time
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_patio.jpg' alt="Patio de aventuras")
			.meta
				h2.desaparecer Patio de aventuras
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea

		li
			img(src='images/reyes.jpg' alt="reyes")
			.meta
				h2 Compra en línea ¡y obtén #[br] 20% de descuento!
				span.adquiere Válido para visitarnos el 6, 7 y 8 de enero de 2017.
			.meta-boton
				a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea
			.meta-horario
				.leyenda-promociones Promoción válida únicamente para las entradas adquiridas en www.papalote,org.mx para visitarnos el 6, 7 u 8 de enero de 2017. No aplica con otras promociones ni descuentos. Sujeto a disponibilidad de horarios y espacios.
				
