section.flexslider
	ul.slides
		li
			img(src='images/cover_aventurasilustradas.jpg' alt="aventuras ilustradas")
			.meta
				h2.desaparecer Aventuras Ilustradas
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_lego.jpg' alt="lego play")
			.meta
				h2.desaparecer Play time
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_patio.jpg' alt="Patio de aventuras")
			.meta
				h2.desaparecer Patio de aventuras
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
				
