section.flexslider
			ul.slides
				li
					img(src='images/jueves-de-aultos.png')
					.meta
						h2 Este jueves vuelve #[br] a ser ninﾌバ
						span.link Explorar el museo
						.category
							span Category
				li
					img(src='images/jueves-de-aultos.png')
					.meta
						h2 Este jueves vuelve #[br] a ser ninﾌバ
						span.link Explorar el museo
						.category
							span Category
				li
					img(src='images/jueves-de-aultos.png')
					.meta
						h2 Este jueves vuelve #[br] a ser ninﾌバ
						span.link Explorar el museo
						.category
							span Category
				li
					img(src='images/jueves-de-aultos.png')
					.meta
						h2 Este jueves vuelve #[br] a ser ninﾌバ
						span.link Explorar el museo
						.category
							span Category