section.flexslider
	ul.slides
		li
			img(src='images/cover_aventurasilustradas.jpg')
			.meta
				h2 
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_lego.jpg')
			.meta
				h2 
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
		li
			img(src='images/cover_patio.jpg')
			.meta
				h2 
				//- span.link 
			.meta-horario
				h3 Horarios de museo #[br]
				p
					i.fa.fa-clock-o 
					| 19:00 hrs - 23:00 hrs
			.meta-boton
				a.comprar-slider.sombra(href="compra-linea.html") Comprar en línea
				
