section#timeline
	.container
		article
			.inner
				span.date
				h2 ¿Quieres evitar filas?
				p Te recomendamos adquirir tus boletos en línea.
				a.comprar-linea.sombra(href="") Comprar en línea
		article
			.inner
				span.date
				h2 ¿Vas a planear tu ruta?
				p Conoce las vías de acceso al Bosque de Chapultepec. 
				figure.cover-time
					img(src="images/mapa.png")

		article
			.inner
				span.date
				h2 ¿Llevas carro?
				p Recuerda que no contamos con estacionamiento pero puedes ubicar los que están disponibles en el circuito del Bosque de Chapultepec.
				figure.cover-time
					img(src="images/carro-time.png")
		article
			.inner
				span.date
				h2 ¿Quieres estar cómodo?
				p Trae ropa y calzado cómodo que te permitan hacer el recorrido en nuestros jardines.
				figure.cover-time
					img(src="images/nino-corriendo.png")


		article
			.inner
				span.date
				h2 ¡Ya estas aquí!
				p Acércate a los anfitriones, ellos facilitarán tu visita y podrán brindarte información acerca de las actividades y de las  funciones de la ADO Megapantalla IMAX y Domodigital Citibanamex.
				figure.cover-time
					img(src="images/ninos-time.png")
				

		article
			.inner
				span.date
				h2 Regístrate
				p Registra y personaliza tu brazalete en los kioskos. Habrá un cuate listo para ayudarte si lo necesitas.
				figure.cover-time
					img(src="images/registro.png")
		article
			.inner
				span.date
				h2 No cargues
				p Guarda tus objetos o alimentos en la paquetería.
				figure.cover-time
					img(src="images/paqueteria.png")
		article
			.inner
				span.date
				h2 ¿Necesitas una carreola o silla de ruedas?
				p ¡No te preocupes! Acércate a la Mesa de Informes y solicita una
				figure.cover-time
					img(src="images/planea.png")

		article
			.inner
				span.date
				h2 Checa los horarios
				p Revisa los horarios de tus funciones y recuerda llegar 15 minutos antes. Los asientos no están numerados. 
				figure.cover-time
					img(src="images/reloj.png")
		article
			.inner
				span.date
				h2 ¿Tienes dudas en las exhibiciones?
				p Conoce a los Cuates, ellos pueden apoyarte en cada actividad y hacer tu experiencia más significativa.
				figure.cover-time
					img(src="images/cuatesola.png")

		article
			.inner
				span.date
				h2 ¡A Comer!
				p Dentro de PAPALOTE contamos con un área de alimentos donde podrás encontrar distintas opciones para toda la familia. También puedes traer alimentos de tu casa y  consumirlos en nuestra zona de comida.
				figure.cover-time
					img(src="images/fudtrock.png")

