section.cover
	img(src="images/time.png")
	h2 Planea tu visita

section#timeline
	.container
		article
			.inner
				span.date
				h2 ¿Quieres evitar filas?
				p Te recomendamos adquirir tus boletos #[br] en línea.
				a.comprar-linea.sombra.btn-efect(href="compra-linea.html") Comprar en línea
				figure.cover-time
					img(src="images/img-planea/evitafilas.png" alt="evita filas")
		article
			.inner
				span.date
				h2 ¿Vas a planear tu ruta?
				p Conoce las vías de acceso al Bosque de #[br]Chapultepec. 
				a.maps.sombra.btn-efect(href="compra-linea.html") Cómo llegar 
				figure.cover-time
					img(src="images/img-planea/planeruta.png" alt=" planea ruta")

		article
			.inner
				span.date
				h2 ¿Llevas carro?
				p ¡Ya contamos con estacionamiento!#[br] También puedes utilizar alguno de los #[br] que se encuentran en el Bosque de #[br] Chapultepec.
				figure.cover-time
					img(src="images/img-planea/llevascarro.png" alt=" llevas carro")
		article
			.inner
				span.date
				h2 ¿Quieres estar cómodo?
				p Trae ropa y calzado cómodos que te #[br] permitan hacer el recorrido en nuestros #[br] jardines y disfrutar el Museo.
				figure.cover-time
					img(src="images/img-planea/estatecomodo.png" alt="comdo")


		article
			.inner
				span.date
				h2 ¡Ya estás aquí!
				p Acércate a los Anfitriones, ellos facilitarán tu visita y podrán brindarte información acerca de las actividades y de las  funciones de la ADO Megapantalla IMAX y Domodigital citibanamex.
				figure.cover-time
					img(src="images/img-planea/yaestasaqui.png" alt="ya estas aqui")
				

		article
			.inner
				span.date
				h2 Regístrate
				p Registra y personaliza tu brazalete en los kioskos. Habrá un Cuate listo para ayudarte si lo necesitas.
				figure.cover-time
					img(src="images/img-planea/registrate.png" alt="registrate")
		article
			.inner
				span.date
				h2 No cargues
				p Guarda tus objetos o alimentos en la paquetería; tiene un costo de tan sólo $10
				figure.cover-time
					img(src="images/img-planea/nocargues.png" alt="guardar objetos")
		article
			.inner
				span.date
				h2 ¿Necesitas una carreola o silla de ruedas?
				p ¡No te preocupes! Acércate a la Mesa de #[br] Informes y solicita una. 
				figure.cover-time
					img(src="images/img-planea/carriola.png" alt="carriolas")

		article
			.inner
				span.date
				h2 Checa los horarios
				p Revisa los horarios de tus funciones y #[br] recuerda llegar 15 minutos antes. #[br]Los asientos no están numerados.
				figure.cover-time
					img(src="images/img-planea/horarios.png" alt="horarios")
		article
			.inner
				span.date
				h2 ¿Tienes dudas en las exhibiciones?
				p ¡Conoce a los Cuates! ellos pueden #[br] apoyarte en cada actividad y hacer tu #[br]experiencia más significativa. 
				figure.cover-time
					img(src="images/img-planea/tienesdudas.png" alt="exhibiciones")

section.comer
	.container
		h2 ¡A Comer!
		p Dentro de 
			span PAPALOTE 
			| contamos con un área de alimentos donde podrás encontrar distintas opciones para toda la familia. También puedes traer alimentos de tu casa y  consumirlos en nuestra zona de comida.
		//- figure.comer-time
		//- 	img(src="images/img-planea/acomer.png" alt="comer")

