/*.icon-database:before {
    content: "\e000";
}*/
/*** FONT FACE ***/
@font-face {
  font-family: 'VAGRounded-bold';
  src: url("../fonts/vag_rounded_bold-webfont.woff2") format("woff2"), url("../fonts/vag_rounded_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VAGRounded-light';
  src: url("../fonts/vag_rounded_light_1-webfont.woff2") format("woff2"), url("../fonts/vag_rounded_light_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/********** GENERAL ***********/
.container {
  max-width: 1200px;
  margin: auto; }

/*
Theme Name: papalote
Theme URI: 
Author: jairo villalobos
Author URI: 
Description: 
Version: 1.0
*/
h1 {
  font-size: 138.5%; }

h2 {
  font-size: 123.1%; }

h3 {
  font-size: 108%; }

h1, h2, h3 {
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

em {
  font-style: italic; }

blockquote, ul, ol, dl {
  margin: 1em; }

ol, ul, dl {
  margin-left: 2em; }

ol {
  list-style: decimal outside; }

ul {
  list-style: disc outside; }

dl dd {
  margin-left: 1em; }

th, td {
  border: 1px solid #000;
  padding: .5em; }

th {
  font-weight: bold;
  text-align: center; }

caption {
  margin-bottom: .5em;
  text-align: center; }

p, fieldset, table, pre {
  margin-bottom: 1em; }

input[type=text], input[type=password], textarea {
  width: 12.25em;
  *width: 11.9em; }

/*HTML5 element display*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/*Figures*/
figure {
  margin: 0; }

/* Utilities */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal; }

/*** SIZING WITH REM ***/
h2 {
  font-weight: 700;
  font-family: 'VAGRounded-bold';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h3 {
  font-weight: 700;
  font-family: 'VAGRounded-bold';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-size: 1.125rem;
  font-family: 'montserrat-regular';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

section {
  width: 100%;
  height: auto;
  overflow: hidden; }

/*** clases de ayuda ***/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sombra {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.lista a {
  color: inherit;
  font-family: 'montserratlight';
  font-size: 1.125rem;
  font-weight: lighter;
  text-decoration: none;
  line-height: 1.875rem; }
  .lista a:before {
    font-family: 'FontAwesome';
    content: "\f138";
    font-size: 14px;
    position: absolute;
    left: -25px; }

.ir-arriba {
  display: none;
  padding: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-image: url("../images/subir.png");
  width: 65px;
  height: 82px; }

.bg {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 0px; }

/** colores primarios **/
/** colores  top menu **/
/** identificadores de secciones  **/
/** contenido del sitio   **/
/** checkbox  **/
span.link {
  position: relative;
  color: #EF096E;
  font-size: 1.125rem;
  font-family: 'VAGRounded-bold'; }
  span.link:before {
    content: "\f061";
    position: absolute;
    right: -30px;
    font-family: 'FontAwesome'; }

section.sedes-contactos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto; }
  section.sedes-contactos ul.sede {
    margin: 0px; }
    section.sedes-contactos ul.sede li {
      float: left;
      margin-right: 25px; }
      section.sedes-contactos ul.sede li a {
        font-size: 12px;
        font-family: 'montserratlight';
        text-decoration: none;
        color: #7B8990; }
        section.sedes-contactos ul.sede li a:hover {
          color: #08405C;
          font-family: 'montserrat-bold'; }
  section.sedes-contactos ul.promociones {
    margin: 0px;
    list-style: none; }
    section.sedes-contactos ul.promociones li {
      float: left;
      background-color: #00B3D0;
      width: 180px;
      height: 39px;
      text-align: center;
      padding-top: 10px; }
      section.sedes-contactos ul.promociones li:nth-child(2) {
        background-color: #EDCF00; }
      section.sedes-contactos ul.promociones li:nth-child(3) {
        background-color: #FF7100; }
      section.sedes-contactos ul.promociones li a {
        color: #fff;
        font-family: 'VAGRounded-bold';
        font-size: 16px;
        padding: 5px;
        text-decoration: none; }

.flexslider li {
  position: relative; }
  .flexslider li .meta {
    position: absolute;
    top: 12.5rem;
    left: 6.25rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flexslider li .meta-horario {
    position: absolute;
    bottom: 3.125rem;
    left: 6.25rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .flexslider li .meta-horario h3 {
      font-family: 'VAGRounded-bold';
      font-size: 1.125rem;
      margin: 0px 0px 10px; }
    .flexslider li .meta-horario p {
      color: #EF096E;
      margin: 0px; }
      .flexslider li .meta-horario p i.fa-clock-o:before {
        content: "\f017";
        font-size: 1.125rem;
        margin-right: 15px; }
  .flexslider li .meta-boton {
    position: absolute;
    right: 11rem;
    bottom: 3.125rem; }
    .flexslider li .meta-boton a.comprar-slider {
      background-color: #FF7100;
      border-radius: 3.125rem;
      clear: both;
      cursor: pointer;
      color: #fff;
      font-family: 'VAGRounded-bold';
      display: block;
      font-size: 1.125rem;
      height: 3.125rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      text-align: left;
      padding-left: 1.125rem;
      padding-top: 0.9375rem;
      text-decoration: none;
      width: 12.5rem;
      position: relative; }
      .flexslider li .meta-boton a.comprar-slider:before {
        content: "\f061";
        position: absolute;
        right: 1.4375rem;
        font-family: 'FontAwesome'; }
  .flexslider li h2 {
    margin: 0;
    font-size: 4.375rem;
    text-shadow: 1px 2px 7px black;
    letter-spacing: 0.0625rem; }

.flexslider li h2,
.flexslider li span.link,
.flexslider li h3,
.flexslider li p,
.flexslider li a.comprar-slider {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta span.link,
.flexslider li.flex-active-slide .meta-horario h3,
.flexslider li.flex-active-slide .meta-horario p,
.flexslider li.flex-active-slide .meta-boton a.comprar-slider {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.flexslider li.flex-active-slide .meta span.link {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.flexslider li.flex-active-slide .meta-horario h3 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s; }

.flexslider li.flex-active-slide .meta-horario p {
  -webkit-animation-delay: .8s;
  animation-delay: .8s; }

.flexslider li.flex-active-slide .meta-boton a.comprar-slider {
  -webkit-animation-delay: .9s;
  animation-delay: .9s; }

.flex-direction-nav {
  position: absolute;
  top: 100px;
  left: 30px; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

section.renovado {
  position: relative; }
  section.renovado img {
    width: 100%; }
  section.renovado .column {
    max-width: 383px;
    height: auto; }
    section.renovado .column h2 {
      font-size: 50px;
      color: #08405C; }
    section.renovado .column p {
      font-family: 'montserratlight';
      color: #08405C; }
    section.renovado .column a.boton-general {
      background-color: #EF096E;
      border-radius: 3.125rem;
      clear: both;
      cursor: pointer;
      color: #fff;
      font-family: 'VAGRounded-bold';
      display: block;
      font-size: 1.125rem;
      height: 3.125rem;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      text-align: left;
      padding-left: 1.125rem;
      padding-top: 0.9375rem;
      text-decoration: none;
      width: 12.5rem;
      position: relative; }
      section.renovado .column a.boton-general:before {
        content: "\f061";
        position: absolute;
        right: 1.4375rem;
        font-family: 'FontAwesome'; }

section.plan {
  color: #5D2B86;
  text-align: center;
  font-size: 32px;
  padding: 50px 0px; }
  section.plan h2 {
    margin: 0px; }

section.notas {
  padding: 110px 0px;
  background-image: url("../images/fondo-nota.jpg");
  background-size: cover; }
  section.notas .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.notas .container article.nota {
      max-width: 579px;
      height: auto;
      background: #fff;
      margin: 0px 5px; }
      section.notas .container article.nota figure.imagen-nota {
        max-width: 579px;
        height: auto; }
        section.notas .container article.nota figure.imagen-nota img {
          width: 100%; }
      section.notas .container article.nota h2 {
        font-size: 3.125rem;
        color: #08405C;
        margin: 0px 2.1875rem 2.1875rem; }
      section.notas .container article.nota h3 {
        color: #A4CD40;
        font-size: 0.875rem;
        margin: 2.1875rem 2.1875rem 1rem; }
      section.notas .container article.nota p {
        font-family: 'montserratlight';
        color: #08405C;
        margin-bottom: 1.5rem;
        margin-left: 2.1875rem; }
      section.notas .container article.nota a.boton.nota {
        background-color: #A4CD40;
        border-radius: 3.125rem;
        clear: both;
        cursor: pointer;
        color: #fff;
        font-family: 'VAGRounded-bold';
        display: block;
        font-size: 1.125rem;
        height: 3.125rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        text-align: left;
        padding-left: 1.125rem;
        padding-top: 0.9375rem;
        text-decoration: none;
        width: 12.5rem;
        position: relative;
        margin-bottom: 1.625rem;
        margin-left: 2.1875rem; }
        section.notas .container article.nota a.boton.nota:before {
          content: "\f061";
          position: absolute;
          right: 1.4375rem;
          font-family: 'FontAwesome'; }

section.padrinos article.marcas {
  width: 73%;
  float: left; }

section.padrinos article.leyenda-content {
  background-color: #FF4200;
  color: #fff;
  max-width: 431px;
  float: right;
  padding-right: 75px;
  padding-left: 75px;
  text-align: right; }
  section.padrinos article.leyenda-content h2 {
    margin-top: 110px;
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center; }
  section.padrinos article.leyenda-content p {
    font-family: 'montserrat-regular';
    margin-bottom: 29px; }
  section.padrinos article.leyenda-content a.boton-patrocinador {
    background-color: #fff;
    border-radius: 3.125rem;
    clear: both;
    cursor: pointer;
    color: #FF4200;
    font-family: 'VAGRounded-bold';
    display: block;
    font-size: 1.125rem;
    height: 3.125rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left;
    padding-left: 1.125rem;
    padding-top: 0.9375rem;
    text-decoration: none;
    width: 12.5rem;
    position: relative;
    float: right; }
    section.padrinos article.leyenda-content a.boton-patrocinador:before {
      content: "\f061";
      position: absolute;
      right: 1.4375rem;
      font-family: 'FontAwesome'; }

header {
  background-color: rgba(8, 64, 92, 0.8);
  position: absolute;
  top: 39px;
  z-index: 9999;
  width: 100%;
  padding: 10px 0px; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container figure.logo {
      max-width: 70px;
      height: auto;
      margin-right: 80px; }
      header .container figure.logo img {
        width: 100%; }
    header .container nav ul {
      list-style: none; }
      header .container nav ul li {
        display: inline-block;
        margin-right: 2.5rem; }
        header .container nav ul li:last-child {
          margin-right: 0px; }
        header .container nav ul li a {
          text-decoration: none;
          font-size: 1.25rem;
          font-family: 'VAGRounded-bold';
          color: #fff; }

footer {
  width: 100%;
  background-color: #364659;
  height: auto;
  padding-top: 33px;
  padding-bottom: 33px; }
  footer aside.social {
    border-bottom: 3px solid #4CD1FF;
    color: #fff;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer aside.social .container-newsletter {
      width: 23.4%;
      position: relative; }
      footer aside.social .container-newsletter input.newsletter {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: #35485D;
        padding: 5px 20px;
        height: 40px;
        width: 100%; }
        footer aside.social .container-newsletter input.newsletter input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-family: 'montserratlight'; }
        footer aside.social .container-newsletter input.newsletter input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-family: 'montserratlight'; }
        footer aside.social .container-newsletter input.newsletter input:-moz-placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-family: 'montserratlight'; }
        footer aside.social .container-newsletter input.newsletter input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-family: 'montserratlight'; }
      footer aside.social .container-newsletter .fa-envelope:before {
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 14px;
        right: 10px; }
    footer aside.social .social {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 425px;
      position: relative; }
      footer aside.social .social h2 {
        font-size: 1.125rem;
        color: #4CD1FF; }
      footer aside.social .social i {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        height: 38px;
        width: 38px; }
        footer aside.social .social i a {
          color: #364659;
          text-decoration: none;
          font-size: 1.3125rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
  footer section.contactanos {
    display: table; }
    footer section.contactanos .column {
      display: table-cell;
      color: #fff;
      width: 30%;
      position: relative; }
      footer section.contactanos .column h2 {
        color: #4CD1FF;
        margin-top: 33px;
        margin-bottom: 48px;
        font-size: 1.375rem; }
      footer section.contactanos .column p {
        font-family: 'montserratlight';
        margin: 0px; }
      footer section.contactanos .column input {
        background: transparent; }
      footer section.contactanos .column ul {
        list-style: none;
        margin-left: 50px; }
        footer section.contactanos .column ul li {
          margin-bottom: 26px;
          font-size: 1.125rem;
          font-family: 'VAGRounded-bold';
          text-rendering: auto;
          position: relative;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
          footer section.contactanos .column ul li .fa-phone:before {
            position: absolute;
            font-size: 2.5rem;
            left: -3.0625rem;
            top: 0.125rem;
            content: "\f095"; }
      footer section.contactanos .column form.enviar input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.75rem;
        font-family: 'montserrat-regular'; }
      footer section.contactanos .column form.enviar input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.75rem;
        font-family: 'montserrat-regular'; }
      footer section.contactanos .column form.enviar input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.75rem;
        font-family: 'montserrat-regular'; }
      footer section.contactanos .column form.enviar input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.75rem;
        font-family: 'montserrat-regular'; }
      footer section.contactanos .column form.enviar input.email {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: none;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 23px;
        width: 50%;
        height: 45px;
        float: left; }
      footer section.contactanos .column form.enviar input.nombre {
        float: right;
        padding-left: 23px;
        width: 50%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: none;
        border-right: none;
        height: 45px; }
      footer section.contactanos .column form.enviar select.comentario {
        width: 100%; }
      footer section.contactanos .column form.enviar textarea {
        width: 100%;
        background: transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: none;
        border-right: none;
        padding-left: 23px;
        padding-top: 17px;
        height: 122px; }
      footer section.contactanos .column form.enviar a.enviar {
        border-radius: 50px;
        background: transparent;
        border: 4px solid #00B3D0;
        clear: both;
        cursor: pointer;
        color: #00B3D0;
        display: block;
        font-size: 14px;
        height: 45px;
        text-decoration: none;
        width: 140px;
        font-family: 'VAGRounded-bold';
        padding-top: 10px;
        text-align: center;
        position: relative; }
        footer section.contactanos .column form.enviar a.enviar:before {
          content: "\f061";
          position: absolute;
          right: 20px;
          font-family: 'FontAwesome'; }
  footer .nav-footer {
    width: 100%;
    overflow: hidden;
    margin-top: 54px; }
    footer .nav-footer ul {
      float: left;
      list-style: none; }
      footer .nav-footer ul li a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        font-size: 0.75rem;
        font-family: 'montserratlight';
        margin-right: 26px;
        position: relative; }
        footer .nav-footer ul li a:last-of-type {
          font-family: 'VAGRounded-bold';
          color: #fff; }
        footer .nav-footer ul li a:first-child:after {
          content: "|";
          color: rgba(255, 255, 255, 0.5);
          position: absolute;
          right: -15px; }
    footer .nav-footer figure.aprendo {
      float: right;
      max-width: 200px;
      height: auto;
      padding-top: 5px; }
      footer .nav-footer figure.aprendo img {
        vertical-align: middle;
        width: 100%; }

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 960px) and (max-width: 1024px) {
  html {
    font-size: 13px; }
  .container {
    max-width: 1024px !important; } }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 11px; }
  body {
    height: 100vh; }
  .container {
    max-width: 959px !important;
    padding: 0px 10px; } }

@media only screen and (max-width: 767px) {
  header .container nav {
    display: none; }
  section.contactanos {
    padding: 5px; }
    section.contactanos .column {
      display: block !important;
      width: 100% !important; } }

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 8px; } }

@keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 8px; } }

@keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 19.2px; } }

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 19.2px; } }

input[type=checkbox] {
  display: none; }

.check-box {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1.6px solid #4CD1FF;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer; }
  .check-box::before, .check-box::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 3.2px;
    background-color: #4CD1FF;
    display: inline-block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    transition: opacity ease .5; }
  .check-box::before {
    top: 11.52px;
    left: 6.56px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .check-box::after {
    top: 5.92px;
    left: 0.8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #4CD1FF; }
  input[type=checkbox]:checked + .check-box::after,
  .check-box.checked::after {
    height: 8px;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards; }
  input[type=checkbox]:checked + .check-box::before,
  .check-box.checked::before {
    height: 19.2px;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  height: 40px;
  background: transparent; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  padding: 18px 23px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'montserrat-regular';
  font-size: 0.75rem; }
  .select-styled:after {
    content: "\f107";
    font-family: 'FontAwesome';
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 16px;
    right: 15px; }

.select-styled:active:after, .select-styled.active:after {
  top: 9px; }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color: #5F5177;
  padding: 0px 15px; }
  .select-options li {
    margin: 0;
    padding: 5px 0;
    text-indent: 15px;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:last-child {
      border-top: 2px solid #D6D6D6; }

.select-options li:last-child:before {
  margin-right: 11px; }

.select-options li[rel="hide"] {
  display: none; }
