section.intro-texto{
	padding: 0px 15px;
	margin-bottom: 97px;
	p{
		font-size: 22px;
		font-family: 'montserratlight';
		color: $color-azul100;
		span{
			font-family: 'montserrat-bold';
		}
	}
}
section.intro-cover-rigth{
	overflow: hidden;
	figure{
		float: left;
		max-width: 58.5%;
		height: auto;
		img{
			width: 100%;}
		}
	.item-content{
		float: right;
		max-width: 40%;
		h2{
			font-size: 2.5rem;
			color: $color-azul100;}
		p{
			font-size: 1.125rem;
			color: $color-azul100;
			font-family: 'montserratlight';
			span{
				font-family: 'montserrat-bold';}
		}
		a.btn-ayudar{
			@include boton($ancho: 12.5rem, $fondo: #9C52CB , $color: #fff );
			position: relative;
		}
		}
}
section.transpariencias{
	margin-bottom: 8.0625rem;
	margin-top: 5.4375rem;
	.circulo{
		border-radius: 100px;
		width: 101px;
		height: 101px;
		border: 0.1875rem solid $color-azul100;
		margin: auto;
		margin-bottom: 2.8125rem;
	}
	h2{
		text-align: center;
		color: $color-azul100;
		font-size: 2.5rem;
		margin-top: 0px;
		margin-bottom: 2.1875rem;}
	p{
		font-size: 1.125rem;
		color: $color-azul100;
		font-family: 'montserratlight';
		text-align: center;
		margin-bottom: 2.4375rem;
		span{
			font-family: 'montserrat-bold';
		}
	}
	a.btn-transpariencia{
		margin: auto;
		@include boton($ancho: 12.5rem, $fondo: #50778A , $color: #fff );
		position: relative;

	}
}