section.horarios{
   padding-top: 100px;
   padding-bottom: 100px;
  h2{
    font-size: 70px;
    color: $color-azul100;
    float: left;
    margin: 0px;

  }
}

.container-calendario{
  background-color: $color-grisCL100;
  max-width: 800px;
  overflow: hidden;
  float: right;
   margin-bottom: 28px;
}

.contenedor_aplicacion{
  display: table;
  float: right;
  position: relative;
}
.contenedor_aplicacion >div{
  display: inline-block;
}
.flecha_mes{
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  cursor: pointer;
}
.flecha_mes:hover{
  opacity: 1;
  color: #fff;
  background: pink;
}
.flecha_mes p{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
  content: "\f0dd";
}
#adelantar_mes{
  margin-left:-3em;
}
.contenedor_calendario{
  display: table;
  overflow: hidden;
}
.contenedor_calendario h3{
  text-align: center;
  font-size: 40px;
  font-family: 'VAGRounded-bold';
  color: $color-azul100;
}
#dias{
  padding: .5em;
}
.dias{
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  box-sizing: border-box;
}
.dias p{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'montserratlight';
  border-radius: 100%;
  color: $color-azul100;
  font-size: 16px;
  padding: 10px;
}
.semana{
  text-transform: uppercase;
  font-size: 18px;
  height: 2.5em;
  font-family: 'montserrat-regular';
  border:none;
  color: $color-azul100;
}

.container-leyenda-horario{
  float: left;
  h3{
    font-size: 18px;
    color: $color-azul100;
  }
  .bloque{
    color: #fff;
    padding: 27px 42px;
    margin-bottom: 21px;
    h4{
      font-size: 20px;
      color:#fff; 
      font-family: 'VAGRounded-bold';
      margin-bottom: 21px;
    }
    p{
      font-family: 'montserratlight';
      font-size: 18px;
      margin-bottom: 21px;
    }
    a{
      text-decoration: underline;
      color: #fff;
      font-size: 18px;
      font-family: 'montserratsemi-bold';
      margin-bottom: 11px;
      display: block;
    }
  }
}
.container-boton-horario{
  width: 100%;
  clear: both;
  a{
    @include boton($ancho: 12.5rem, $fondo: $color-naranja , $color: #fff );
    position: relative;
    float: right;
  }
}

.rosa{
  background-color: $color-rosa;
}
.verde{
  background-color: $color-verde;
}

