section.horarios{
	width: 100%;
	h2{
		font-size: 32px;
		color: $color-rosa;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;}
	h3{
		font-size: 28px;
		text-align: center;
		color: $color-naranja;}
	a.btn-horario{
		position: relative;
		@include boton($ancho: 12.5rem, $fondo: $color-naranja , $color: #fff);
		float: right;
	}
	article.card-horario{
		width: 100%;
		text-align: left;
		border-left: 5px solid $color-verde;
		margin-left: 5px;
		padding-left: 5px;
		h2{
			font-family: 'montserratligh';
			color: $color-verde;
			text-align: left;
			font-size: 16px;
		}
		h3{
			text-align: left;
		}
	}
}