section.experiencia-group-todos{
	margin-top: 8.125rem;
	padding-bottom: 7.5rem;
    .container{
        justify-content: space-between;
        margin-top: 15px;
    }
	h2{
		text-align: center;
		color: $color-azul100;
		margin-top: 0px;
		margin-bottom: 1.3125rem;
		font-size: 3.125rem;}
	p{
		color: $color-azul100;
		font-size: 1.125rem;
		margin-bottom: 6.0625rem;
		font-family: 'montserrat-bold';
		text-align: center;
	}
	article{
		max-width: 36.1875rem;
    	height: auto;
    	background: #fff;
    	margin: 0px 0.3125rem;
    	position: relative;
    	padding-top: 4.6875rem;
    	padding-left: 2.375rem;
    	padding-right: 2.375rem;
    	&:before{
    		content: '';
    		position: absolute;
    		left: 0px;
    		bottom: 0px;
    		background: #9C52CB;
    		width: 0.625rem;
    		height: 16.125rem;}
    	.circule{
    		width: 97px;
    		height: 97px;
    		border-radius: 100px;
    		margin:auto;
    		border: 0.3125rem solid $color-footer;}
    	h3{
    		text-align: center;
    		margin-top: 3.375rem;
    		margin-bottom: 3.375rem;
    		color: $color-azul100;
    		font-size: 3.125rem;}
		h4{
			font-size: 1.375rem;
			text-align: center;
			color: #0098CC;
			font-family: 'VAGRounded-bold';
			margin-bottom: 3rem;}
    	p{
    		font-size: 1.125rem;
    		font-family: 'montserrat-regular';
    		color: $color-azul100;
            span{
                font-family: 'montserrat-bold';}
        }
    	ul{
    		
    		li{
    			font-size: 1.125rem;
    			font-family: 'montserratlight';
    			margin-bottom: 2.375rem;
    			color: $color-azul100;}
    		}
    	}
}


section.donar-paypal{
    margin-top: 120px;
    display: table;
    .item-content{
        display: table-cell;
        padding-top: 5.0625rem;
        padding-bottom: 4.1875rem;
        width: 75%;
        background: #F0F0F0;
        &:last-child{
            background: #FF4200;
            color: #fff;
            padding-right: 6.25rem;
            padding-left: 2.5rem;
            h2{
                font-size: 2rem;
                text-align: center;
                 color: #fff;}
            p{
                color: #fff;
                font-size: 1.125rem;
                text-align: right;
                font-family: 'montserratlight';
                line-height: 1.75rem;
                margin-bottom: 2.0625rem;}
            span.email{
                a{
                    text-align: right;
                    color: #fff;
                    margin-bottom: 2.125rem;}
            }
        }
        h2 {
            color: #0098CC;
            text-align: center;
            font-size: 3.125rem;
            margin-top: 0px;
            margin-bottom: 1.75rem;}
        p{
            text-align: center;
            font-family: 'montserratlight';
            font-size: 1.125rem;
            color: #33414E;
            span{
                font-family: 'montserrat-bold';}
        }
        span.envia{
            text-align: center;
            font-family: 'montserratlight';
            font-size: 1.125rem;
            display: block;
            color: $color-azul100;}
        span.email{
            a{
                text-align: center;
                font-size: 1.125rem;
                font-family: 'montserratlight';
                display: block;
                color: #0098CC;}
        }
        a.btn-donar{
            @include boton($ancho: 11.25rem, $fondo: #FF7100 , $color: #fff );
            position: relative;
            text-align: center;
            margin: auto;}
        figure{
            width: 115px;
            height: auto;
            margin: auto;
            margin-top: 2.9375rem;
            margin-bottom: 1.1875rem;
            img{
                width: 100%;}
        }


    }
}