section.acordeon{
	h2{
		text-align: center;
		color: $color-azul100;
		font-size: 4.375rem;
		margin-top: 0px;
		margin-bottom: 6.8125rem;}
		.container{
			overflow: hidden;
			nav.preguntas-frecuentes{
				width: 25%;
				float: left;
				margin: 0px;
				height: auto;
				ul{
					list-style: none;
					li{
						margin-bottom: 2.125rem;
						a{
							color: #D2D1D1;
							font-size: 1.125rem;
							font-family: 'VAGRounded-bold';
							text-decoration: none;
						&:hover{
						  color: $color-azul100;
						  margin-bottom: 2.125rem;}
						}
					}
				}

				.select {
					cursor: pointer;
				    display: inline-block;
				    position: relative;
				    width: 320px;
				    height: 67px;
				    background: transparent;
				    margin: auto;
				    display: block;
				    margin-bottom: 35px;}
				.select-styled{
					display: none;
					font-size: 25px;
					height: 67px;
					color: #08405C;
					font-family: 'VAGRounded-bold';
					text-align: center;
					border: transparent; 
					&:after {
					    content: "\f107";
					    font-family: FontAwesome;
					    font-size: 25px;
					    position: absolute;
					    top: 21px;
					    right: 8px;
					    color: #08405C;}
				}
				.select-options{
    				box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    				padding: 0px;
    				height: auto;
				}
				.select-options li:nth-child(odd){
					background: #ccc;
				}
				.select-options li {
					height: 53px;
					font-size: 18px;
					color: #3E525B;
				    margin-bottom: 5px;
				    -webkit-transition: all 0.15s ease-in;
				    transition: all 0.15s ease-in;
				    font-family: 'montserrat-regular';}
			}
			ul.accordion {
			  width: 48.5%;
			  border-top: 0.0625rem solid #9B9B9B;
			  list-style: none;
			  float: right;
			  margin: 0px;
			  li {
			      border-bottom: 0.0625rem solid #9B9B9B;
			      position: relative;
			      padding: 2.375rem 0.9375rem 2.375rem 0px;
			      p {
					display: none;
					font-size: 0.875rem;
					font-family: 'montserratlight';
					color: #364659;
					padding: 0.625rem 0.3125rem 0px 0.3125rem;
					margin-bottom: 0.3125rem;
					color: #364659;
					span.enlace {
						text-decoration: none;
						display: inline-block;
						font-family: 'montserratsemi-bold';
						color: #0098CC;
						display: inline-block;
						>a.click{
							text-decoration: none;
							color: #0098CC;
							}}
					span.rojo {
						text-decoration: none;
						font-family: 'montserratsemi-bold';
						color: #A80C0F;
						display: inline-block;}
					}
			    } 
			    a{
					width: 100%;
					display: block;
					cursor: pointer;
					font-size: 0.875rem;
					color: #A80C0F;
					user-select: none;
					font-family: 'montserratsemi-bold';
					&:after{
						position: absolute;
						right: 0.3125rem;
						font-family:'FontAwesome';
						content: "\f055";
						top: 2.4375rem;
						font-size: 1.125rem;
						transition: all 0.2s ease-in-out;}
					&.active:after {
					  transition: all 0.2s ease-in-out;
					  font-family:'FontAwesome';
					  color: #364659;
					  content: "\f056";}
				}
			}

		}
}

section.contactar{
  width: 100%;
  padding-top: 6.125rem;
  text-align: center;
  h2{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5625rem;
    color:#0098CC;}
  a.btn-contacto{
    @include boton($ancho: 12.5rem, $fondo: #A80C0F , $color: #fff )
    text-align: center;
    margin: auto;
    margin-bottom: 5.875rem;
  }
}
