section.hologramas{

	.container{
		justify-content: space-around;
		align-items:center;
		background: #F5F5F5;
		h2{
			font-size: 2rem;
			color: $color-azul100;
			span{
				font-family: 'montserratlight';
				font-size: 1.375rem;
			}
		}
		.holograma{
			display: table;
				p{
				color: $color-azul100;
				display: table-cell;
				font-size: 0.875rem;
				padding-left: 0.4375rem;
				vertical-align: middle;
				font-family: 'VAGRounded-bold';}
			.cuadro{
				display: table-cell;
				width: 2.375rem;
				height: 2.375rem;
				border: 3px solid #d8d8d8;}
		}
	}
}

section.laboratorio{
	.container{
		margin-bottom: 1.5625rem;
		h2{
			color: $color-azul;
			font-size: 3.125rem;
			text-align: left;
			margin-bottom: 3.375rem;
			margin-top: 0px;
			margin-left: 6.6875rem;
		}
		article.izquiera{
			padding-top: 2.4375rem;
			padding-left: 2.0625rem;
			padding-right: 9.8125rem;
			display: table-cell;
			width: 40%;
			h3{
				font-size: 1.875rem;
				margin-bottom: 2.1875rem;
				color: $color-azul100;}
			p{
				font-family: 'montserratlight';
				font-size: 0.875rem;
				color: $color-azul100;
				span{
					font-family: 'montserrat-bold';
				}
			}
		}
		article.derecha{
			padding-top: 2.4375rem;
			padding-left: 7.9375rem;
			display: table-cell;
			width: 60%;
			background: #CCF9FF;
		}
	}
}

section.mexico-vivo{
	margin-bottom: 1.5625rem;
	padding-bottom: 1.0625rem;
		h2{
			color: #62A60A;
			font-size: 3.125rem;
			text-align: left;
			margin-bottom: 3.375rem;
			margin-top: 0px;
			margin-left: 107px;}
		article.izquiera{
			padding-top: 2.4375rem;
			padding-left: 2.0625rem;
			display: table-cell;
			width: 40%;
			h3{
				font-size: 1.875rem;
				margin-bottom: 2.1875rem;
				color: $color-azul100;}
		p{
			font-family: 'montserratlight';
			font-size: 0.875rem;
			color: $color-azul100;
			span{
				font-family: 'montserrat-bold';}
		}
	}
	article.derecha{
			padding-top: 2.4375rem;
			padding-left: 7.9375rem;
			display: table-cell;
			width: 60%;
			background: #E9FFCD;
		}
}


section.descubrimientos{
	margin-bottom: 1.5625rem;
	padding-bottom: 17px;
		h2{
			color: #5D2B86;
			font-size: 3.125rem;
			text-align: left;
			margin-bottom: 3.375rem;
			margin-top: 0px;
			margin-left: 6.6875rem;}
		article.izquiera{
			padding-top: 2.4375rem;
			padding-left: 2.0625rem;
			display: table-cell;
			width: 40%;
			h3{
				font-size: 1.875rem;
				margin-bottom: 2.1875rem;
				color: $color-azul100;}
			p{
				font-family: 'montserratlight';
				font-size: 0.875rem;
				color: $color-azul100;
				span{
					font-family: 'montserrat-bold';}
			}
			h4{
				font-family: 'montserrat-bold';
				color: $color-azul100;
				font-size: 0.875rem;
				margin-top: 2.625rem;
				margin-bottom: 1.3125rem;}
			ul{
				margin: 0px;
				list-style: none;
				li{
					color: $color-azul100;
					font-family: 'montserrat-regular';
					font-size: 0.875rem;
					position: relative;
					margin-left: 0.9375rem;
					margin-bottom: 0.875rem;
					&:before{
						content: " ";
						background: #5D2B86;
						width: 0.5rem;
						height: 0.5rem;
						border-radius: 100px;
						position: absolute;
						left: -12px;
						top: 30%;
					}
				}
			}

	}
	article.derecha{
			padding-top: 2.4375rem;
			padding-left: 7.9375rem;
			display: table-cell;
			width: 60%;
			background: #F3E6FE;
		}
}

section.patio-aventura{
	margin-bottom: 1.5625rem;
	padding-bottom: 17px;
		h2{
			color: #CD4040;
			font-size: 3.125rem;
			text-align: left;
			margin-bottom: 3.375rem;
			margin-top: 0px;
			margin-left: 6.6875rem;}
		article.izquiera{
			padding-top: 2.4375rem;
			padding-left: 2.0625rem;
			display: table-cell;
			width: 40%;
			h3{
				font-size: 1.875rem;
				margin-bottom: 2.1875rem;
				color: $color-azul100;}
		p{
			font-family: 'montserratlight';
			font-size: 0.875rem;
			color: $color-azul100;
			span{
				font-family: 'montserrat-bold';}
		}
		h4{
				font-family: 'montserrat-bold';
				color: $color-azul100;
				font-size: 0.875rem;
				margin-top: 2.625rem;
				margin-bottom: 1.3125rem;}
			ul{
				margin: 0px;
				list-style: none;
				li{
					color: $color-azul100;
					font-family: 'montserrat-regular';
					font-size: 0.875rem;
					position: relative;
					margin-left: 0.9375rem;
					margin-bottom: 0.875rem;
					&:before{
						content: " ";
						background: $color-rosa;
						width: 0.5rem;
						height: 0.5rem;
						border-radius: 100px;
						position: absolute;
						left: -12px;
						top: 30%;
					}
				}
			}
	}
	article.derecha{
			padding-top: 2.4375rem;
			padding-left: 7.9375rem;
			display: table-cell;
			width: 60%;
			background: #FFDFDF;
		}

}

section.text{
	h2{
		text-align: center;
		font-size: 2rem;
		color: $color-azul100;
	}
}

		.azul{
			background: #CCF9FF }
		.verde-n{
			background: #E9FFCD }
		.morado{
			background:#F4E7FE }
		.naranja{
			background: #FFDFDF }

