section.slider-reino{
	ul.bxslider{
		margin: auto;
		li{
			.content{
				padding-left: 3.625rem;
				padding-bottom: 3rem;
				padding-top: 3.125rem;
				width: 46%;
				height: auto;
				background: #fff;
				position: absolute;
				transform: translate(-50%,-50%);
			    left: 30%;
			    top: 50%;
			    z-index: 999;
			    h2{
			    	font-size: 3.125rem;
			    	color: $color-azul100;
			    	margin-bottom: 2.25rem;
			    	margin-top: 0px;}
			    p{
			    	font-family: 'montserratlight';
			    	font-size: 1.125rem;
			    	color: $color-azul100;
			    	margin-bottom: 2.0625rem;}
			    span.cat{
			    	font-size: 0.875rem;
			    	color: #729F02;
			    	font-family: 'montserratlight';
			    	display: block;
			    	margin-bottom: 1.25rem;
			    }
			    a.comprar-slider{
			    	@include boton($ancho: 12.5rem, $fondo: $color-naranja , $color: #fff );
			    	position: relative;
			    }
			}
			figure.image-reino{
				float: right;
				width: 64%;
				position: relative;
				img{
					width: 100%;
				}
			}
		}
	}
	.bx-controls-direction{
		    position: absolute;
		    text-align: center;
		    width: 200px;
		    transform: translate(-50%,-50%);
		     bottom:0;
		    left: 23%;}
}
