.flexslider{
  li{
    position: relative;
    .meta{
        position: absolute;
        top: 12.5rem;
        left: 6.25rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        span.adquiere{
            font-family: 'VAGRounded-bold';
            font-family: 1.125rem;
            color: #1D5BFF;
            margin-top:1.875rem;
            margin-bottom: 1.875rem;
        }
    }
    .meta-horario{
        position: absolute;
        bottom: 3.125rem;
        left: 6.25rem;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .leyenda-promociones{
            font-family: 'montserratlight';
            font-size: 14px;
            color: #001242;
        }
        h3{
            font-family: 'VAGRounded-bold';
            font-size: 1.125rem;
            margin: 0px 0px 10px;
            color: $color-azul100;
            }
        p{
            color: $color-rosa;
            margin: 0px;
            i.fa-clock-o:before {
                content: "\f017";
                font-size: 1.125rem;
                margin-right: 15px;}
            }
        }
    .meta-boton{
        position: absolute;
        right: 11rem;
        bottom: 3.125rem;
        a.comprar-slider{
            @include boton($ancho: 12.5rem, $fondo: $color-naranja , $color: #fff);
            position: relative;}
    }
    
    h2{
        margin:0;
        font-size: 4.375rem;
        text-shadow: 1px 2px 7px rgba(0, 0, 0, 1);
        letter-spacing: 0.0625rem;
    }
  }

}


.meta-incluye{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
        right: 6.25rem;
        bottom: 11.25rem;
        padding: 2.125rem 2.9375rem;
        text-align: center;
        span.inclu{
            text-align: left;
            font-size: 1.25rem;
            display: block;
            font-family: 'VAGRounded-bold';
            color: #001B64;
            text-align: left;}
        span.titulo{
            text-align: center;
            font-size: 1.5rem;
            color: #1D5BFF;
            display: block;
            margin-bottom: 0.875rem;
            margin-top: 0.625rem;
             font-family: 'VAGRounded-bold';
        }
        i{
            font-size: 1.875rem;
            color: #FF6B00;
        }
}

.meta-incluye-rojo{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
        right: 6.25rem;
        bottom: 11.25rem;
        padding: 2.125rem 2.9375rem;
        text-align: center;
        span.titulo-gen{
            font-size: 30px;
            color: #FF0826;
            font-family: 'VAGRounded-bold';
            margin-bottom: 10px;
        }
        span.inclu{
            text-align: left;
            font-size: 1.25rem;
            display: block;
            font-family: 'VAGRounded-bold';
            color: #001B64;
            text-align: left;}
        span.titulo{
            text-align: center;
            font-size: 1.5rem;
            color: #1D5BFF;
            display: block;
            margin-bottom: 0.875rem;
            margin-top: 0.625rem;
             font-family: 'VAGRounded-bold';
        }
        i{
            font-size: 1.875rem;
            color: #FF0826;
        }
}



.flexslider li h2,
.flexslider li span.link,
.flexslider li h3,
.flexslider li p,
.flexslider li a.comprar-slider {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}



.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta span.link,
.flexslider li.flex-active-slide .meta-horario h3,
.flexslider li.flex-active-slide .meta-horario p,
.flexslider li.flex-active-slide .meta-boton a.comprar-slider  {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta span.link, {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta-horario h3 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.flexslider li.flex-active-slide .meta-horario p {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.flexslider li.flex-active-slide .meta-boton a.comprar-slider {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.flex-direction-nav {
    position: absolute;
    top: 26.5rem;
    left: 5.875rem;
}

li.flex-nav-next{
    display: inline-block;
    a.flex-next{
        top: 0px;
        margin-left: 23px
    }
}

li.flex-nav-prev{
    display: inline-block;
    left: 0px;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}