section#timeline {
  width: 100%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 0.125rem;
    height: 100%;
    background: #78909C;
    z-index: 9998;
}
section#timeline article {
  width: 100%;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 45%;
  float: left;
  text-align: right;
}
section#timeline article div.inner span.date {
  display: block;
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    border-radius: 100%;
    background: #0282A1;
    z-index: 9999;
}


section#timeline article div.inner h2 {
  margin: 0;
  font-size: 3.125rem;
  position: relative;
  color: $color-azul100;
  margin-bottom: 1.375rem;
}

section#timeline article div.inner a.comprar-linea{
  position: relative;
  float: right;
  @include boton($ancho: 12.5rem, $fondo: $color-naranja , $color: #fff );
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px; 
	  height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  font-family: 'montserrat-regular';
  font-size: 1.375rem;
  color: $color-azul100;
}
figure.cover-time{
  max-width: 450px;
  img{
    width: 80%;
  }
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
  text-align: left;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -0.3125rem;
}
