section.conoce-areas{
	justify-content: space-around;
	margin-top:7.875rem;
	flex-wrap: wrap;
	padding-bottom: 20px;
	.container{
		justify-content: space-around;
		flex-wrap: wrap;}
	h2{
		width: 100%;
		color: $color-azul100;
		font-size: 3.125rem;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 3.125rem;}
	article{
		width: 280px;
		background: $color-grisCL100;
		padding-top: 1.625rem;
		padding-bottom: 1.125rem;
		position: relative;
		margin-bottom: 1.25rem;
		&:before{
			content: '';
			width: 10px;
			height: 15rem;
			background: #C4E86B;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
		figure{
			width: 116px;
			height: 116px;
			border: 0.25rem solid #C4E86B;
			border-radius: 100px;
			overflow: hidden;
			margin: auto;
			img{
				width: 100%;}
		}
		h3{
			text-align: center;
			font-size: 1.375rem;
			color: #718F26;
			margin-top: 2.5rem;
			margin-bottom: 1.875rem;}
		p{
			font-size: 1rem;
			font-family: 'montserratlight';
			color: $color-azul100;
			padding-left: 1.125rem;
			padding-right: 1.125rem;
			height: 6.875rem;
			margin-bottom: 3rem;}
		span.capacidad{
			color: #718F26;
			font-size: 0.875rem;
			font-family: 'montserrat-regular';
			display: block;
			text-align: center;
		}
	}

}




section.event-service{
	margin-top: 8.125rem;
	padding-bottom: 7.5rem;
	.container{
		justify-content: space-between;}
	h2{
		text-align: center;
		color: $color-azul100;
		margin-top: 0px;
		margin-bottom: 4.3125rem;
		font-size:2.5rem;}
	article{
		max-width: 36.1875rem;
    	height: auto;
    	background: #fff;
    	margin: 0px 0.3125rem;
    	position: relative;
    	figure{
    		width: 100%;
    		height: auto;
    		img{
    			width: 100%;}
    	}
    	&:before{
    		content: '';
    		position: absolute;
    		left: 0px;
    		bottom: 0px;
    		background: #D41672;
    		width: 0.625rem;
    		height: 16.125rem;}
		h3{
			font-size: 3.125rem;
			margin-top: 2.8125rem;
			margin-bottom: 2.8125rem;
			text-align: center;
			color: $color-azul100;
			margin-bottom: 3rem;}
    	ul{
    		padding-left: 37px;
    		
    		li{
    			font-size: 1.375rem;
    			margin-bottom: 0.75rem; 
    			font-family: 'montserrat-regular';
    			color: $color-azul100;}
    		}
    	}
}





section.informacion-evento-servicio{
	width: 100%;
	display: table;
	.item{
		width: 50%;
		display: table-cell;
		background: #E11D84;
		vertical-align: middle;
		padding-top: 4.9375rem;
		padding-bottom: 4.9375rem;
		&:last-child{
			padding-left: 20px;
		}
		h2{
			color: #fff;
			font-size: 2.5rem;
			text-align: center;}
		h3{
			font-size: 1.375rem;
			font-family: 'montserratsemi-bold';
			color: #fff;}
		.container-item{
			width: 100%;
			float: left;
			a.tel{
				font-size: 1.125rem;
				color: #fff;
				font-family: 'montserrat-regular';
				margin-right: 20px;
				text-decoration: none;
				position: relative; 
				&:before{
					font-family:'FontAwesome';
					content: "\f095";
					font-size: 13px;
					color: #E11D84;
					background: #fff;
					border-radius: 2px;
					padding: 1px 2px;
					left: -19px;
    				bottom: 3px;
					position: absolute;}
			}
		}
		a.mail-info{
			color: #fff;
			font-size: 1.125rem;
			font-family: 'montserratlight';
			position: relative;
			&:before{
					font-family:'FontAwesome';
					content: "\f0e0";
					font-size: 16px;
					color: #fff;
					border-radius: 2px;
					padding: 1px 2px;
					left: -23px;
					bottom: 0px;
					position: absolute;}
		}
	}

}