section.contactanos-form{
	h2{
		font-size: 40px;
		text-align: center;
		color: #5D2B86;
		margin-bottom: 100px;}
	form{
		width: 100%;
		input[type="text"]{
			&:nth-child(1){
				border-top:1px solid rgba(154, 155, 155, 0.4);
				width: 100%;}
			&:nth-child(2){
				width: 100%;}
		}
		.select-options{
			background: #fff;
			box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
        }
	}
}
section.bolsa-trabajo-form{
	h2{
		font-size: 40px;
		text-align: center;
		color: #5D2B86;
		margin-bottom: 100px;}
	form{
		.item{
			display: table;
			width: 100%;
			input[type="text"]{
				&:nth-child(1){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
				&:nth-child(2){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
				&:nth-child(3){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
			}
		} 
		.item1{
			display: table;
			width: 100%;
			input[type="text"]{
					display: table-cell;
					border-top: transparent;
					border-right: 1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
			.sexo{
				width: 67%;
				float: right;
				padding: 13px 0px;
				p{
					display: inline-block;
					font-family: 'montserrat-regular';
					font-size: 12px;
					padding-left:25px;
					color: rgba(54, 70, 89, 0.5);}
				button{
					color: #fff;
					font-family: 'montserrat-regular';
					font-size: 12px;
					border-radius: 10px;
					background: #5D2B86;
					width: 26%;
					border: none;
					padding: 13px 0px;
					margin-left: 64px;
					opacity: 0.5;
				&:last-child{
					margin-left: 36px;}
				}
			}
		}
		.item2{
				display: table;
			width: 100%;
			input[type="text"]{
				&:nth-child(1){
					border-right:1px solid rgba(154, 155, 155, 0.4);
					width: 50%;}
				&:nth-child(2){
					width: 50%;}
			}
			
		}
		.item3{
			input[type="text"]{
				width: 100%;}
		}
		.item4{
			input[type="text"]{
			border-right:1px solid rgba(154, 155, 155, 0.4);
			width: 40%;}
			.select {
				float: right;
				width: 60%;
				height: 67px;
				background: transparent;}
		}
		.item5{
			width: 100%;
			.select {
				height: 67px;
		    	width: 100%;}
		}
		.item-text{
				width: 100%;
				border-bottom:1px solid rgba(154, 155, 155, 0.4);

			h3{
			text-align: left;
			color: #5D2B86;
			font-size: 14px;
			padding-top: 47px;
			padding-bottom: 32px;}
		}

	}
}
section.eventos-servicios{
	h2{
		text-align: center;
		font-size: 40px;
		color: #5D2B86;}
	form{
		.item{
			display: table;
			width: 100%;
			input[type="text"]{
				&:nth-child(1){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					border-right:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
				&:nth-child(2){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					border-right:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
				&:nth-child(3){
					border-top:1px solid rgba(154, 155, 155, 0.4);
					width: 33%;}
			}
		} 
		.item2{
			display: table;
			width: 100%;
			input[type="text"]{
				width: 33%;
				&:nth-child(2){
					border-left:1px solid rgba(154, 155, 155, 0.4);
					width: 67%;}
			}
		}
		.item3{
			display: table;
			width: 100%;
			input[type="text"]{
				float: right;
				width: 60%;}
			.leyenda-aprox{
				float: left;
				width: 40%;
				
				padding: 27px 0px 12px;
				p{
					color: #5D2B86;
					font-size: 12px;
					font-family: 'montserrat-regular';}
				}
		}
		.item4{
			display: table;
			width: 100%;
			.leyenda-fecha{
				float: left;
				width: 30%;
				padding: 27px 0px 12px;
				p{
					color: #5D2B86;
					font-size: 12px;
					font-family: 'montserrat-regular';}
			}
			.select{
				height: 67px;
			    width: 100%;
			    &:nth-child(2){
			    	border-right:1px solid rgba(154, 155, 155, 0.4);
			    	width: 25%;}
			    &:nth-child(3){
			    	border-right:1px solid rgba(154, 155, 155, 0.4);
			    	width: 25%;}
			    &:nth-child(4){
			    	width: 20%;}
			   }
		}

		.item5{
			width: 100%;
			.select{
				height: 67px;
			    width: 100%;}
		}
	}
}
section.planea-visita{
	h2{
		text-align: center;
		text-align: center;
		font-size: 40px;
		color: #5D2B86;}
	h4{
		text-align: center;
		color: #08405C;
		font-size: 30px;
		font-family: 'VAGRounded-bold';
		margin-bottom: 30px;}
	.contenedor-boton{
		max-width: 523px;
		margin: auto;
		overflow: hidden;
		margin-bottom: 73px;
		button{
			height: 93px;
			width: 50%;
			background: #A40084;
			color: #fff;
			font-size: 22px;
			font-family: 'VAGRounded-bold';
			border: none;
			float: left;
			transition: 0.1s ease-in-out;}
	}
	.item{
		display: table;
		width: 100%;
		input[type="text"]{
			&:nth-child(1){
				border-top:1px solid rgba(154, 155, 155, 0.4);
				border-right:1px solid rgba(154, 155, 155, 0.4);
				width: 33%;}
			&:nth-child(2){
				border-top:1px solid rgba(154, 155, 155, 0.4);
				border-right:1px solid rgba(154, 155, 155, 0.4);
				width: 33%;}
			&:nth-child(3){
				border-top:1px solid rgba(154, 155, 155, 0.4);
				width: 33%;}
		}
	} 
	.item2{
			display: table;
			width: 100%;
			input[type="text"]{
				width: 33%;
				&:nth-child(2){
					border-left:1px solid rgba(154, 155, 155, 0.4);
					width: 67%;}
			}
	}
	.item3{
		display: table;
		width: 100%;
		input[type="text"]{
			width: 100%;}
		.leyenda-aprox{
			float: left;
			width: 40%;
			
			padding: 27px 0px 12px;
			p{
				color: #5D2B86;
				font-size: 12px;
				font-family: 'montserrat-regular';}
			}
	}
	.item4{
		input[type="text"]{
		border-right:1px solid rgba(154, 155, 155, 0.4);
		width: 40%;}
	.select {
		float: right;
		width: 60%;
		height: 67px;
		background: transparent;}
	}
	.item5{
		display: table;
		width: 100%;
		input[type="text"]{
			float: right;
			width: 60%;}
		.leyenda-aprox{
			float: left;
			width: 40%;
			
			padding: 27px 0px 12px;
			p{
				color: #5D2B86;
				font-size: 12px;
				font-family: 'montserrat-regular';}
			}
	}
	.item6{
		width: 100%;
		.select {
		    width: 100%;
		    height: 67px;
		    background: transparent;}
	}
	.item7{
		display: table;
		width: 100%;
		.leyenda-fecha{
			float: left;
			width: 30%;
			
			padding: 28px 0px 12px;
			p{
				color: #5D2B86;
				font-size: 12px;
				font-family: 'montserrat-regular';}
		}
		.select{
			height: 67px;
		    width: 100%;
			&:nth-child(2){
				border-right:1px solid rgba(154, 155, 155, 0.4);
				width: 25%;}
			&:nth-child(3){
				border-right:1px solid rgba(154, 155, 155, 0.4);
				width: 25%;}
			&:nth-child(4){
				width: 20%;}
		   }
	}
}

section.grupos-esolares{
	h2{
		text-align: center;
		text-align: center;
		font-size: 40px;
		color: #5D2B86;}
	form{
		.item1{
			input[type="text"]{
				width: 100%;}
		}
		.item2{
			display: table;
			width: 100%;
			input[type="text"]{
				width: 33%;
				&:nth-child(2){
					border-left:1px solid rgba(154, 155, 155, 0.4);
					width: 67%;}
			}
		}
		.item5{
			width: 100%;
			.select {
				height: 67px;
		    	width: 100%;}
		
		}
	}
}


