.container
	section.mega-pantalla
		article.nota-megapantalla
			h2 Kenia reino animal 3D
			p Adéntrate en el corazón de África y descubre el santuario más espectacular de la vida silvestre. En este épico viaje conocerás a Ntulesai y Ntukai, dos intrépidos guerreros masái que te guiarán por un safari antes de participar en una extraordinaria ceremonia. ¡Acércate como nunca antes a los emblemáticos habitantes de la selva!
			.container-horarios
				.horarios
					h3 horarios
					p Lunes a viernes: #[br] 11:30, 13:30 y 15:30 hrs.
					p Jueves (función adicional): #[br] 20:30 hrs.
					p Sábado y domingo: #[br] 11:30, 13:30, 15:30 y 17:30 hrs.
				.horarios-boton
					a(href="") Comprar en linea

		figure.video-megapantalla
			img(src="images/image-pantalla.png")