doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='El presente aviso de privacidad se emite con el objeto de informarle sobre los lineamientos, políticas y procedimientos que se han implementado al interior de esta institución para proteger sus datos personales y en cumplimiento con lo establecido en el artículo 15 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el día 5 de julio de 2010.')
			
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")

		meta(property='og:title', content='Aviso de privacidad')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content='El presente aviso de privacidad se emite con el objeto de informarle sobre los lineamientos, políticas y procedimientos que se han implementado al interior de esta institución para proteger sus datos personales y en cumplimiento con lo establecido en el artículo 15 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el día 5 de julio de 2010.')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')
	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		include block/aviso.pug
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src='js/index.js', type="text/javascript")