doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Como ayudar
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
			
		meta(property='og:title', content='Papalote museo del niño')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content=' ')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')

	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.cover
			img(src="images/cover-como-ayudar.png"  alt="megapantalla")
			h2 ¿Cómo ayudar?
		section.intro-texto
			.container
				p En 
					span PAPALOTE 
					| tenemos el anhelo de formar niños y niñas más creativos, capaces de formular nuevas ideas, comprometidos con su entorno, interesados en construir, compartir y producir soluciones para los desafíos de México; ¡queremos apoyarlos a crecer como personas de éxito!
		section.intro-cover-rigth
			.container
				figure
					img(src="images/intro-ayudar.png")
				.item-content
					h2 PAPALOTE para TODOS
					p Es nuestro programa de compromiso social, el cual brinda visitas gratuitas al Museo a niñas, niños, maestros de escuelas públicas o personas en condiciones de alta vulnerabilidad.
					a.btn-ayudar.sombra(href="#") Conoce más
		section.notas
			.container.flex
				article.nota.z-depth-4
					figure.imagen-nota
						img(src="images/voluntariado.png" alt="abc papalote")
					h2 Voluntariado
					p Si quieres apoyar el aprendizaje de los niños y sus familias, 
						span PAPALOTE 
						|  te ofrece la oportunidad de convertirte en Cuate Voluntario y ayudar de forma altruista. 
					p Como 
						span Cuate Voluntario 
						| podrás interactuar con los visitantes del Museo para comunicar los mensajes y contenidos de las exhibiciones. El 
						span diálogo
						| y el 
						span juego 
						|  serán tus herramientas principales para construir un aprendizaje significativo.
					p ¡Muy pronto te platicaremos más sobre este programa!
					
				article.nota.z-depth-4
						figure.imagen-nota
							img(src="images/servicio.png" alt="eventos")
						h2 Servicio Social
						p ¿Buscas hacer un 
							span Servicio Social 
							|  lleno de aprendizaje y diversión!
						p ¡En 
							span PAPALOTE 
							| te estamos buscando!
						p Forma parte de nuestro equipo y conoce las distintas opciones: haz tu Servicio Social en oficinas o bien, intégrate a la familia de Cuates.
						a.btn-social.sombra.btn-efect(href="") Conoce más
		section.padrinos.flex
			article.marcas
				#slider-1.slider
					.slider-wrapper
						.slide
							h2 Gracias a nuestros Padrinos
							.content-logo-marca
								h3 PAPALOTE vuela más alto
								figure.marca
									img(src="images/padrinos/logo_ado.png" alt="ado")
								figure.marca
									img(src="images/padrinos/logo_cdmx.png" alt="cdmx")
								figure.marca
									img(src="images/padrinos/logo_cocacola.png" alt="cocacola")
								figure.marca
									img(src="images/padrinos/logo_herdez.png" alt="herdez")
								figure.marca
									img(src="images/padrinos/logo_angeles.png" alt="hospital angeles")
								figure.marca
									img(src="images/padrinos/logo_rotoplas.png" alt=" rotoplas")
								figure.marca
									img(src="images/padrinos/logo_scribe.png" alt=" scribe")
								figure.marca
									img(src="images/padrinos/logo_televisa.png" alt=" televisa")
								figure.marca
									img(src="images/padrinos/logo_vinci.png" alt="vinci")
								
						.slide
							h2 Gracias a nuestros Padrinos
							.content-logo-marca
								h3 PAPALOTE  vuela más alto
								figure.marca
										img(src="images/padrinos/logo_alpura.png" alt="alpura")
								figure.marca
										img(src="images/padrinos/logo_bimbo.png" alt="bimbo")
								figure.marca
										img(src="images/padrinos/logo_camaradip.png" alt="camara diputados")
								figure.marca
										img(src="images/padrinos/logo_citibanamex.png" alt=" citibanamex")
								figure.marca
										img(src="images/padrinos/logo_conacyt.png" alt="conacyt")
								figure.marca
										img(src="images/padrinos/logo_gnp.png" alt=" gnp")
								figure.marca
										img(src="images/padrinos/logo_johnson.png" alt="johnson")
								figure.marca
										img(src="images/padrinos/logo_sedatu.png" alt="sedatu")
								figure.marca
										img(src="images/padrinos/logo_walmart.png" alt="walmart")

			article.leyenda-content
				h2 ¿Deseas donar?
				p Gracias a tu contribución miles #[br] de niñas, niños y familias #[br] mexicanas podrán vivir una #[br] increíble experiencia de #[br] aprendizaje y diversión.#[br] Si deseas apoyar a 
					span PAPALOTE, #[br]
					| comunícate al 
					span 5237 1715 #[br]
					| o envía un correo a 
				p 
					span.email 
						a(href='mailto:desarrollo@papalote.org.mx') desarrollo@papalote.org.mx
				a.descubre.sombra.btn-efect(href="#") Descubre como


		section.transpariencias
			.container
				.circulo
					i.icon
				h2 Transparencia
				p Desde 1993 
					span PAPALOTE MUSEO DEL NIÑO 
					|  abrió sus puertas como una asociación civil #[br] sin fines de lucro. Al día de hoy es uno de los mejores espacios de juego y aprendizaje #[br] para los niños, y uno de los museos más visitados en el mundo.
				a.btn-transpariencia.sombra.btn-efect(href="") Conoce más
		
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")