doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='El domodigital Citibanamex se localiza al interior de la esfera verde; su pantalla está formada por 401 paneles de aluminio micro perforado que cubren 23 metros de diámetro y está colocada en forma semihemisférica inclinada.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")

		meta(property='og:title', content='domodigital')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content='El domodigital Citibanamex se localiza al interior de la esfera verde; su pantalla está formada por 401 paneles de aluminio micro perforado que cubren 23 metros de diámetro y está colocada en forma semihemisférica inclinada.')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')
	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.cover
			img(src="images/cover_domodigital.jpg" alt="cover domodigital")
			h2 domodigital #[br]Citibanamex
		section.cover-intro
			figure.imagen-cover
				img(src="images/bucket_domodigital.jpg" alt="universo")
			article.leyenda-intro
				h2 ¡Descubre el Universo como jamás lo imaginaste! 

				p El 
					span domodigital Citibanamex  
					|  se localiza al interior de la esfera verde; su pantalla está formada por 401 paneles de aluminio micro perforado que cubren 23 metros de diámetro y está colocada en forma semihemisférica inclinada. Cuenta con el sistema Digistar 5, creado especialmente para esta sala, que permite una proyección en ocho partes de los contenidos que se presentan y utiliza 5.1 canales de audio y 48 bocinas, otorgando a la experiencia más de 20 mil watts de potencia.

				p Diariamente los visitantes realizan viajes a más de 15 mil millones de años luz, para conocer nuestro Sistema Solar, estrellas, cúmulos y llegar a los límites del universo conocido.
		include block/megapantalla.pug
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")