doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		
		include block/sedes.pug
		include block/header.pug
		section.cover
			img(src="images/domodigital.png")
			h2 ADO Megapantalla #[br]IMAX
		section.cover-intro
			figure.imagen-cover
				img(src="images/image-ninos.png")
			article.leyenda-intro
				h2 ¡La ADO Megapantalla IMAX de PAPALOTE es una de las salas IMAX más grandes del mundo! 
				p A lo largo de 23 años, los visitantes han realizado increíbles viajes a los confines de nuestro planeta, como el Polo Norte, la sabana africana o las Islas Galápagos; han conocido otras culturas como la Maya, Árabe, Egipcia, Griega, entre otras; e incluso han recorrido el interior del cuerpo humano, y aprendido sobre la tecnología de los helicópteros y la estación espacial en más de 70 películas.

				p Gracias a su tecnología, que utiliza una pantalla curva de 17x24 metros, butacas colocadas estratégicamente frente a la pantalla, sonido envolvente y gran nitidez, la ADO Megapantalla IMAX es un espacio único "donde vives las imágenes".
		include block/megapantalla.pug
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src='js/index.js', type="text/javascript")