doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='Bajo el emblemático lema “Toco, Juego y Aprendo”, PAPALOTE MUSEO DEL NIÑO TOTALMENTE RENOVADO brinda a los visitantes un mejor servicio, instalaciones más cómodas y experiencias de aprendizaje más significativas y memorables. ¡En PAPALOTE nos tomamos el juego muy en serio!')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")

		meta(property='og:title', content='Familias')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content='Bajo el emblemático lema “Toco, Juego y Aprendo”, PAPALOTE MUSEO DEL NIÑO TOTALMENTE RENOVADO brinda a los visitantes un mejor servicio, instalaciones más cómodas y experiencias de aprendizaje más significativas y memorables. ¡En PAPALOTE nos tomamos el juego muy en serio!')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')
	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.flexslider
			ul.slides
				li
					img(src='images/familia.png' alt="familia")
					.meta
						h2 Conoce PAPALOTE #[br]RENOVADO
						span.link Explorar el museo
					.meta-horario
						h3 
						p
							i.fa.fa-clock-o 
							| 19:00 hrs - 23:00 hrs
					.meta-boton
						a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea
				li
					img(src='images/familia.png' alt="familia")
					.meta
						h2 Conoce PAPALOTE #[br] RENOVADO
						span.link Explorar el museo
					.meta-horario
						h3 
						p
							i.fa.fa-clock-o 
							| 19:00 hrs - 23:00 hrs
					.meta-boton
						a.comprar-slider.sombra.btn-efect(href="compra-linea.html") Comprar en línea
		section.zona
			h2 Conoce las zonas del Papalote
			.container
				.circulo
					h4 ZONA 1
					h3 El viaje inicia
					i.elviajeinicia
				.circulo
					h4 ZONA 2
					h3 Mi cuerpo
					i.micuerpo
				.circulo
					h4 ZONA 3
					h3 México vivo
					i.MexicoVivo 
				.circulo
					h4 ZONA 4
					h3 Mi hogar y mi #[br]familiar
					i.MiHogar
				.circulo
					h4 ZONA 5
					h3 Mi ciudad
					i.MiCiudad
				.circulo
					h4 ZONA 6
					h3 Laboratorio #[br]de ideas
					i.LabIdeas
		section.mega-familia
			.content.z-depth-4
				span.cat DOMODIGITAL CITIBANAMEX
				h2 Ballenas 3D
				p Vive una nueva aventura marina y descubre cómo es que hace 50 años las ballenas jorobadas estuvieron a punto de desaparecer; pero hoy en día, lentamente, han sobrevivido a la extinción.
				a.comprar-slider.btn-efect(href="#") Comprar en línea
			figure.image-reino
				img(src="images/ballena-video.png" alt="ballena")
				a#play-video.video-play-button(href='#')
					span
				#video-overlay.video-overlay
					a.video-overlay-close ×

		section.mega-familia-izquierdo
			figure.image-reino
				img(src="images/universo.png"  alt="universo")
				a#play-video.video-play-button(href='#')
					span
				#video-overlay.video-overlay
					a.video-overlay-close ×
			.content.z-depth-4
				span.cat DOMODIGITAL CITIBANAMEX
				h2 Pasaporte al Universo
				p ¿Sabes qué hay más allá de las estrellas que ves en el cielo nocturno? ¿Puedes imaginar cuántas constelaciones existen? Te invitamos a viajar por el maravilloso espacio a través de Pasaporte al Universo.
				a.comprar-slider.btn-efect(href="compra-linea.html") Comprar en línea

		section.programas
			h2 Conoce nuestros programas especiales
			p Actividades - Diciembre 2016
			.container.flex
				article.actividades.z-depth-4 
					figure.image-actividades
						img(src="images/lab1.png" alt="laboratorio ideas")
					h3 Laboratorio de ideas
					a.conoce-actividad.sombra.btn-efect(href="programas-interpretativos.html") Conoce más

				article.actividades.z-depth-4 
					figure.image-actividades
						img(src="images/lab2.jpg" alt="pequeños alpura")
					h3 Área de descubrimiento para pequeños Alpura
					a.conoce-actividad.sombra.btn-efect(href="programas-interpretativos.html") Conoce más

				article.actividades.z-depth-4 
					figure.image-actividades
						img(src="images/lab3.jpg" alt="patio aventura")
					h3 Patio de aventuras
					a.conoce-actividad.sombra.btn-efect(href="programas-interpretativos.html") Conoce más
		section.plan-familia
			h2 Planea tu visita
			
			span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")