doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		meta(property='og:title', content='Papalote museo del niño')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content=' ')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')

	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.contactanos-form
			h2 Contáctanos
			.container-form
				form
					input(type="text" placeholder="Nombre*")
					input(type="text" placeholder="Correo electronico*")
					.item
						select
							option ¿A qué departamento va dirigido tu comentario?*
					textarea(placeholder= "Comentarios:")
					.item-right.flex
						input#cbtest(type='checkbox')
						label.check-box(for='cbtest')
						span.leyenda-privacidad He leído el aviso de privacidad
						a.enviar.sombra(href="#") Enviar

		section.bolsa-trabajo-form
			h2 Bolsa de trabajo
			.container-form
				h3 DATOS DE PERSONALES
				form
					.item
						input(type="text" placeholder="Nombre*")
						input(type="text" placeholder="Apellido paterno")
						input(type="text" placeholder="Apellido materno")
					.item1
						input(type="text" placeholder="Edad")
						.sexo
							p Sexo:
							button Mujer
							button Hombre
					.item2
						input(type="text" placeholder="Télefono local*")
						input(type="text" placeholder="Télefono celular")
					.item3
						input(type="text" placeholder="Correo electrónico*")
					.item4
						input(type="text" placeholder="Código postal")
						select
							option ¿En qué estado vives?
					.item5
						select
							option ¿En qué delegación o municipio?
					.item-text
						h3 Historial profesional / Educación
					.item5
						select
							option Grado último de estudios
					.item3
						input(type="text" placeholder="Carrera")
					.item5
						select
							option Área de interés
					.item5
						select
							option Sede de interés
					.item5
						select
							option Disponibilidad
					.item5
						select
							option Sueldo deseado
					textarea(placeholder= "¿Por qué estás interesado en trabajar en PAPALOTE?*")
					textarea(placeholder= "¿Cuál ha sido tu mayor logro profesional? ")
					textarea(placeholder= "Menciona cuáles son tus objetivos a corto y largo plazo ")
					.item-right.flex
						input#cbtest(type='checkbox')
						label.check-box(for='cbtest')
						span.leyenda-privacidad He leído el aviso de privacidad
						a.enviar.sombra(href="#") Enviar
		section.eventos-servicios
			h2 Eventos y Servicios
			.container-form
				h3 DATOS DE CONTACTO
				form
					.item
						input(type="text" placeholder="Nombre*")
						input(type="text" placeholder="Apellido paterno")
						input(type="text" placeholder="Apellido materno")
					.item2
						input(type="text" placeholder="Télefono local*")
						input(type="text" placeholder="Correo electrónico*")
					.item4
						.leyenda-fecha
							p Fecha tentativa del evento:
						select
							option Dia
						select
							option Mes
						select
							option Año

					.item3
						.leyenda-aprox
							p Número aproximado de visitantes:
						input(type="text" placeholder="(de 15 a 7000 personas)")

					.item5
						select
							option Tipo de evento
					.item5
						select
							option Lugar del evento
					textarea(placeholder= "Comentarios:")
					.item-right.flex
						input#cbtest(type='checkbox')
						label.check-box(for='cbtest')
						span.leyenda-privacidad He leído el aviso de privacidad
						a.enviar.sombra(href="#") Enviar
		section.planea-visita
			h2 Planea tu visita #[br] a PAPALOTE
			h4 Tu visita sería para:
			.container-form
				.contenedor-boton
					button Grupos para empresas y Gobierno
					button Día PAPALOTE
				h3 DATOS DE CONTACTO
				form
					.item
						input(type="text" placeholder="Nombre*")
						input(type="text" placeholder="Apellido paterno")
						input(type="text" placeholder="Apellido materno")
					.item2
						input(type="text" placeholder="Télefono local*")
						input(type="text" placeholder="Correo electrónico*")
					.item3
						input(type="text" placeholder="Nombre de la empresa")
					.item3
						input(type="text" placeholder="Giro de la empresa")
					.item4
						input(type="text" placeholder="Código postal")
						select
							option ¿En qué estado?
					.item6
						select
							option ¿En qué delegación o municipio?
					.item5
						.leyenda-aprox
							p Número aproximado de visitantes:
						input(type="text" placeholder="(de 15 a 7000 personas)")
					.item7
						.leyenda-fecha
							p Fecha tentativa del evento:
						select
							option Dia
						select
							option Mes
						select
							option Año
					.item5
						.leyenda-aprox
							p Número aproximado de visitantes:
						input(type="text" placeholder="(de 15 a 7000 personas)")

					textarea(placeholder= "Comentarios:")
					.item-right.flex
						input#cbtest(type='checkbox')
						label.check-box(for='cbtest')
						span.leyenda-privacidad He leído el aviso de privacidad
						a.enviar.sombra(href="#") Enviar




				form
					.item
						input(type="text" placeholder="Nombre*")
						input(type="text" placeholder="Apellido paterno")
						input(type="text" placeholder="Apellido materno")
					.item2
						input(type="text" placeholder="Télefono local*")
						input(type="text" placeholder="Correo electrónico*")
					.item4
						input(type="text" placeholder="Código postal")
						select
							option ¿En qué estado?
					.item6
						select
							option ¿En qué delegación o municipio?
					.item5
						.leyenda-aprox
							p Número aproximado de visitantes:
						input(type="text" placeholder="(de 15 a 7000 personas)")
					.item7
						.leyenda-fecha
							p Fecha tentativa de visita:
						select
							option Dia
						select
							option Mes
						select
							option Año
					.item5
						.leyenda-aprox
							p Número aproximado de visitantes:
						input(type="text" placeholder="(de 15 a 7000 personas)")

					textarea(placeholder= "Comentarios:")
					.item-right.flex
						input#cbtest(type='checkbox')
						label.check-box(for='cbtest')
						span.leyenda-privacidad He leído el aviso de privacidad
						a.enviar.sombra(href="#") Enviar

		section.grupos-esolares
			h2 Grupos escolares
			.container-form
				form
					h3 DATOS DE LA ESCUELA
					.item1
						input(type="text" placeholder="Nombre*")
					.item5
						select
							option ¿En qué delegación o municipio?
					.item2
						input(type="text" placeholder="Télefono local*")
						input(type="text" placeholder="Correo electrónico*")


					




		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery-ui.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")