doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
			.container
				section.horarios
					h2 Horarios
					h3 Del 1 al 18 de diciembre de 2016
					p Horarios Museo
					p Lunes a viernes: 9:00 a 18:00 hrs.
					p Jueves: 9:00 a 23:00 hrs.
					p Sábado, domingo y días festivos: 10:00 a 19:00 hrs.

					h4 Funciones

					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Ballenas 3D
						p Lunes a viernes: 10:30, 12:30.14:30 y 16:30 hrs.
						p Jueves (función adicional): 20:30 hrs.
						p Sábado, domingo y días festivos: 10:30, 12:30, 14:30, 16:30 y 18:30 hrs.

					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Parques Nacionales: La Aventura en América Salvaje 3D
						p Lunes a viernes: 11:30, 13:30, 15:30 hrs. 
						p Jueves (funciones adicionales): 19:30 y 21:30 hrs.

					a.btn-horario(href=" ") conoce más


					article.card-horario
						h2 domodigital Citibanamex
						h3 Pasaporte al Universo
						p Lunes a viernes: 9:50, 11:30, 13:10, 14:50 y 16:30 hrs.
						p Jueves (funciones adicionales): 19:00 y 20:40 hrs.
						p Sábado, domingo y días festivos: 11:30, 13:10, 14:50, 16:30 y 18:10 hrs.

					article.card-horario
						h2 domodigital Citibanamex
						h3 Exoplanetas
						p Lunes a viernes: 10:40, 12:20, 14:00 y 15:40 hrs.
						p Jueves (función adicional): 19:50 hrs.
						p Sábado, domingo y días festivos: 10:40, 12:20, 14:00, 15:40 y 17:20 hrs.

					a.btn-horario(href=" ") conoce más

				section.horarios
					h2 Horarios
					h3 Del 19 de diciembre de 2016 al 1 de enero de 2017
					p Horarios Museo
					p Del 19 al 23 de diciembre: 10:00 a 19:00 hrs.
					p Del 26 al 30 de diciembre: 10:00 a 20:00 hrs.
					p Jueves 22 y 29 de diciembre: 10:00 a 23:00 hrs.
					p 24 y 31 de diciembre: 10:00 a 14:00 hrs.
					p 25 de diciembre: Cerrado.
					p 1 de enero: 12:00 a 20:00 hrs.

					h2 Funciones

					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Ballenas 3D
						p Del 19 al 23 de diciembre: 10:30, 12:30.14:30, 16:30, 17:30 y 18:30 hrs.
						p Del 26 al 30 de diciembre: 10:30, 12:30.14:30, 16:30, 18:30 y 19:30 hrs.
						p Jueves 22 y 29 de diciembre (funciones adicionales): 20:30, 21:30 y 22:30 hrs.
						p 24 y 31 de diciembre: 10:30, 12:30 y 13:30 hrs.
						p 1 de enero: 12:30, 14:30, 16:30 y 18:30 hrs.

					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Parques Nacionales: La Aventura en América Salvaje 3D

						p Del 19 al 23 de diciembre: 11:30, 13:30 y 15:30 hrs.
						p Del 26 al 30 de diciembre: 11:30, 13:30, 15:30 y 17:30 hrs.
						p Jueves 22 y 29 de diciembre (función adicional): 19:30 hrs.
						p 24 y 31 de diciembre: 11:30 hrs.
						p 1 de enero: 13:30, 15:30, 17:30 y 19:30 hrs.

					a.btn-horario(href=" ") conoce más

					article.card-horario
						h2 domodigital Citibanamex
						h3 Pasaporte al Universo
						p Del 19 al 23 de diciembre: 11:30, 13:10, 14:50, 16:30 y 18:10 hrs.
						p Del 26 al 30 de diciembre: 11:30, 13:10, 14:50, 16:30, 18:10 y 19:50 hrs
						p Jueves 22 y 29 de diciembre (función adicional): 21:30 hrs.
						p 24 y 31 de diciembre: 11:30 y 13:10 hrs.
						p 1 de enero: 13:10, 14:50, 16:30, 18:10 y 19:50 hrs.

					article.card-horario
						h2 domodigital Citibanamex
						h2 Exoplanetas
						p Del 19 al 23 de diciembre: 10:40, 12:20, 14:00, 15:40 y 17:20 hrs.
						p Del 26 al 30 de diciembre: 10:40, 12:20, 14:00, 15:40, 17:20 y 19:00 hrs.
						p Jueves 22 y 29 de diciembre (funciones adicionales): 20:40 y 22:20 hrs.
						p 24 y 31 de diciembre: 10:40 y 12:20 hrs.
						p 1 de enero: 12:20, 14:00, 15:40, 17:20 y 19:00 hrs.

					a.btn-horario(href=" ") conoce más

				section.horarios
					h2 Horarios
					h3 Del 2 al 31 de enero de 2017
					p Horarios Museo
					p Lunes a viernes: 9:00 a 18:00 hrs.
					p Jueves: 9:00 a 23:00 hrs.
					p Sábado, domingo y días festivos: 10:00 a 19:00 hrs.
					p 6 y 27 de enero: 10:00 a 19:00 hrs.
					h2 Funciones


					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Ballenas 3D
						p Lunes a viernes: 10:30, 12:30.14:30 y 16:30 hrs.
						p Jueves (funciones adicionales): 19:30 y 21:30 hrs.
						p Sábado, domingo y días festivos: 10:30, 12:30, 14:30, 16:30 y 18:30 hrs.
						p 6 y 27 de enero: 10:30, 12:30, 14:30, 16:30 y 18:30 hrs.

					article.card-horario
						h2 ADO Megapantalla IMAX
						h3 Parques Nacionales: La Aventura en América Salvaje 3D
						p Lunes a viernes: 11:30, 13:30, 15:30 hrs. 
						p Jueves (función adicional): 20:30 hrs.
						p Sábado, domingo y días festivos: 11:30, 13:30, 15:30 y 17:30 hrs.
						p 6 y 27 de enero: 11:30, 13:30, 15:30 y 17:30 hrs.
					a.btn-horario(href=" ") conoce más

					article.card-horario
						h2 domodigital Citibanamex
						h3 Pasaporte al Universo
						p Lunes a viernes: 9:50, 11:30, 13:10, 14:50 y 16:30 hrs.
						p Jueves (funciones adicionales): 19:00 y 20:40 hrs.
						p Sábado, domingo y días festivos: 11:30, 13:10, 14:50, 16:30 y 18:10 hrs.
						p 6 y 27 de enero: 11:30, 13:10, 14:50, 16:30 y 18:10 hrs.

					article.card-horario
						h2 domodigital Citibanamex
						h3 Exoplanetas
						p Lunes a viernes: 10:40, 12:20, 14:00 y 15:40 hrs.
						p Jueves (función adicional): 19:50 hrs.
						p Sábado, domingo y días festivos: 10:40, 12:20, 14:00, 15:40 y 17:20 hrs.
						p 6 y 27 de enero: 10:40, 12:20, 14:00, 15:40 y 17:20 hrs.

					a.btn-horario(href=" ") conoce más


		//- include block/horarios.pug
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src='js/index.js', type="text/javascript")