doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Nombre sitio
		link(href="css/style.css", rel="stylesheet", type="text/css")
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		.container
			header
				

			footer
		script(src="js/jquery-1.11.3.min.js")
		script(src='js/index.js', type="text/javascript")