doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		include block/sedes.pug
		include block/header.pug
		//- include block/aviso.pug
		//- include block/termino.pug
		include block/slider.pug
		//- include block/slider-blog.pug
		//- include block/horarios.pug
		//- include block/cover.pug
		//- include block/renovado.pug
		//- include block/plan.pug
		//- include block/notas.pug
		include block/slider-patrocinador.pug
		//- include block/experiencia-contenido.pug
		//- include block/precio-paquete.pug
		//- include block/servicio-espacio.pug
		//- include block/megapantalla.pug
		//- include block/timeline.pug
		//- include block/carrucel-mega.pug
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src='js/index.js', type="text/javascript")