doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote para todos
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
			
		meta(property='og:title', content='Papalote museo del niño')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content=' ')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')

	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.cover
			img(src="images/cover-papalote-todos.png"  alt="papalote para todos")
			h2 PAPALOTE para TODOS
		section.item-intro
			.container
				.item-content
					h2 ¿Qué es?
					p Es nuestro programa de compromiso social el cual brinda visitas gratuitas al Museo a niñas, niños, maestros de escuelas públicas o personas en condiciones de alta vulnerabilidad. 
				figure.image-intro
					img(src="images/intro-para-todos.png")
		section.donar-paypal
			.item-content
				.container
					h2 ¿Deseas donar?
					p Tú puedes apoyar a PAPALOTE para TODOS para que más niñas, #[br] niños y personas en situación de alta vulnerabilidad conozcan #[br] nuestra experiencia de aprendizaje a través del juego,
					span.envia envía un correo a:
					span.email
						a(href="mailto:gabriela.alvarez@papalote.org.mx") gabriela.alvarez@papalote.org.mx
					figure
						img(src="images/paypal.png")
					a.btn-donar(href="#") Donar
			.item-content
				.container
					h2 Ser beneficiario
					p Envía tu solicitud de participación al correo de 
					span.email 
						a(href='mailto:desarrollo@papalote.org.mx') desarrollo@papalote.org.mx

					p con la información general de tu organización o institución y ¿cómo ayudaría la visita a Papalote Museo del Niño a tu organización?.



		section.experiencia-group-todos
			.container.flex
				article.z-depth-4
					.circule
						i.icon-retornosocial
					h3 Retorno social sobre inversión (RSOI)
					p Por cada peso donado a la institución 
						span $2.44 
						| pesos son generados como beneficio a la sociedad mexicana en el transcurso de 
						span 1 año.

				article.z-depth-4
					.circule
						i.icon-eficacia
					h3 Eficacia
					p Derivado de los resultados obtenidos de las encuestas aplicadas por Filantrofilia, calificadora social, se concluyó que 
						span 74.5% 
						| de los beneficiarios del Programa 
						span PAPALOTE para TODOS
						|  no cuentan con otra opción de educación y esparcimiento extra escolar que contribuya a la mejora de su calidad de vida.

		section.padrinos.flex
			article.marcas
				#slider-1.slider
					.slider-wrapper
						.slide
							h2 Patrocinadores del programa 
							.content-logo-marca
								h3 PAPALOTE vuela más alto
								figure.marca
										img(src="images/padrinos/logo_bimbo.png" alt="bimbo")
								figure.marca
										img(src="images/padrinos/logo_alpura.png" alt="alpura")
								figure.marca
										img(src="images/padrinos/logo_citibanamex.png" alt=" citibanamex")
								figure.marca
										img(src="images/padrinos/logo_johnson.png" alt="johnson")

			article.leyenda-content
				h2 ¿Deseas donar?
				p Gracias a tu contribución miles de niños, niñas y familias mexicanas vivirán una increíble experiencia de aprendizaje y diversión.
				p Si deseas apoyar a 
					span PAPALOTE
					|, comunícate al 5237 1715 o envía un correo a 
					span.email 
						a(href='mailto:desarrollo@papalote.org.mx') desarrollo@papalote.org.mx

		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")