doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.flexslider
			ul.slides
				li
					img(src='images/slider_inapam.jpg')
					.meta
						h2 Presenta tu credencial #[br] del INAPAM
						span.adquiere ¡y obtén 25% en cualquier admisión!
					.meta-horario
						.leyenda-promociones Indispensable presentar credencial de INAPAM en taquillas PAPALOTE. Promoción válida en cualquier admisión, excepto Paquete Familiar. No aplica con otras promociones ni descuentos. Sujeto a disponibilidad de horarios y espacios.



				li
					img(src='images/slider_costco.jpg')
					.meta
						h2 Conoce PAPALOTE #[br]RENOVADO
						span.adquiere y ahorra 35% al comprar tus entradas en 
					.meta-horario
						.leyenda-promociones Certificado de regalo de venta en sucursales Coapa, Polanco, Arboledas, Satélite e Interlomas. No aplica con otras promociones ni descuentos. Canjeable sólo en taquillas de PAPALOTE. Sujeto a disponibilidad de horarios y espacios. Válido sólo en Superpaquete. Se puede canjear un solo cupón o ambos en 1 transacción
					.meta-incluye-rojo
							span.titulo-gen 2 Superpaquetes
							span.inclu Incluye:
							span.titulo Museo
							i.fa.fa-plus-circle
							span.titulo ADO Megapantalla IMAX
							i.fa.fa-plus-circle
							span.titulo domodigital Citibanamex


				li
					img(src='images/slider_compralinea.jpg')
					.meta
						h2 Si compras en línea, #[br]¡Ahorras más!
						span.adquiere Da clic y adquiere tus boletos a un mejor precio.
					.meta-horario
						.leyenda-promociones Promocón válida sólo en compra en línea. No aplica con otras promociones ni descuentos. Sujeto a disponibilidad de horarios y espacios.
				li
					img(src='images/slider_tdu.jpg')
					.meta
						h2 Presenta tu tarjeta #[br]TDU
						span.adquiere ¡y obtén 20% de descuento en el Superpaquete!
					.meta-horario
						
						.leyenda-promociones  Descuento para máximo 2 personas por tarjeta. No aplica con otras promociones ni descuentos. Sujeto a disponibilidad de horarios y espacios. Válido sólo en Superpaquete.
					.meta-incluye
						span.inclu Incluye:
						span.titulo Museo
						i.fa.fa-plus-circle
						span.titulo ADO Megapantalla IMAX
						i.fa.fa-plus-circle
						span.titulo domodigital Citibanamex




		include block/precio-paquete.pug
		section.leyenda-precio
			p Sujeto a disponibilidad. Niños pagan admisión a partir de 2 años. Precios sujetos a cambios sin previo aviso.
		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")