doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Preguntas frecuentes
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		meta(property='og:title', content='Papalote museo del niño')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content='')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')

	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.cover
			img(src="images/covers_faqs.png"  alt="megapantalla")
			h2 Preguntas frecuentes
		section.acordeon
			h2 Resolvemos tus dudas
			.container
				nav.preguntas-frecuentes
					ul
						li
							a(href="#") Compra
						li
							a(href="#") Información general
						li
							a(href="#") ADO Megapantalla / domodigital Citibanamex
						li
							a(href="#") Instalaciones
				ul.accordion.activa
					li
						a ¿Puedo comprar mis boletos en línea?
						p Sí, a un mejor precio. 
							span.enlace La Compra en Línea 
							| puedes realizarla únicamente con tarjeta de crédito. Es importante que revises todos los datos de tu visita (funciones y horarios) antes de dar clic en pagar. También puedes adquirirlos directamente en taquillas o por teléfono al 5237- 17-78
					li
						a ¿Aceptan tarjeta de crédito o débito para comprar mis boletos en taquillas?
						p Sí. Puedes pagar con cualquier tarjeta de débito o crédito presentando una identificación oficial en cualquiera de nuestras taquillas.
					li
						a ¿Puedo adquirir factura de mi compra?
						p Cuando adquieras tus boletos en taquilla te proporcionaremos los datos que nos tiene que enviar y el
						p correo electrónico a quien puedes dirigirte para la facturación.

						p Cuando compras en línea tus boletos, al final de proceso podrás seleccionar la opción de facturación.

					li
						a ¿Tienen algún descuento o promoción?
						p Sí. Te invitamos a visitar nuestra sección de 
							span.enlace Promociones.

					li
						a ¿Los niños y los adultos pagan lo mismo?
						p Los niños menores de 2 años no pagan admisión. Todos los demás pagan el mismo precio. 
							span.enlace Consulta los Precios y Paquetes     
							|  con los que contamos.
					li
						a ¿Cuáles son los horarios de PAPALOTE y de las películas?
						p Puedes consultar nuestros horarios en la 
							span.enlace Cartelera  
							|  para poder tener una mejor experiencia en tu recorrido.

				ul.accordion

					li
						a ¿Cuánto dura el recorrido?
						p Si deseas tener una experiencia completa (funciones de ADO Megapantalla IMAX, domodigital Citibanamex y exhibiciones) la duración aproximada es de 5 horas.
						p Recuerda que puedes permanecer en PAPALOTE desde que abrimos hasta que cerramos. 
							span.enlace ¡Planea tu visita!.

					li
						a ¿A partir de qué edad es recomendable PAPALOTE?
						p Contamos con área de exhibiciones permanentes y temporales donde niños, jóvenes y adultos pueden convivir y divertirse.
					li
						a ¿Cuentan con recorridos guiados?
						p No se proporcionan recorridos guiados, ya que la experiencia en PAPALOTE es libre. En cada una de las áreas, encontrarás a los 
							span.rojo Cuates. 
							| Ellos te facilitarán la interacción con las exhibiciones.

					li
						a ¿Hay accesos para sillas de ruedas?
						p Sí, contamos con rampas, elevadores y sanitarios para personas con discapacidad. Si llegas a necesitar una silla de ruedas, te la podemos prestar en Paquetería. Lo único que tienes que hacer es dejar una credencial. Te recordamos que las sillas de ruedas son para uso exclusivo en nuestras instalaciones.

					li
						a ¿Puedo ingresar a PAPALOTE con carriola?
						p Sí. En caso de no contar con una, puedes solicitarla en préstamo en Paquetería. Debes presentar identificación oficial o dejar un depósito de 
							span.rojo $200.00 
							|  que se te reembolsa al regresar la carriola.
					li
						a Si pierdo algo, ¿qué debo hacer?
						p Acercarte a Mesa de Informes y pregunta si lo han visto.
					li
						a ¿Dónde puedo dejar mis cosas?
						p Contamos con lockers donde podrás dejar tus mochilas o bolsas grandes. La renta del locker tiene un costo de 
							span.rojo $10.00.
					li
						a ¿Puedo llegar en bicicleta al Museo?
						p Sí, contamos con un área delimitada para resguardarla. Ésta se encuentra a un costado de la Tienda del Museo.

				ul.accordion
					li
						a ¿Las películas están en español?
						p Sí están en español, precisamente para tener un acceso fácil a la información de las películas.
					li
						a ¿Hay asientos numerados para la ADO Megapantalla IMAX y el domodigital Banamex?
						p 
							span.rojo No hay asientos numerados.
							| Todos tienen excelente visibilidad. Te recomendamos llegar 15 minutos antes de la proyección.
					li
						a ¿Para qué edades son apropiadas las películas del domodigital Citibanamex y de la ADO Megapantalla IMAX?
						p Las películas son para toda la familia. Sin embargo, algunas películas son recomendadas para mayores de 6 años por la complejidad de los temas.

					li
						a ¿Puedo pasar con carriola a la ADO Megapantalla IMAX o al domodigital Citibanamex?
						p Contamos con un sitio especial para dejar tus carriolas en ambas salas. Si llegas a requerir de alguna carriola, también te la podemos prestar.
					li
						a ¿Puedo tomar fotos de las películas?
						p Por derechos de autor 
							span.rojo no está permitido tomar fotografías ni video 
							|  o usar grabadoras 
							span.rojo durante la proyección. 
							|  En las exhibiciones sí puedes tomar fotos o video.
					li
						a ¿Cuánto dura cada película en la ADO Megapantalla IMAX y en el domodigital Citibanamex?
						p Aproximadamente 45 minutos en ADO Megapantalla IMAX y 25 minutos en el domodigital Citibanamex.
				ul.accordion
					li
						a ¿Cuentan con cajero automático?
						p Sí, contamos con cajero automático a un lado de la ADO Megapantalla IMAX.
					li
						a ¿Tienen área de comida?
						p El Museo cuenta con área de comida rápida, donde puedes consumir tus alimentos.
					li 
						a ¿Puedo entrar con alimentos al Museo?
						p En caso de traer alimentos debes dejarlos en el área de lockers, los cuales están ubicados a un costado de la tienda. Los lockers son de autoservicio y tienen un costo de $10.
					li
						a ¿Dónde puedo cambiarle el pañal a mi bebé?
						p Dentro de los baños existe un espacio para hacerlo. Si no traes pañal, puedes solicitarlo en 
							span.rojo Mesa de Informes 
							| por un donativo de 
							span.rojo $5.00.
					li
						a ¿Cuentan con estacionamiento?
						p No. Por el momento el estacionamiento de PAPALOTE no se encuentra disponible. Sin embargo, existen otras opciones de estacionamiento ubicadas dentro del Circuito de la 2ª Sección del Bosque de Chapultepec.


		section.contactar
			figure
				img(src="images/moustro.png")
			h2 ¿No encontraste lo que buscabas? 
			a.btn-contacto.sombra.btn-efect(href="#") Contáctanos

		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery-ui.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")