doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Papalote
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		include block/sedes.pug
		include block/header.pug
		section.cover
			img(src="images/cover_programasinterpretativos.jpg")
			h2 Actividades #[br]especiales
		section.text
			h2 ¡Conoce nuestras actividades del mes aquí!
		section.hologramas
			.container.flex
				h2 Diciembre  
					span 2016
				.holograma
					.cuadro.azul 
					p laboratorio de ideas
				.holograma
					.cuadro.verde-n 
					p Mexico vivo
				.holograma
					.cuadro.morado 
					p Area de descubrimiento Alpura
				.holograma
					.cuadro.naranja 
					p patio de aventuras

		section.laboratorio
			.container
				h2 Laboratorio de ideas
			.container.z-depth-4
				article.izquiera
					h3 Creador invitado
					p Esta temporada, ¡Michael Chamú será nuestro 
						span Creador invitado
						|!
					p Michael es un diseñador egresado de la Escuela de Diseño del Instituto Nacional de Bellas Artes y Literatura. Ha experimentado en las ramas de diseño editorial, textil, moda, mobiliario, web, videomapping, ¡y ahora colaborará con 
						span PAPALOTE 
						| para crear el tradicional nacimiento navideño! ¿Te animas a participar?

				article.derecha
					p 
						span ¿Cómo?. 
						| Crearemos un gran mural con telas, inspirados en las muchas y distintas tradiciones alrededor de esta época de renovación, haciendo uso diferentes materiales, textiles y herramientas. ¡Tu imaginación será el ingrediente más importante!

					p 
						span ¿Para quién? . 
						| Niñas y niños de 6 a 12 años.

					p ¿Y los adultos? . También compartirán sus historias participando en la elaboración del mural en compañía de su familia.

					p 
						span ¿Cuándo? 
						|. A partir de diciembre. 
						span Consulta fechas y horarios 
						span.click aquí

					p 
						span ¿Dónde? . 
						| En Creador invitado.
				article.calendario
					.item1
						h2 ¿Cuándo?
					.item2
						.contenedor_aplicacion
							#atrasar_mes.flecha_mes
								p.fa.fa-sort-desc
							.contenedor_calendario
								.titulo-calendario
									h3(id='mes_año')
								#dias
									div
										.dias.semana
											p L
										.dias.semana
											p M
										.dias.semana
											p M
										.dias.semana
											p J
										.dias.semana
											p V
										.dias.semana
											p S
										.dias.semana
											p(style='color:red;') D
									div
										.dias
											p#c00
										.dias
											p#c01
										.dias
											p#c02
										.dias
											p#c03
										.dias
											p#c04
										.dias
											p#c05
										.dias
											p#c06
									div
										.dias
											p#c10
										.dias
											p#c11
										.dias
											p#c12
										.dias
											p#c13
										.dias
											p#c14
										.dias
											p#c15
										.dias
											p#c16
									div
										.dias
											p#c20
										.dias
											p#c21
										.dias
											p#c22
										.dias
											p#c23
										.dias
											p#c24
										.dias
											p#c25
										.dias
											p#c26
									div
										.dias
											p#c30
										.dias
											p#c31
										.dias
											p#c32
										.dias
											p#c33
										.dias
											p#c34
										.dias
											p#c35
										.dias
											p#c36
									div
										.dias
											p#c40
										.dias
											p#c41
										.dias
											p#c42
										.dias
											p#c43
										.dias
											p#c44
										.dias
											p#c45
										.dias
											p#c46
									div
										.dias
											p#c50
										.dias
											p#c51
										.dias
											p#c52
										.dias
											p#c53
										.dias
											p#c54
										.dias
											p#c55
										.dias
											p#c56
							#adelantar_mes.flecha_mes
								p.fa.fa-sort-desc
					.item3
						p.date 17 y 18 Dic #[br]
							span.small 11:00 a 16:00 hrs

						p 19,20, 21, 23,26,27,28 y 30 dic #[br]
							span.small 11:00 a 13:00 hrs | 15:30 a 18:30 hrs

						p.date 22 Dic  #[br]
							span.small 10:00 a 13:30 hrs  |  15:30 a 16:30 hrs  |  16:00 a 22:00 hrs

						p 24 y 31 Dic  #[br]
							span.small 10:00 a 13:00 hrs
						p 29 Dic #[br]
							span.small 10:00 a 13:30 hrs  |  15:00 a 22:00 hrs
						span.close



			.container.z-depth-4

				article.izquiera
					h3 Gelatinas sorpresa
					p ¡Sigue nuestra receta y prepara una gelatina que te asombrará!

				article.derecha

					p 
						span ¿Para quién? 
						|. Niñas y niños de 6 a 12 años.

					p 
						span ¿Y los adultos? 
						|. Ellos también podrán hacer su gelatina y guiar a sus niños por si algo se les dificulta.

					p 
						span ¿Dónde?
						| . En Experimentos comestibles.

			.container.z-depth-4
				article.izquiera
					h3 Circuitos de grafito
					p ¿Si dibujas un cable puede servir para encender un foco? ¡En esta actividad te retamos a lograrlo!

				article.derecha
					p 
						span ¿Para quién? 
						| . Niñas y niños de 6 a 12 años.

					p 
						span ¿Y los adultos? 
						| . Acompañarán a sus niños en el proceso de resolver el reto, dándoles información, apoyo y la seguridad de que pueden lograrlo.

					p 
						span ¿Dónde? 
						| . En ¡Dibuja, pinta y pega!

			.container.z-depth-4
				article.izquiera
					h3 Motor magnético
					p Construye un motor con las fuerzas del magnetismo y pon a girar y girar un cable.

				article.derecha
					p 
						span ¿Para quién? 
						|. Niñas y niños de 6 a 12 años.

					p 
						span ¿Y los adultos? 
						| . Acompañarán a sus niños en el proceso de resolver el reto, dándoles información, apoyo y la seguridad de que pueden lograrlo.

					p 
						span ¿Dónde? 
						|. En Estudio robot.

		section.mexico-vivo
			.container
				h2 México vivo
			.container.z-depth-4
				article.izquiera
					h3 Bombas de vida
					p ¡Únete a la guerrilla verde! La jardinera de 
						span PAPALOTE RENOVADO 
						| te enseñará a hacer unas bombas especiales para que hagas explotar vida vegetal en donde no la hay.


				article.derecha
					p 
						span ¿Para quién? 
						|. Niñas y niños de 6 a 12 años.

					p 
						span ¿Y los adultos? 
						|. Ellos también pueden crear sus bombas de vida y ayudar a sus niños a decidir en dónde colocarla en su comunidad.

					p 
						span ¿Dónde? 
						|. En La casa de la jardinera.

		section.descubrimientos
			.container
				h2 Área de descubrimiento para pequeños Alpura
			.container.z-depth-4

				article.izquiera
					h3 Cuentacuentos
					p Selecciona un cuento de nuestro menú, ponte cómodo y déjate transportar por un Cuate a otros mundos con esta actividad de cuentacuentos.
					h4 ¿Qué cuentos contaremos?
					ul
						li “Los amigos de Elmer” de David McKeey
						li “Elmer y el clima” de David McKeey
						li “¡Me perdí!” de Satoshi Kitamura
						li “¡A comer!” de Satoshi Kitamura
						li “¿En qué trabajan?” de Ana María Sánchez y Paloma Valdivia

				article.derecha
					p 
						span ¿Para quién? 
						|. Niñas y niños de 3 a 5 años.

					p 
						span ¿Y los adultos? 
						|. Ellos también podrán disfrutar de los cuentos y fijarse muy bien cómo lo hacen los Cuates para que puedan contarles cuentos a sus niños igual de bien.

					p 
						span ¿Cuándo? 
						|. A partir del 16 de diciembre.

					p 
						span ¿Dónde? 
						|. En el Área de descubrimiento para pequeños Alpura.

		section.patio-aventura
			.container
				h2 Patio de aventuras
			.container.z-depth-4
				article.izquiera
					p El 
						span Patio de aventuras 
						| es un espacio dedicado para 
						span los visitantes más pequeños. 
					p Aquí jugarán libremente en cinco divertidas exhibiciones:

					h4 ¿Con qué exhibiciones contaremos?
					ul
						li La guarida: ¡el lugar ideal para jugar a la casita!
						li ¡Atrapa el agua!: para llevarla a un gran tinaco y aprender a reusarla.
						li Camino escondido: encuentra la salida de este divertido laberinto.
						li ¡Al rescate!: ¡con todo y un camión de bomberos!
						li Arenas movedizas: en nuestro famosísimo arenero.


				article.derecha
					p 
						span ¿Para quién? 
						|. Niñas y niños de 3 a 5 años.

					p 
						span ¿Y los adultos? 
						|. Ellos también podrán disfrutar de los cuentos y fijarse muy bien cómo lo hacen los Cuates para que puedan contarles cuentos a sus niños igual de bien.

					p 
						span ¿Y los adultos? 
						|. ¡A todos nos encanta jugar! Por lo que los adultos serán importantes participantes en las actividades de los más pequeños. Juntos crearán lazos de seguridad y confianza necesarios en esta etapa de desarrollo.

					p 
						span ¿Cuándo? 
						|. A partir del 15 de diciembre.



		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")