doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Servicio social
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/jquery.bxslider.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
			
		meta(property='og:title', content='Papalote museo del niño')
		meta(property='og:site_name', content='Papalote')
		meta(property='og:url', content='http://papalote.org.mx/')
		meta(property='og:description', content=' ')
		meta(property='og:image', content='http://papalote.org.mx/assets/images/papalote-logo.png')

	body
		.contenedor-fixed
			include block/sedes.pug
			include block/header.pug
		section.cover
			img(src="images/cover-servicio-social.png"  alt="megapantalla")
			h2 Servicio Social #[br] Administrativo  #[br] y Cuates
		section.intro-servicio-social
			h2 Conoce más de ambos #[br] programas
			.container
				.item.flex
					button Servicio Social Administrativo
					button Cuates
			.admin
				.container
					.item-content
						h2 Sé parte de nuestro Servicio Social Administrativo
						p 
							span PAPALOTE 
							| te ofrece un espacio único donde además de realizar tu Servicio Social o Prácticas Profesionales podrás interactuar con estudiantes de otras disciplinas y tener contacto con el mundo laboral.

					figure.image-intro
						img(src="images/ima-admin.png")
					section.intro-cover-rigth
						.container
							figure
								img(src="images/ima-cuates.png")
							.item-content
								h2 ¿Qué hace el equipo de Servicio Social Administrativo?
								p El Servicio Social Administrativo te permite desarrollar tus habilidades formativas y de servicio dentro de las áreas internas de 
									span PAPALOTE. 
								p Cada área cuenta con diferentes actividades y funciones; tú puedes escoger la que sea más acorde a tu carrera. ¡Queremos impulsar tu aprendizaje académico y desarrollo profesional de una manera divertida!
					figure.pendulo
						img(src="images/pendulo.png")

				section.areas-desarrollo
					.container
						article.requisitos
							h3 Requisitos
							.container-datos.flex
								.item
									.circulo
										i.fa.icon-requisitos1_SSA
									h4 Estudiantes
								.item
									.circulo
										i.fa.icon-requisitos2_SSA
									h4 Recién egresados
								.item
									.circulo
										i.fa.icon-requisitos3_SSA
									h4 Promedio
						figure.pendulo
							img(src="images/pendulo.png")

						article.beneficios
							h3 Beneficios
							.container-datos.flex
								.item
									.circulo
										i.fa.icon-beneficios1_SSA
									p Aprendizaje y desarrollo de acuerdo al perfil académico
								.item
									.circulo
										i.fa.icon-beneficios2_SSA
									p Inclusión y experiencia profesional
								.item
									.circulo
										i.fa.icon-beneficios3_SSA
									p Desarrollo de habilidades y competencias
						article.areas
							h3 Áreas en las que podrás #[br] desarrollarte 
							.container-datos.flex
								.item
									.circulo
										i.fa.icon-areas1_SSA
									h4 Mercadotecnia
								.item
									.circulo
										i.fa.icon-areas2_SSA
									h4 Administración
								.item
									.circulo
										i.fa.icon-areas3_SSA
									h4 Diseño Gráfico
							.container-datos.flex
								.item
									.circulo
										i.fa.icon-areas4_SSA
									h4 Diseño Industrial 
								.item
									.circulo
										i.fa.icon-areas5_SSA
									h4 Servicio al Público
								.item
									.circulo
										i.fa.icon-areas6_SSA
									h4 Soporte Técnico 
							.container-datos.flex
								.item
									.circulo
										i.fa.icon-areas7_SSA
									h4 Recursos Humanos
								.item
									.circulo
										i.fa.icon-areas8_SSA
									h4 Contenidos Educativos

						h2 ¡Compártenos tu currículum! 
							.custom-input-file.sombra
								i.fa.icon-icn_adjuntar
								input.input-file(type='file')
				section.programas-cuates
					.container
						h2 o también conoce #[br] nuestro programa de Cuates
						a.clic.sombra(href="#") clic aquí
				section.informacion-equipo
					.item
						h2 ¿Necesitas más información?
					.item
						h3 Comunícate con:
						p Claudia Yaneth Lecona Hurtado
						.container-item
							a.tel(href='tel:+5237 1719') 5237 1719
						a.mail-info(href='mailto:claudia.lecona@papalote.org.mx') claudia.lecona@papalote.org.mx


		span.ir-arriba
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/jquery-ui.min.js")
		script(src="js/jquery.flexslider-min.js")
		script(src="js/select.js")
		script(src="js/waves.js")
		script(src="js/slider.js")
		script(src="js/jquery.bxslider.js")
		script(src='js/index.js', type="text/javascript")