footer{
    width: 100%;
    background-color:$color-footer;
    height: auto;
    padding: 2.0625rem 10px;
    clear: both;
    aside.social{
        border-bottom: 3px solid $color-azul-footer;
        color: #fff;
        padding-bottom: 1.875rem;
        justify-content: space-between;
        align-items: center;
        .container-newsletter{
             width: 280px;
             position:relative;
            input.newsletter{
                border: 1px solid rgba(255, 255, 255, 0.5);
                background-color: #35485D;
                 color: rgba(255, 255, 255, 0.8);
                input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 14px; font-family:'montserratlight';}
                input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 14px; font-family:'montserratlight';}
                input:-moz-placeholder {color: rgba(255, 255, 255, 0.5);font-size: 14px; font-family:'montserratlight';}
                input:-ms-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 14px; font-family:'montserratlight';}
                padding: 0.3125rem 1.25rem;
                height: 40px;
                width: 100%;}
            .fa-envelope:before {
                color: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 0.875rem;
                right: 0.625rem;}
            }
        .social{
            align-items: center;
            justify-content: space-between;
            width: 32%;
            position: relative;
            h2{
              font-size: 1.125rem;
              color:$color-azul-footer;}

             i{
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                display: inline-block;
                margin-right: 0.625rem;
                position: relative;
                height: 2.375rem;
                width: 2.375rem;
                a{
                    color: $color-footer;
                    text-decoration: none;
                    font-size: 1.3125rem;
                    position: absolute;
                    top: 50%;  
                    left: 50%; 
                    transform: translate(-50%, -50%);}
            }
        }
    }
    section.contactanos{
        overflow: hidden;
        .column{
            float: left;
            width: 50%;
            color: #fff;
            position: relative;
            transition: all 0.3s;
            h2{
                color: $color-azul-footer;
                margin-top: 2.0625rem;
                margin-bottom: 3rem;
                font-size: 1.375rem;}
            p{
                font-family: 'montserratlight';
                margin:0px;}
            input{
                background: transparent;}
            ul{
                list-style: none;
                margin-left: 3.125rem;
                li{
                    margin-bottom: 1.625rem;
                    font-size: 1.125rem;
                    font-family: 'VAGRounded-bold';
                    text-rendering: auto; 
                    position: relative;
                    -webkit-font-smoothing: antialiased; 
                    -moz-osx-font-smoothing: grayscale;

                    .fa-phone:before {
                        position: absolute;
                        font-size: 2.5rem;
                        left: -3.0625rem;
                        top: 0.125rem;
                        content: "\f095";}
                    }
            }
            
        }
        .column2{
            float: right;
            color: #fff;
            width: 39%;
            transition: all 0.3s;
            h2{
                color: $color-azul-footer;
                margin-top: 2.0625rem;
                margin-bottom: 3rem;
                font-size: 1.375rem;}
            p{
                font-family: 'montserratlight';
                margin:0px;}
           form.enviar{
                input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 0.75rem; font-family:'montserrat-regular';}
                input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 0.75rem; font-family:'montserrat-regular';}
                input:-moz-placeholder {color: rgba(255, 255, 255, 0.5);font-size: 0.75rem; font-family:'montserrat-regular';}
                input:-ms-input-placeholder {color: rgba(255, 255, 255, 0.5); font-size: 0.75rem; font-family:'montserrat-regular';}
                input{
                background: transparent;}
                span.leyenda-privacidad{
                    margin-left:0.625rem;
                    font-family: 'montserratlight';
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 0.75rem;}
                input.email {
                    color: rgba(255, 255, 255, 0.8);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: none;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    padding-left:23px;
                    width: 50%;
                    height: 45px;
                    float: left;}
                input.nombre{
                    float: right;
                     color: rgba(255, 255, 255, 0.8);
                     padding-left:23px;
                    width: 50%;
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: none;
                    border-right: none;
                    height: 45px;}
                select.comentario{
                    width: 100%;}
                textarea{
                    margin-bottom: 0.875rem;
                    color: rgba(255, 255, 255, 0.8);
                    input:-moz-placeholder {color: rgba(255, 255, 255, 0.5);font-size: 14px; font-family:'montserratlight';}
                    width: 100%;
                    background: transparent;
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: none;
                    border-right: none;
                    padding-left:1.4375rem;
                    padding-top: 1.0625rem;
                    height: 7.625rem;}
                a.enviar{
                    @include boton-borde( $color-turqueza, 8.75rem, $color-turqueza);
                    font-family: 'VAGRounded-bold';
                    padding-top: 0.625rem;
                    text-align: center;
                    position: relative;
                    float: right;
                    &:before{
                        content: "\f061";
                        position: absolute;
                        right: 1.25rem;
                        font-family: 'FontAwesome';}
                    }
            }
        }

    }

    .nav-footer{
        width: 100%;
        overflow: hidden;
        margin-top: 3.375rem;
        ul{
            float: left;
            list-style: none;
            li{
                
                a{
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    font-size: 0.75rem;
                    font-family: 'montserratlight';
                    margin-right: 1.625rem;
                    position: relative;
                    &:last-of-type{
                        font-family: 'VAGRounded-bold';
                        color:#fff;}
                    &:first-child:after{
                        content: "|";
                        color: rgba(255, 255, 255, 0.5);
                        position:absolute;
                        right: -0.9375rem;
                    }
                }
            }
        }
        figure.aprendo{
            float: right;
            max-width: 200px;
            height: auto;
            padding-top: 0.3125rem;
            img{
                vertical-align: middle;
                width: 100%;
            }

        }
    }
}