header{
	background-color:rgba(8, 64, 92, 0.8);
    position: absolute;
    top: 39px;
    z-index: 9999;
    width: 100%;
    padding: 0.625rem 0px;
    .container{
        align-items: center;
      figure.logo{
          max-width: 70px;
          height: auto;
          margin-right: 80px;
          img{
              width: 100%;}
      }
      nav{
          ul{
              list-style: none;
              li{
                   display: inline-block;
                   margin-right: 2.5rem; 
                   &:last-child{
                      margin-right: 0px;}
                  a{
                      text-decoration: none;
                      font-size: 1rem;
                      font-family: 'VAGRounded-bold';
                      text-transform: uppercase;
                      color: #fff;}
              }
              // li#image-nav{
              //   &:hover ul.image-menu{
              //     display: block;}
              // }
          }
          
      }
       #menu-mobile{
        color: #fff;
        font-size: 39px;
        display: none;
        position: absolute;
        right: 10px;}
    }

  .mobile{
    width:100%;
    height:100%;
    right: -100%;
    margin:0;
    background-color: $color-azul100;
    position: fixed;
    top: 100px;
    z-index: 999;
    ul{
      li{
        display:block;
        color: #fff;
        font-family: 'VAGRounded-bold';
        border-bottom:1px solid rgba(255,255,255, .3);
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

ul.image-menu{
  display: none;
  width: 30%;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  z-index: 99999;
    li{
      display: block!important;
      font-size: 18px;
      font-family: 'VAGRounded-bold';
      color: #364659;
      margin-bottom: 23px;}


}
}

