/** colores primarios **/
$color-azul: #00C0F2;
$color-amarillo: #FFE01E;
$color-verde: #A4CD40;
$color-naranja:  #FF7100;
$color-verde-100: #C4E86B;

/** colores  top menu **/
$color-turqueza: #00B3D0;
$color-amarillo: #EDCF00;

/** identificadores de secciones  **/
$color-rosa: #EF096E;
$color-dorado: #9E8E22;
$color-Naranja100: #FF4200;
$color-morado: #5D2B86;

/** contenido del sitio   **/
$color-azul100: #08405C;
$color-gris: #7B8990;
$color-grisCl: #F3F5F6;
$color-grisCL100: #FAFAFA;
$color-footer: #364659;
$color-azul-footer: #4CD1FF;

/** checkbox  **/
$checked-color: #4CD1FF;
$unchecked-color: #4CD1FF;
$checkbox-height: 16px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;

@mixin boton($ancho: 12.5rem, $fondo: $color-rosa , $color: #fff ) {
    background-color: $fondo;
    border-radius: 3.125rem;
    clear: both;
    cursor: pointer;
    color: $color;
    font-family: 'VAGRounded-bold';
    display: block;
    font-size: 1.125rem;
    height: 3.125rem;
    transition: all 0.5s;
    text-align: left;
    padding-left: 1.125rem;
    padding-top: 0.9375rem;
    text-decoration: none;
    width: $ancho;
        &:before{
            content: "\f061";
            position: absolute;
            right: 1.4375rem;
            font-family: 'FontAwesome';}
    }

@mixin boton-borde($color-borde, $ancho, $color: #fff){
    border-radius: 50px;
    background: transparent;
    border: 4px solid $color-borde;
    clear: both;
    cursor: pointer;
    color: $color;
    display: block;
    font-size: 0.875rem;
    height: 2.8125rem;
    text-decoration: none;
    width: $ancho;}

@mixin links($color, $tamano){
    color: $color;
    font-size: $tamano;
    font-family: 'VAGRounded-bold';
}


span.link{
  position: relative;
  @include links($color-rosa, 1.125rem);
}