@import "_reset.scss";
@import "_variables-mixin.scss";

/*** FONT FACE ***/
@font-face {
    font-family: 'VAGRounded-bold';
    src: url('../fonts/vag_rounded_bold-webfont.woff2') format('woff2'),
         url('../fonts/vag_rounded_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'VAGRounded-light';
    src: url('../fonts/vag_rounded_light_1-webfont.woff2') format('woff2'),
         url('../fonts/vag_rounded_light_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'montserratsemi-bold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-icon-mariposa:before{content:'\0041'; position: absolute; font-size: 2.5rem; left: -3.0625rem;}
.icon-elviajeinicia:before{content:'\0042';color: #3d36b1; font-style: normal; font-size: 2.5rem;}
.icon-micuerpo:before{content:'\0043';color: #0074c8; font-size: 2.5rem; font-style: normal;}
.icon-mexicovivo:before{content:'\0044'; color: #62a60a; font-size: 2.5rem; font-style: normal;}
.icon-mihogarfamilia:before{content:'\0045'; color: #ff7100; font-size: 2.5rem;}
.icon-miciudad:before{content:'\0046';color: #ffe01e; font-size: 2.5rem;}
.icon-laboratorioideas:before{content:'\0047'; color: #00C0F2; font-size: 2.5rem;}
.icon-controlador_izq:before{content:'\0048';}
.icon-controlador_der:before{content:'\0049';}
.icon-estacionamiento:before{content:'\004a';}
.icon-taquillas:before{content:'\004b';}
.icon-area de registro:before{content:'\004c';}
.icon-mesa de informes:before{content:'\004d';}
.icon-paqueteria:before{content:'\004e';}
.icon-zona de alimentos:before{content:'\004f';}
.icon-carriolas sillas:before{content:'\0050';}
.icon-sillas de ruedas:before{content:'\0051';}
.icon-dulceria:before{content:'\0052';}
.icon-icn_tienda:before{content:'\0053';}
.icon-icn_zona de lactancia:before{content:'\0054';}
.icon-bahia de autobuses:before{content:'\0055';}
.icon-left-arrow:before{content:'\0056';}
.icon-right-arrow:before{content:'\0057';}
.icon-A:before{content:'\0058';}
.icon-B:before{content:'\0059';}
.icon-C:before{content:'\005a';}
.icon-areas1_SSA:before{content:'\0061';}
.icon-areas2_SSA:before{content:'\0062';}
.icon-areas3_SSA:before{content:'\0063';}
.icon-areas4_SSA:before{content:'\0064';}
.icon-areas5_SSA:before{content:'\0065';}
.icon-areas6_SSA:before{content:'\0066';}
.icon-areas7_SSA:before{content:'\0067';}
.icon-areas8_SSA:before{content:'\0068';}
.icon-beneficios1_cuates:before{content:'\0069';}
.icon-beneficios1_SSA:before{content:'\006a';}
.icon-beneficios2_cuates:before{content:'\006b';}
.icon-beneficios2_SSA:before{content:'\006c';}
.icon-beneficios3_cuates:before{content:'\006d';}
.icon-beneficios3_SSA:before{content:'\006e';}
.icon-beneficios4_cuates:before{content:'\006f';}
.icon-beneficios5_cuates:before{content:'\0070';}
.icon-bien_form:before{content:'\0071';}
.icon-cerrar_form:before{content:'\0072';}
.icon-check:before{content:'\0073';}
.icon-cupones:before{content:'\0074';}
.icon-descarga_documento:before{content:'\0075';}
.icon-descarga_imagen:before{content:'\0076';}
.icon-descarga_video:before{content:'\0077';}
.icon-eficacia:before{content:'\0078';}
.icon-exito:before{content:'\0079';}
.icon-fac:before{content:'\007a';}
.icon-certificaciones:before{content:'\0030';}
.icon-facebook_footer:before{content:'\0031';}
.icon-icn_adjuntar:before{content:'\0032';}
.icon-informes:before{content:'\0033';}
.icon-instagram_footer:before{content:'\0034';}
.icon-mal_form:before{content:'\0035';}
.icon-requisitos1_cuates:before{content:'\0036';}
.icon-requisitos1_SSA:before{content:'\0037';}
.icon-requisitos2_cuates:before{content:'\0038';}
.icon-requisitos2_SSA:before{content:'\0039';}
.icon-requisitos3_cuates:before{content:'\0021';}
.icon-requisitos3_SSA:before{content:'\0022';}
.icon-requisitos4_cuates:before{content:'\0023';}
.icon-requisitos5_cuates:before{content:'\0024';}
.icon-requisitos6_cuates:before{content:'\0025';}
.icon-requisitos7_cuates:before{content:'\0026';}
.icon-requisitos8_cuates:before{content:'\0027';}
.icon-requisitos9_cuates:before{content:'\0028';}
.icon-reservaciones:before{content:'\0029';}
.icon-retorno social:before{content:'\002a';}
.icon-telefono:before{content:'\002b';}
.icon-transparencia:before{content:'\002c';}
.icon-tw:before{content:'\002d';}
.icon-twitter_footer:before{content:'\002e';}
.icon-youtube_footer:before{content:'\002f';}

/********** GENERAL ***********/
.container{
	max-width: 1200px;
	margin: auto;}

/********** HEADER ***********/
@import "_header.scss";
/********** SECCIONES ***********/
@import "section/_sedes.scss";
@import "section/_cover.scss";
@import "section/_slider.scss";
@import "section/_renovado.scss";
@import "section/_plan.scss";
@import "section/_notas.scss";
@import "section/_padrinos.scss";
@import "section/_nota-contenido.scss";
@import "section/_servicio-espacio.scss";
@import "section/_megapantalla.scss";
@import "section/_precio-paquete.scss";
@import "section/_timeline.scss";
@import "section/_carrucel-mega.scss";
@import "section/_aviso-termino.scss";
@import "section/_horarios.scss";
@import "section/_slider-blog.scss";
@import "section/_slider-reino.scss";
@import "section/_papalote-renovado.scss";
@import "section/_familias.scss";
@import "section/_cover-renovado.scss";
@import "section/_programas-interpretativos.scss";
@import "section/_horario-check.scss";
@import "section/_404.scss";
@import "section/_horario.scss";
@import "section/_waves.scss";
@import "section/_inputs.scss";
@import "section/_animate.scss";
@import "section/_grupos-escolares.scss";
@import "section/_grupos-para-empresas-y-gobierno.scss";
@import "section/grupos-y-eventos.scss";
@import "section/eventos-y-servicios.scss";
@import "section/_como-ayudar.scss";
@import "section/_preguntas-frecuentes.scss";
@import "section/_transparencia.scss";
@import "section/_bolsa-de-trabajo.scss";
@import "section/_prensa.scss";
@import "section/form-general.scss";
@import "section/_papalote-para-todos.scss";
/********** FOOTER *************/
@import "_footer.scss";
/********** RESPONSIVE ***********/
@import "responsive/_desktop.scss";
@import "responsive/_tablet.scss";
@import "responsive/_movil.scss";













