section.intro-group-event .item-content{
	width: 99%;
    position: relative;
    bottom: 0px;
    transform: inherit;
    margin: auto;
    left: 0px;
    padding: 90px;
    box-shadow: none;
}
section.intro-group-event .item-content p{
	font-size: 22px;
}

section.eventos h2{
	font-size: 40px;
}
section.eventos p{
	font-size: 18px;
}

section.intro-group-event figure{
	width: 100%;
}

section.eventos h3{
	font-size: 18px;
}
section.eventos a.evento-btn{
	width: 180px;
	text-align: center;
}

section.intro-group-event .container {
	    max-width: 1200px;
	    margin: auto;
	    display: flex;
	    flex-direction: column-reverse;
	    padding-bottom: 15px;}
section.eventos .container{
	flex-direction: column;
}

section.informacion-eventos{
	width: 100%;
  	display: block;}

section.informacion-eventos .item{
	width: 100%;
	padding: 10px;
    display: block;}
section.informacion-eventos .item h2, section.informacion-eventos .item h3{
	text-align: left;
	margin-left: 0px;
	font-size: 22px;
}

section.informacion-eventos .item h3{
	font-size: 18px;
}

section.informacion-eventos .item .container-item, section.informacion-eventos .item a.mail-info{
	margin-left: 19px;
}

section.group-content article.item-right .item-content p{
	font-size: 16px;
}

section.group-content article.item-right .item-content a.comprar-slider{
	width: 180px;
	text-align: center;
	margin: auto;
}

section.informacion .item h2{
	font-size: 30px;
	text-align: left;
	padding-left: 15px;
}

section.group-content article.item-right figure.image-group{
	width: 100%;
}
section.group-content article.item-right .item-content{
	width: 100%;	
}
section.group-content article.item-right{
	display: flex;
    flex-direction: column-reverse;
    padding: 0px 15px;
}

section.group-content article.item-left figure.image-group{
	width: 100%;
	float: none;
	padding: 0px 15px;
}
section.group-content article.item-left .item-content{
	width: 100%;
	padding: 0px 15px;
}
section.informacion, section.informacion .item{
	width: 100%;
	display: block;
	padding-top: 31px;
	padding-bottom: 1px;

}
section.informacion .item h3{
	font-size: 16px;
	margin-top: 0px;
}
section.donar-paypal .item-content:last-child{
	padding-right: 15px;
}
section.item-intro .item-content h2{
	font-size: 35px;
	text-align: center;
}
section.donar-paypal .item-content h2{
	font-size: 40px;
}
section.donar-paypal .item-content p{
	font-size: 16px;
}
section.donar-paypal .item-content a.btn-donar{
	width: 180px;
	margin: auto;
	text-align: center;
}
section.donar-paypal .item-content:last-child h2{
	font-size: 32px;
	text-align: right;

}
section.experiencia-group-todos article h3{
	font-size: 35px;
	text-align: left;
}
section.experiencia-group-todos article p{
	font-size: 16px;
	text-align: left;
}
section.transparencia p{
	font-size: 16px;
}
section.certificaciones h2{
	font-size: 35px;
}


section.item-intro .item-content p{
	font-size: 16px;
}
section.download-material h2{
	font-size: 25px;
}
section.download-material p{
	font-size: 16px;
}
section.download-material .item-container article a.descarga{
	width: 180px;
	text-align: center;
}

section.download-material .item-container article a.conoce-descarga{
	width: 180px;
	text-align: center;
}
section.experiencia-group h2{
	font-size: 40px;
}
section.experiencia-group article h3{
	font-size: 35px;
	text-align: left;
	margin-bottom: 5px;
}
section.experiencia-group article h4{
	font-size: 22px;
	text-align: left;
}
section.experiencia-group article p{
	font-size: 18px;
	text-align: left;
}
section.dia-papalote h2{
	font-size : 40px;
}
section.informacion-gobierno .item h2{
	font-size: 30px;
	text-align: left;
    margin-bottom: 0px;
}
section.informacion-gobierno .item h3{
	font-size: 16px;
}
section.informacion-gobierno .item .container-item a.tel, section.informacion-gobierno .item a.mail-info{
	margin-left: 17px;
}

section.conoce-areas h2{
	font-size: 35px;
}
section.event-service h2{
	font-size: 30px;
}
section.event-service article h3{
	font-size: 35px;
	text-align: left;
	padding-left: 15px;
}

section.event-service article ul li{
	font-size: 18px;
}
section.event-service article ul{
	padding-left: 5px;
}

section.informacion-evento-servicio .item h2{
	font-size: 30px;
	text-align: left;
	margin-bottom: 0px;
}
section.informacion-evento-servicio .item .container-item a.tel, section.informacion-evento-servicio .item a.mail-info{
	margin-left: 15px;
}

section.intro-cover-rigth .item-content h2{
	font-size: 35px;
}
section.intro-cover-rigth .item-content p{
	font-size: 16px;
}
section.intro-cover-rigth .item-content a.btn-ayudar{
	width: 180px;
	text-align: center;
	padding-left: 0px;
	margin: auto;
}
section.transpariencias h2{
	font-size: 30px;
}
section.transpariencias p{
	font-size: 16px;
	padding: 0px 15px;
}

section.transpariencias a.btn-transpariencia, section.notas .container article.nota a.btn-social{
	width: 180px;
	margin: auto;
	text-align: center;
}








section.informacion .item:last-child{
	padding-bottom: 15px;
	padding-top: 10px;
}

section.item-intro figure.image-intro{
	width: 100%;
}
section.item-intro .item-content{
	width: 100%;
}
section.item-intro .container{
	display: flex;
	flex-direction: column-reverse;
}
section.download-material .item-container{
	flex-direction: column;
    align-items: center;
}
section.download-material .item-container article{
	margin-bottom: 20px;
	width: 80%;
}

section.experiencia-group .container{
	flex-direction: column;
    align-items: center;
}
section.experiencia-group article{
	margin-bottom: 0.9375rem;
}

section.informacion-gobierno{
	display: block;
	width: 100%;
}
section.informacion-gobierno .item{
	width: 100%;
	display: block;
	padding: 0.625rem;
}

section.event-service .container{
	flex-direction: column;
    align-items: center;
}
section.event-service article{
	margin-bottom: 0.9375rem;
}

section.informacion-evento-servicio{
	display: block;
}
section.informacion-evento-servicio .item{
	display: block;
	width: 100%;
	padding: 10px;
}

section.intro-cover-rigth figure{
	max-width: 100%;
	float: none;}

section.intro-cover-rigth .item-content{
	max-width: 100%;
	padding: 0px 15px;

}

section.experiencia-group-todos .container{
	align-items: center;
	flex-direction: column;
}
section.experiencia-group-todos article{
	margin-bottom: 15px;
}
section.donar-paypal{
	display: block;
}
section.donar-paypal .item-content{
	display: block;
	width: 100%;
}

section.certificaciones .container{
	flex-direction: column;
	align-items: center;
}
section.certificaciones .container article{
	margin-bottom: 15px;
}
section.transparencia{
	padding-left: 15px;
    padding-right: 15px;
}
section.transparencia h2{
	font-size: 28px;
	text-align: center;
}

section.intro-exito figure{
	width: 100%;
}
section.intro-exito .item-content{
	max-width: 100%;
	padding: 0px 15px;
}

section#timeline-trabajo article div.inner{
	width: 100%;
    float: none;
    text-align: center;
}
section#timeline-trabajo article:nth-child(2n+2) div.inner{
	float: none;
    text-align: center;
}
section#timeline-trabajo article div.inner span.date{
	display: none;
}
section#timeline-trabajo:before{
	display:none;
}
section#timeline-trabajo article{
	display: flex;
    flex-direction: column-reverse;
}

figure.cover-time{
	max-width: 100%;
}

section.informacion-equipo{
	display:block;
}
section.informacion-equipo .item{
	width: 100%;
	display: block;
	padding: 10px;
}
section.acordeon .container ul.accordion{
	width: 100%;
	padding: 0px 10px;
}
nav.preguntas-frecuentes ul{ display: none;}
section.acordeon .container nav.preguntas-frecuentes .select-styled { display: block!important; margin: auto; }
section.acordeon .container nav.preguntas-frecuentes{
	width: 100%;
}
section.notas-prensa .container{
	flex-direction: column;
	align-items: center;
}
section.notas-prensa .container article{
	margin-bottom: 15px;
}
section.publi-notas .item-content{
	display: block;
    width: 100%;
}
section.publi-notas .material-tabs{
	width: 100%;
	display: block;
	text-align: center;
}

section.prensa .container{
	align-items: center;
    justify-content: center;
}

section.nosotros-nota article{
	display: block;
}
section.nosotros-nota article figure{
	width: 100%;
	display: block;
}
section.nosotros-nota article .item-content{
	padding: 0px 10px;
}

section.intro-servicio-social .admin .item-content, section.intro-servicio-social .admin figure.image-intro, {
	width: 100%;
}
section.intro-servicio-social .admin section.intro-cover-rigth .item-content{
	max-width: 100%;
}
section.intro-servicio-social .admin section.intro-cover-rigth figure{
	max-width: 100%;
}
section.intro-servicio-social .admin .item-content h2{
	font-size: 35px;
}
section.intro-servicio-social .admin section.intro-cover-rigth .item-content h2{
	font-size: 35px;
}
section.intro-servicio-social .admin section.intro-cover-rigth .item-content p{
	font-size: 16px;
}
section.intro-servicio-social .admin section.areas-desarrollo article.requisitos h3, section.intro-servicio-social .admin section.areas-desarrollo article.beneficios h3{
	font-size: 35px;
}

section.intro-servicio-social .admin section.areas-desarrollo article.areas h3{
	font-size: 35px;
}

section.intro-servicio-social .admin section.informacion-equipo{
	display: block;
}
section.intro-servicio-social .admin section.informacion-equipo .item{
	width: 100%;
	display: block;
	margin-bottom: 0px;
    padding-bottom: 5px;
}

section.padrinos article.leyenda-content p{
	text-align: right;
	font-size: 16px;
}

section.item-intro .container{
	flex-direction: column;
	display: flex;

}

section.intro-servicio-social .item{
	padding: 0px 15px;
}
section.intro-servicio-social .item button{
	font-size: 18px;
}

section.intro-servicio-social .admin section.areas-desarrollo article.requisitos .container-datos, 
section.intro-servicio-social .admin section.areas-desarrollo article.beneficios .container-datos,
section.intro-servicio-social .admin section.areas-desarrollo article.areas .container-datos{
	flex-direction: column;
	align-items: center;
}

section.intro-servicio-social .admin section.areas-desarrollo h2 .custom-input-file{
	bottom: -70px;
    left: 38%;
}

section.intro-servicio-social .admin section.informacion-equipo .item:last-child{
	padding-top: 1px;
	padding-left: 15px
}

section.intro-servicio-social .admin section.informacion-equipo .item h2{
	text-align: left;
}
section.intro-servicio-social .admin section.informacion-equipo .item h2{
	font-size: 30px;
}




