@media only screen and (max-width: 767px) {
    header{
        position: inherit;
        background-color: rgba(8, 64, 92, 1);
        top: 0px;
        .container{
            nav{
                display: none;}
        }
        .container #menu-mobile{
            display: block;}
    }

    figure.logo-movile{
        display: block;}
    h1{
        display: block;
    }
     figure.logo{
        display: none;}


    header .container{
        justify-content: flex-start;
    }

    header .container p{
        display: block;
    }

    section.sedes-contactos{
        display: none;
    }

    footer aside.social{
        flex-direction: column;}

    footer aside.social .social{
        width: 90%;
        margin-top: 10px;
    }

    footer section.contactanos .column{
        width: 90%;
        float: none;
        display: block;
        margin: auto;}

    footer section.contactanos .column2{
        width: 95%;
        float: none;
        display: block;
        margin: auto;}

    footer .nav-footer figure.aprendo{
        float: none;
        margin: auto;}

    footer .nav-footer ul{
        text-align: center;
        width: 100%;}

    section.aviso-terminos .column-izquierda {
    float: none;
    width: 100%;
    padding: 0px 10px;}

// terminos y aviso privacidad
    section.aviso-terminos{
        margin-top: 0.9375rem;
    }

    section.aviso-terminos h2{
        font-size: 28px;
        text-align: center;}

    section.aviso-terminos .column-derecha{
        display: none;
    }

    section#timeline{
        padding-left: 15px;
        padding-right: 15px;
    }

    section#timeline:before{
        display: none;
    }
    section#timeline article div.inner span.date{
        display: none;
    }

    section#timeline article div.inner {
    width: 100%;
    float: none; 
    text-align: center;}
    section#timeline article:nth-child(2n+2) div.inner{
        float: none;
        text-align: center;}
    figure.cover-time{
        margin: auto;
        display: block;}

    section#timeline article div.inner h2 {
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
    }
    section#timeline article div.inner p {
    font-family: 'montserrat-regular';
    font-size: 18px;
    }
    section#timeline article div.inner a.comprar-linea{
        float: none;
        margin: auto;
    }

    section#timeline article{
        margin-bottom: 60px;
    }
    section.comer .container p {
    font-size: 18px;
    }

    section.comer .container h2{
        font-size: 28px;
    }

    section.comer .container{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 80px;
    }





    section.precio-paquete h2{
        text-align: center;
    }
    section.precio-paquete section.paquetes article.paquete-items{
        width: 100%;
        margin: auto;
         margin-bottom: 30px;

    }
    section.precio-paquete section.paquetes{
        padding-left: 5px;
        padding-right: 5px;}
    section.precio-paquete section.paquetes-individuales{
        flex-direction: column;
        padding-right: 0.3125rem;
        padding-left: 0.3125rem;}
    section.precio-paquete section.paquetes-individuales article.individual{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }
    section.leyenda-precio{
        padding-left: 5px;
        padding-right: 5px;
    }

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble{
        width: 100%;
        float: none;
    }

    section.precio-paquete section.paquetes article.paquete-doble .content{
        float: none;
        width: 100%;}

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble:after{
        bottom: 0px!important;
        height: 0.625rem;
        width: 26.25rem;
        top: inherit;
        left: 0px;
    }
    section.precio-paquete section.paquetes article.paquete-items figure.image-paquete span.circulo{
        width: 100px;
        height: 100px;
        bottom: -37px;}

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble span.circulo{
        width: 100px;
        height: 100px;
        bottom: -34px;
        right: 16px;
    }

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble span.circulo p{
        font-size: 18px;
    }

    section.precio-paquete section.paquetes article.paquete-items figure.image-paquete span.circulo p{
        font-size: 18px;

    }
    section.precio-paquete section.paquetes article.paquete-items h4{
        font-size: 28px;
    }
    section.precio-paquete section.paquetes article.paquete-items ul li{
        font-size: 16px;
    }
    section.precio-paquete section.paquetes article.paquete-items span.precio-paquete{
        font-size: 32px;
    }

    section.precio-paquete section.paquetes article.paquete-doble .content2{
        padding: 0px 5px;
    }
    section.precio-paquete section.paquetes article.paquete-doble .content ul li{
        font-size: 16px;
    }
    section.precio-paquete section.paquetes article.paquete-doble .content h4{
        font-size: 28px;
        margin-top: 30px;
    }

    section.precio-paquete section.paquetes article.paquete-doble .content span.precio-paquete{
        font-size: 32px;
    }

    section.precio-paquete section.paquetes-individuales article.individual a.comprar-line{
        margin: auto;
        float: none;
        margin-bottom: 15px;
    }
    section.precio-paquete section.paquetes-individuales article.individual h2{
        font-size: 18px;
        margin-left: 0px;
    }
    section.precio-paquete section.paquetes-individuales article.individual span.precio-paquete{
        font-size: 30px;
    }

    



    section.cover-intro figure.imagen-cover{
        width: 100%;

    }

    section.cover-intro{
        padding-right: 20px;
        padding-left: 20px;
    }
    section.cover-intro article.leyenda-intro{
        width: 100%;
    }

    section.mega-pantalla article.nota-megapantalla{
        width: 100%;
        float: right;}

    section.mega-pantalla figure.video-megapantalla{
        width: 100%;
    }

    section.cover-intro{
        margin-bottom: 40px;
    }

    section.mega-pantalla article.nota-megapantalla h2{
        font-size: 28px;
        margin-top: 0px;
    }
    section.mega-pantalla article.nota-megapantalla p{
        font-size: 18px;
    }

    section.mega-pantalla:nth-child(1){
        display: flex;
        flex-direction: column-reverse;
    }
    section.mega-pantalla article.nota-megapantalla{
        padding: 40px 28px 0px;
    }



  
    section.programas .container{
        padding: 0px 5px;
    }
    section.programas .container article.actividades{
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    section.programas .container article.actividades h3{
        font-size: 28px;
    }
    section.plan-familia h2{
       font-size:28px;
    }

    section.zona{
        padding: 20px 5px;
    }

    section.zona h2{
        font-size: 28px;
    }

    section.zona .circulo{
        width: 100%;
        float: none;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #00C0F2;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    section.zona .circulo h4{
        width: 100%;
        margin-top: 10px;
    }
    section.zona .circulo h3{
        margin: 0px
    }

    section.zona .circulo:nth-child(1), section.zona .circulo:nth-child(2), section.zona .circulo:nth-child(3), section.zona .circulo:nth-child(4),
    section.zona .circulo:nth-child(5), section.zona .circulo:nth-child(6){
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
    }


    section.mega-familia figure.image-reino {
    float: none;
    width: 100%;}

    section.mega-familia, {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 40px 0px;
        padding: 0px 5px 15px;
        margin: 40px 0px;
    }
    section.mega-familia-izquierdo{
        padding: 0px 5px 15px;
        margin: 40px 0px;

    }

    section.mega-familia .content, section.mega-familia-izquierdo .content{
        position: relative;
        width: 100%;
        transform: inherit;
        right: 0px;
        padding: 0px 5px;
        overflow: hidden;
    }
    section.mega-familia .content h2, section.mega-familia-izquierdo .content h2{
        font-size:28px;
    }
    section.mega-familia .content p, section.mega-familia-izquierdo .content p{
        font-size: 16px;
    }
    section.mega-familia .content a.comprar-slider, section.mega-familia-izquierdo .content a.comprar-slider{
        margin: auto;
        float: none;
        margin-bottom: 10px; 
    }
    section.mega-familia-izquierdo figure.image-reino{
        float: none;
        width: 100%;
    }

    section.programas h2{
        font-size: 28px;
    }

    section.programas p{
        font-size: 16px;
    }

   


    section.cover h2{
        top: 33%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        text-align: center;
    }

    section.cover-intro figure.imagen-cover{
        display: none;
    }

    section.cover{
        margin-bottom: 40px;
    }
    section.cover-intro article.leyenda-intro h2{
        font-size: 28px;
        margin-top: 0px;
    }


    section.laboratorio .container article.izquiera, section.mexico-vivo article.izquiera, section.descubrimientos article.izquiera, section.patio-aventura article.izquiera{
        display: block;
        width: 100%;
        padding: 0px 5px;
        overflow: hidden;

    }

    section.laboratorio .container article.izquiera h3{
        text-align: center;
    }

    section.laboratorio .container article.derecha{
        padding:5px 15px;
    }

    section.laboratorio .container article.calendario .item1, section.laboratorio .container article.calendario .item2, section.laboratorio .container article.calendario .item3{
        display: block;
        width: 100%;
    }

    section.laboratorio .container article.calendario .item3{
        padding: 5px 15px;
    }

    section.laboratorio .container article.calendario .item1 h2{
        text-align: center;
        margin: 0px;
        margin-bottom: 15px;
    }

    section.laboratorio .container article.calendario{
        width: 100%;
    }

    section.mexico-vivo article.derecha, section.descubrimientos article.derecha, section.patio-aventura article.derecha{
        padding: 5px 15px;
    }

    section.hologramas .container{
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 0px 20px;
    }

    section.hologramas .container .holograma{
        padding-bottom: 20px;
    }












    section.cover-intro .container{
        padding: 0px 5px;
    }

    section.servicio-espacios .container article.espacios{
        margin: auto;
        width: 90%;
        margin-bottom: 15px;
    }

    section.servicio-espacios .container article.espacios-amarillo{
        margin: auto;
        width: 90%;
        margin-bottom: 15px;

    }

    section.servicio-espacios .container h2{
        font-size: 28px;
        text-align: center;
    }

    section.nota-contenido-derecho{
        display: flex;
        flex-direction: column-reverse;
    }

    section.nota-contenido article.leyenda-contenido{
        transform: inherit;
        left: 0px;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        padding: 0px 5px;
    }
    section.nota-contenido figure.imagen-contenido{
        max-width: 100%;
        overflow: hidden;
    }
    section.nota-contenido-derecho figure.imagen-contenido{
        max-width: 100%;
    }

    section.nota-contenido-derecho article.leyenda-contenido-derecho{
        position: relative;
        left: 0px;
        transform: inherit;
        max-width: 100%;
        padding: 0px 5px;
    text-align: left;
    }

    section.nota-contenido article.leyenda-contenido p{
        font-size: 16px;
    }

    section.nota-contenido article.leyenda-contenido h2{
        font-size: 28px;
        text-align: center;
    }
    section.nota-contenido-derecho article.leyenda-contenido-derecho p{
        font-size: 16px;
    }
    section.nota-contenido-derecho article.leyenda-contenido-derecho h2{
        font-size: 28px;
        text-align: center;
    }


    section.precio-paquete h2{
        font-size: 28px;
        margin-top: 40px;
    }

    section.precio-paquete section.paquetes h3{
        font-size: 23px
    }

    section.padrinos{
        flex-direction: column;
    }
    section.padrinos article.marcas{
        width: 100%;
    }

    section.padrinos article.leyenda-content, section.padrinos article.marcas .content-logo-marca{
        width: 100%;
        padding-bottom: 50px;
    }
    section.padrinos article.marcas .content-logo-marca figure.marca{
        margin: 20px 11px;
    }

    section.notas .container{
        width: 100%;
        flex-direction: column;
    }
    section.notas .container article.nota{
        max-width: 100%;
            margin-bottom: 25px;
    }
    section.notas .container article.nota figure.imagen-nota{
        max-width: 100%;
    }

    section.notas .container article.nota a.boton.nota{
        margin: auto;
        margin-bottom: 20px;
    }

    section.notas .container article.nota h2{
        font-size: 26px;
    }

    section.position{
        position: relative;
        left: 0px;
        transform: inherit;
        bottom: 0px;

    }
    section.cover-renovado .content-museo{
        position: relative;
        left: 0px;
        transform: inherit;
        padding: 0px 20px;
    }
    section.cover-renovado .content-museo h2{
        font-size: 28px;
    }

    section.cover-renovado .content-museo p{
        font-size: 16px;
    }
    section.cover-renovado .content-museo a.comprar-museo{
        float: none;
        margin: auto;
    }

    .flexslider li .meta{
        position: relative;
        left: 0px;
        width: 100%;
        margin-top: 10px;
        top: 0px;
        padding: 0px 20px;

    }

    .flexslider li h2{
        color: $color-azul100;
        font-size: 30px;
        text-shadow: none;
    }
    .flexslider li .meta-horario{
        position: relative;
        margin-top: 10px;
        top: 15px;
        left: 0px;
        padding: 0px 15px;
    }

    .flexslider li .meta-boton{
        position: relative;
        display: block;
        left: 0px;
        top: 23px;
        margin: auto;
        margin-bottom: 30px;
    }

    .flexslider li .meta-boton a.comprar-slider{
        float: none;
        margin: auto;
    }
    .flex-direction-nav{
        margin: auto;
    }

    .flex-direction-nav{
        position: relative;
        bottom: 0px;
        top: 27px;
        display: block;
        margin: auto;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    li.flex-nav-next, li.flex-nav-prev{
        padding: 0.625rem 0.9375rem;
    }

    .flex-direction-nav {
    width: 100%;
    text-align: center;}

    section.plan-familia h2 a{
        font-size: 16px;}

    section.plan-familia:before, section.plan-familia:after{
        width: 0.625rem;
        height: 3.75rem;
    }

    section.slider-reino ul.bxslider li .content{
        position: relative;
        left: 0px;
        transform: inherit;
        width: 100%;
        padding: 5px 15px;
    }
    section.slider-reino ul.bxslider li figure.image-reino{
        width: 100%;
    }

    ul.bxslider li{
        display: flex;
        flex-direction: column-reverse;
    }

    section.slider-reino ul.bxslider li .content a.comprar-slider{
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    section.slider-reino .bx-controls-direction{
        bottom: 0px;
        transform: inherit;
        text-align: center;
        display: block;
        bottom: 0px;
        position: relative;
    }

    section.cover-renovado{
        margin-bottom: 40px;
    }

    section.notas .container article.nota p{
        text-align: left;
        padding: 0px 15px;
        margin-left: 0px;
    }

    section.slider-reino ul.bxslider li .content h2{
        font-size: 28px;
    }


    .meta-incluye{
        position: relative;
        left: 0px;
        display: block;
        top: 0px;
    }
    .meta-incluye span.titulo{
        font-size: 22px;
    }

     .meta-incluye-rojo{
        position: relative;
        left: 0px;
        display: block;
        top: 0px;
    }
    .meta-incluye-rojo span.titulo{
        font-size: 22px;
    }


    .container-box{
        display: blok;
    }

    section.desplegado{
      img.desk{
        display: none;}
      img.movile{
        width: 100%;
        display: block;
      }
}


    
section.iframe{
    padding-top: 0px;}

.slide h2{
    font-size: 28px;}
section.padrinos article.marcas .content-logo-marca h3{
    font-size:18px;}

.slider-nav{
    bottom: 0px;}


.slide{
    padding-bottom: 1.75rem;}

section.padrinos article.leyenda-content{
    padding: 0px 15px;
    text-align: left;}


section.comer .row{
    width: 100%;
}

section.comer .row figure.restaurant{
    display: block;
    width: 100%;
    border:none;
}

section.descubrimientos h2, section.patio-aventura h2, section.mexico-vivo h2, section.laboratorio .container h2{
    width: 100%;
    padding: 5px 15px;
    margin: 0px;
    border: none;
}

section.horarios-items .container{
    flex-direction: column;
}
section.horarios-items .container article.titulo-horario{
    width: 100%;
}

section.horarios-items .container article.eventos{
    justify-content: space-between;
    flex-direction: column-reverse;
}

section.horarios-items .container article.eventos .calendario-item{
    margin: 0 auto;
    width: 100%;
}

section.horarios-items{
    padding-top: 0px;
}

section.horarios-items .container article.eventos .contendor-items{
    margin: auto;
}

section.horarios-items .ui-datepicker-calendar th{
    padding: 0px;
}

section.horarios-items .container article.eventos .contendor-items .card:before{
    border: none;
}

section.horarios-items .container article.titulo-horario h2{
    font-size: 28px;
}
section.horarios-items .ui-datepicker-header{
    font-size: 22px;
}



   
}


@media only screen and (max-width: 320px) {
	
}