@media only screen and (max-width: 767px) {
    header{
        .container{
            nav{
                display: none;}
        }
        .container nav#menu-mobile{
            display: block;
        }
    }

    footer aside.social{
        flex-direction: column;
    }

    footer aside.social .social{
        width: 90%;
        margin-top: 10px;
    }

    footer section.contactanos .column{
        width: 90%;
        float: none;
        display: block;
        margin: auto;}

    footer section.contactanos .column2{
        width: 95%;
        float: none;
        display: block;
        margin: auto;}

    footer .nav-footer figure.aprendo{
        float: none;
        margin: auto;
    }
    footer .nav-footer ul{
        text-align: center;
        width: 100%;}

    section.aviso-terminos .column-izquierda {
    float: none;
    width: 100%;
    padding: 0px 10px;}

    section.aviso-terminos h2{
        text-align: center;}

    section.aviso-terminos .column-derecha{
        display: none;
    }



   
}


@media only screen and (max-width: 320px) {
	
}