@media only screen and (max-width: 767px) {
    header{
        .container{
            nav{
                display: none;}
        }
        .container nav#menu-mobile{
            display: block;}
    }

    footer aside.social{
        flex-direction: column;}

    footer aside.social .social{
        width: 90%;
        margin-top: 10px;
    }

    footer section.contactanos .column{
        width: 90%;
        float: none;
        display: block;
        margin: auto;}

    footer section.contactanos .column2{
        width: 95%;
        float: none;
        display: block;
        margin: auto;}

    footer .nav-footer figure.aprendo{
        float: none;
        margin: auto;}

    footer .nav-footer ul{
        text-align: center;
        width: 100%;}

    section.aviso-terminos .column-izquierda {
    float: none;
    width: 100%;
    padding: 0px 10px;}

    section.aviso-terminos h2{
        text-align: center;}

    section.aviso-terminos .column-derecha{
        display: none;
    }

    section#timeline{
        padding-left: 15px;
        padding-right: 15px;
    }

    section#timeline:before{
        display: none;
    }
    section#timeline article div.inner span.date{
        display: none;
    }

    section#timeline article div.inner {
    width: 100%;
    float: none; 
    text-align: center;}
    section#timeline article:nth-child(2n+2) div.inner{
        float: none;
        text-align: center;}
    figure.cover-time{
        margin: auto;
        display: block;}





    section.precio-paquete h2{
        text-align: center;
    }
    section.precio-paquete section.paquetes article.paquete-items{
        width: 100%;
    }
    section.precio-paquete section.paquetes{
        padding-left: 5px;
        padding-right: 5px;}
    section.precio-paquete section.paquetes-individuales{
        flex-direction: column;
        padding-right: 0.3125rem;
        padding-left: 0.3125rem;}
    section.precio-paquete section.paquetes-individuales article.individual{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }
    section.leyenda-precio{
        padding-left: 5px;
        padding-right: 5px;
    }

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble{
        width: 100%;
        float: none;
    }

    section.precio-paquete section.paquetes article.paquete-doble .content{
        float: none;
        width: 100%;}

    section.precio-paquete section.paquetes article.paquete-doble figure.image-doble:after{
        bottom: 0px;
        left: 0px;
        height:0.625rem;
        width: 26.25rem;
    }



    section.cover-intro figure.imagen-cover{
        width: 100%;

    }

    section.cover-intro{
        padding-right: 5px;
        padding-left: 5px;
    }
    section.cover-intro article.leyenda-intro{
        width: 100%;
    }

    section.mega-pantalla article.nota-megapantalla{
        width: 100%;
        float: right;}

    section.mega-pantalla figure.video-megapantalla{
        width: 100%;
    }



    section.zona .circulo{
        width: 100%;
        float: none;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #00C0F2;
    }

    section.mega-familia figure.image-reino {
    float: right;
    width: 100%;}

    section.mega-familia .content{
        width: 80%;
        bottom: 5px;
    }



   
}


@media only screen and (max-width: 320px) {
	
}